In [1]:
import h5py
import tabulate
import contextily as ctx
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import rasterio
import random
import math
from datetime import datetime, timedelta
# from IPython.display import HTML, display
from os import path
from shapely.geometry import Point
from matplotlib_scalebar.scalebar import ScaleBar
from matplotlib.lines import Line2D
from matplotlib import cm
from matplotlib.colors import ListedColormap
from scipy import stats
import time
import multiprocessing
from multiprocessing import Pool
from rasterio.plot import show
import functools
from osgeo import ogr
from osgeo import gdal
import os
cwd = os.getcwd()
print(cwd)
from glob import glob
from os import path

/home/liangm/.conda/envs/ea_work/lib/python3.7/site-packages/geopandas/_compat.py:53: UserWarning: The installed version of PyGEOS is too old (0.6 installed, 0.8 required), and thus GeoPandas will not use PyGEOS.
  UserWarning,

/gpfs/data1/duncansongp/amberliang/EA_data

## 1. read in samples, filter and separte by year

In [3]:
tileSamps=pd.read_csv('samples/all_gedi_tile173060plus3.csv')
print(tileSamps.shape)
tt= tileSamps[~tileSamps['agbd'].isna()]  #822686
tt2= tileSamps.loc[(tileSamps['algorithm_run_flag']==1) & (tileSamps['l2_quality_flag']==1) &
#                           (alldf['degrade_flag']==0) &
#                             (tileSamps['biome']==1)&
#                            (df['biome']!=13) & (df['biome']!=14) & (df['biome']!=0) &
                          (tileSamps['l4_quality_flag']==1) & tileSamps['agbd'].notnull()]
print(len(tt), len(tt2))

6511061 2637672

In [4]:
tt2.columns.tolist
tt2.delta_time

# datetime since
dt1 = datetime(2018, 1, 1, 0, 0, 0)
tt2['delta_time']=dt1+pd.to_timedelta(tt2['delta_time'],unit='s')
# type(sample['delta_time'][1])
# sample['delta_time'][1].date().year
tt2['year']=tt2['delta_time'].dt.year
tt2.year.value_counts()

/home/liangm/.conda/envs/ea_work/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/liangm/.conda/envs/ea_work/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

2020    993337
2019    830387
2021    813948
Name: year, dtype: int64

In [5]:
sample2019=tt2[tt2["year"]==2019]
sample2020=tt2[tt2["year"]==2020]
sample2021=tt2[tt2["year"]==2021]
# sample2020

sample2019.to_csv(cwd + '/' + "samples/all_gedi_tile173060plus3filtered_2019.csv", encoding='utf-8', index=False) 
sample2020.to_csv(cwd + '/' + "samples/all_gedi_tile173060plus3filtered_2020.csv", encoding='utf-8', index=False) 
sample2021.to_csv(cwd + '/' + "samples/all_gedi_tile173060plus3filtered_2021.csv", encoding='utf-8', index=False)

## 2. extract landsat metrics by year

In [7]:
topo = gdal.Open('/gpfs/data1/duncansongp/amberliang/EA_data/ancillary_vars/topo_stack.tif')
print(topo.GetRasterBand(3).GetDescription())

aspect

In [9]:
def get_raster_value(geo_x, geo_y, ds, band_index):
#     """Return raster value that corresponds to given coordinates."""
    forward_transform = ds.GetGeoTransform()
    pixel_width = forward_transform[1]
    pixel_height = -forward_transform[5]    
    reverse_transform = gdal.InvGeoTransform(forward_transform)
    pixel_coord = gdal.ApplyGeoTransform(reverse_transform, geo_x, geo_y)
    pixel_x = math.floor(pixel_coord[0])
    pixel_y = math.floor(pixel_coord[1])
    band = ds.GetRasterBand(band_index)
    val_arr = band.ReadAsArray(pixel_x, pixel_y, 1, 1) # Avoid reading the whole raster into memory - read 1x1 array
    if val_arr is None:
#         pass
#         print(out)
        return np.nan
    else:
        out=val_arr[0][0]
#         print(out)
        return out
def bname(ds, band_index):
    return  ds.GetRasterBand(band_index).GetDescription()

def getEx(pt, ds):
    from shapely.geometry import Polygon
    """ Return list of corner coordinates from a gdal Dataset """
    xmin, xpixel, _, ymax, _, ypixel = ds.GetGeoTransform()
    width, height = ds.RasterXSize, ds.RasterYSize
    xmax = xmin + width * xpixel
    ymin = ymax + height * ypixel
    
    poly=Polygon(((xmin, ymax), (xmax, ymax), (xmax, ymin), (xmin, ymin)))
    return poly.contains(pt)  #return true or false 

def ls_Extract(tileX, yr, biome, cornerInd):
    #tileX=tileX[0]
    print('tile', tileX)
    print('yr', yr)
    print('biome', biome)
    yr=str(yr)
    biome=str(biome)

    imageStack = "ls_lhs_medoid_"+tileX+"_"+yr+"_NBR_3by3_dur8_biome" + biome+ "-"+'*.tif'  ####!!![need to modify]!!!###
    out="/tilelevel_tile_"+tileX+"plus3_"+str(cornerInd)+ '_'+biome+'_'+yr+'_topo_lhs_nbr_33_dur8_nol2.csv'   ####!!![need to modify]!!!###

#     yr = yr[0]
#     tileX=tileX[0]
#     biome= biome[0]
    #preping the sample dataframe
    samples= pd.read_csv('samples/all_gedi_tile173060plus3filtered_'+yr+'.csv')   
#     samples =pd.read_csv("samples/"+"biome"+str(wwfbiome)+"_topo_training_l4a_l2b_lhs_nbr_33_dur8_empty_ndvi_"+yr+".csv")
    print('total samples', samples.shape)
    sample2020_min_1 = samples#.iloc[0:100]# [(samples['biome']==int(biome))]#cwd + '/' + "kibale_lite_for_gee_nicfi_"+yr+".csv") 
    print('sub samples', sample2020_min_1.shape)
    #     sample2020_min_1['shot_number']= sample2020_min_1['shot_number'].astype(str)
#     print(sample2020_min_1.dtypes)
    sample2020_min_1_gdf= gpd.GeoDataFrame(sample2020_min_1, 
                                           geometry=gpd.points_from_xy(sample2020_min_1.lon_lowestmode, sample2020_min_1.lat_lowestmode), 
                                           crs="EPSG:4326")
    #add in tile information to the sample gdf for easy filtering in later step
#     join = gpd.sjoin(sample2020_min_1_gdf, polys, how='left',op="within")
#     sample2020_min_1_gdf = join[join['Name'].notnull()]
#     sample2020_min_1_gdf=sample2020_min_1_gdf.drop(['descriptio', 'timestamp', 'begin', 'end', 'altitudeMo',
#            'tessellate', 'extrude', 'visibility', 'drawOrder', 'icon', 'geometry','index_right'], axis=1)
#     sample2020_min_1_gdf['Name']=sample2020_min_1_gdf['Name'].str.replace('_', '0')
#     biomeYrDF= gpd.GeoDataFrame(sample2020_min_1_gdf, geometry=gpd.points_from_xy(sample2020_min_1_gdf.lon_lowestmode, sample2020_min_1_gdf.lat_lowestmode), crs="EPSG:4326")

    sample2020_min_1_gdf_tile=sample2020_min_1_gdf
    print(sample2020_min_1_gdf_tile.shape)
#     sample2020_min_1_gdf_tile = biomeYrDF[biomeYrDF['Name'] == tileX]
#     year ="allVI_NBR_fit_"+yr+"_dur_10_PW_"+tileX+"_ALL"+'*.tif'
    pdir= "/gpfs/data1/duncansongp/amberliang/EA_data/landsat_comp/"+yr   #EA_data/gd_data/
    # pdir= "/gpfs/data1/duncansongp/amberliang/gd2/all_metrics_NBR_fitted"
    outdir = '/gpfs/data1/duncansongp/amberliang/EA_data/ls_ltr_training'#biome'+str(biome)+'_'+yr
    annual_pl= glob.glob(path.join(pdir, imageStack))[cornerInd]  
#     print("Tif files for each tile of each year", list(annual_pl))
    print('number of subset in tile: '+str(cornerInd))
    
    df = pd.DataFrame()
    for rcount in range(0,1):#range(0,len(annual_pl)):
        print('raster', rcount)
        src=gdal.Open(annual_pl)#gdal.Open(annual_pl[rcount])
        topo = gdal.Open('/gpfs/data1/duncansongp/amberliang/EA_data/ancillary_vars/topo_stack.tif')
#         i = 0
        while i < len(sample2020_min_1_gdf_tile):
            
            geo_x, geo_y = sample2020_min_1_gdf_tile.iloc[i]['lon_lowestmode'],sample2020_min_1_gdf_tile.iloc[i]['lat_lowestmode'] #coord_list[i][0], coord_list[i][1]
            geom =  sample2020_min_1_gdf_tile.iloc[i].geometry  #convert to point with geom for checking if its in the ras ex
            outlist = {}
            outlist['shot_number']=  sample2020_min_1_gdf_tile.iloc[i]['shot_number'].astype(str)
            outlist['agbd']=  sample2020_min_1_gdf_tile.iloc[i]['agbd']
            outlist['lon_lowestmode']=  sample2020_min_1_gdf_tile.iloc[i]['lon_lowestmode']
            outlist['lat_lowestmode']=  sample2020_min_1_gdf_tile.iloc[i]['lat_lowestmode']
            if getEx(geom, src):
#                 print('point in this subset')
                print(i)
                for b in range(0, src.RasterCount):
                    bind=b+1
                    out0=get_raster_value(geo_x, geo_y, ds=src, band_index=bind)
#                     out00= get_raster_value(geo_x, geo_y, ds=topo, band_index=bind)
#                     print("extracted",out0)
    #                 print(bname(src, bind))
                    if out0 is None:
                        out0=np.nan
    #                 print(out0)

                    outlist[bname(src, bind)]=out0
                for t in range(0, topo.RasterCount):
                    tind=t+1
                    
                    out00= get_raster_value(geo_x, geo_y, ds=topo, band_index=tind)
#                     print("extracted",out0)
    #                 print(bname(src, bind))
                    if out00 is None:
                        out0=np.nan
    #                 print(out0)

                    outlist[bname(topo, tind)]=out00
#                 print(outlist)
                if not (all(np.isnan(value) for value in list(outlist.values())[4:])):
#                     print(all(np.isnan(value) for value in list(outlist.values())[1:]))
                    df = df.append(outlist, ignore_index=True)
                i+=1
            else: 
                i+=1
    print(df.shape)
    print(df)
    
    if len(df)>0:
#         sample2020_min_1_gdf_tile_out= sample2020_min_1_gdf_tile.join(df, on="shot_number",how='left')
#         print(sample2020_min_1_gdf_tile_out.shape)
        df = df[(df['ftv_ndvi_fit']!=0) & (df['GDMAG']!=0)]
        print(str(len(df))+" out of total "+ str(len(sample2020_min_1_gdf_tile))+" were extracted")
        df.to_csv(outdir+out, index=False)
        return(df)
#         return df
    else:
        return df

In [ ]:
args = [(biomeTiles, yr, biome, cornerInd) for biomeTiles in biomeTiles for yr in yrs for cornerInd in corners]
print(len(args))
print(args)

In [6]:
# shp="AOI/EA_wgs_tiles.shp"
# polys = gpd.read_file(shp)
import glob
wwfbiome=1
biomeTiles= ['173061','173060', '173059', '172061','172060', '172059']#list(pd.read_csv("TSMBF_WGS2_tiles.csv")['Name'].str.replace('_', '0'))# ['169055']
yrs= ['2021', '2020','2019']
corners=range(0,12)
biome=str(wwfbiome)
# args = [(biomeTiles, yr, biome) for biomeTiles in biomeTiles]
args = [(biomeTiles, yr, biome, cornerInd) for biomeTiles in biomeTiles for yr in yrs for cornerInd in corners]
print(len(args))
print(args)
# parallel processing 
def main():
    tic = time.time()
    pool = Pool(processes=12)  # set the processes max number 3
    result = pool.starmap(ls_Extract, args)
    pool.terminate()
    pool.join()
    print(result)
    print('end')
    toc = time.time()
    print('Done in {:.4f} seconds'.format(toc-tic))

    
if __name__ == "__main__":
    main()

216
[('173061', '2021', '1', 0), ('173061', '2021', '1', 1), ('173061', '2021', '1', 2), ('173061', '2021', '1', 3), ('173061', '2021', '1', 4), ('173061', '2021', '1', 5), ('173061', '2021', '1', 6), ('173061', '2021', '1', 7), ('173061', '2021', '1', 8), ('173061', '2021', '1', 9), ('173061', '2021', '1', 10), ('173061', '2021', '1', 11), ('173061', '2020', '1', 0), ('173061', '2020', '1', 1), ('173061', '2020', '1', 2), ('173061', '2020', '1', 3), ('173061', '2020', '1', 4), ('173061', '2020', '1', 5), ('173061', '2020', '1', 6), ('173061', '2020', '1', 7), ('173061', '2020', '1', 8), ('173061', '2020', '1', 9), ('173061', '2020', '1', 10), ('173061', '2020', '1', 11), ('173061', '2019', '1', 0), ('173061', '2019', '1', 1), ('173061', '2019', '1', 2), ('173061', '2019', '1', 3), ('173061', '2019', '1', 4), ('173061', '2019', '1', 5), ('173061', '2019', '1', 6), ('173061', '2019', '1', 7), ('173061', '2019', '1', 8), ('173061', '2019', '1', 9), ('173061', '2019', '1', 10), ('173061', '2019', '1', 11), ('173060', '2021', '1', 0), ('173060', '2021', '1', 1), ('173060', '2021', '1', 2), ('173060', '2021', '1', 3), ('173060', '2021', '1', 4), ('173060', '2021', '1', 5), ('173060', '2021', '1', 6), ('173060', '2021', '1', 7), ('173060', '2021', '1', 8), ('173060', '2021', '1', 9), ('173060', '2021', '1', 10), ('173060', '2021', '1', 11), ('173060', '2020', '1', 0), ('173060', '2020', '1', 1), ('173060', '2020', '1', 2), ('173060', '2020', '1', 3), ('173060', '2020', '1', 4), ('173060', '2020', '1', 5), ('173060', '2020', '1', 6), ('173060', '2020', '1', 7), ('173060', '2020', '1', 8), ('173060', '2020', '1', 9), ('173060', '2020', '1', 10), ('173060', '2020', '1', 11), ('173060', '2019', '1', 0), ('173060', '2019', '1', 1), ('173060', '2019', '1', 2), ('173060', '2019', '1', 3), ('173060', '2019', '1', 4), ('173060', '2019', '1', 5), ('173060', '2019', '1', 6), ('173060', '2019', '1', 7), ('173060', '2019', '1', 8), ('173060', '2019', '1', 9), ('173060', '2019', '1', 10), ('173060', '2019', '1', 11), ('173059', '2021', '1', 0), ('173059', '2021', '1', 1), ('173059', '2021', '1', 2), ('173059', '2021', '1', 3), ('173059', '2021', '1', 4), ('173059', '2021', '1', 5), ('173059', '2021', '1', 6), ('173059', '2021', '1', 7), ('173059', '2021', '1', 8), ('173059', '2021', '1', 9), ('173059', '2021', '1', 10), ('173059', '2021', '1', 11), ('173059', '2020', '1', 0), ('173059', '2020', '1', 1), ('173059', '2020', '1', 2), ('173059', '2020', '1', 3), ('173059', '2020', '1', 4), ('173059', '2020', '1', 5), ('173059', '2020', '1', 6), ('173059', '2020', '1', 7), ('173059', '2020', '1', 8), ('173059', '2020', '1', 9), ('173059', '2020', '1', 10), ('173059', '2020', '1', 11), ('173059', '2019', '1', 0), ('173059', '2019', '1', 1), ('173059', '2019', '1', 2), ('173059', '2019', '1', 3), ('173059', '2019', '1', 4), ('173059', '2019', '1', 5), ('173059', '2019', '1', 6), ('173059', '2019', '1', 7), ('173059', '2019', '1', 8), ('173059', '2019', '1', 9), ('173059', '2019', '1', 10), ('173059', '2019', '1', 11), ('172061', '2021', '1', 0), ('172061', '2021', '1', 1), ('172061', '2021', '1', 2), ('172061', '2021', '1', 3), ('172061', '2021', '1', 4), ('172061', '2021', '1', 5), ('172061', '2021', '1', 6), ('172061', '2021', '1', 7), ('172061', '2021', '1', 8), ('172061', '2021', '1', 9), ('172061', '2021', '1', 10), ('172061', '2021', '1', 11), ('172061', '2020', '1', 0), ('172061', '2020', '1', 1), ('172061', '2020', '1', 2), ('172061', '2020', '1', 3), ('172061', '2020', '1', 4), ('172061', '2020', '1', 5), ('172061', '2020', '1', 6), ('172061', '2020', '1', 7), ('172061', '2020', '1', 8), ('172061', '2020', '1', 9), ('172061', '2020', '1', 10), ('172061', '2020', '1', 11), ('172061', '2019', '1', 0), ('172061', '2019', '1', 1), ('172061', '2019', '1', 2), ('172061', '2019', '1', 3), ('172061', '2019', '1', 4), ('172061', '2019', '1', 5), ('172061', '2019', '1', 6), ('172061', '2019', '1', 7), ('172061', '2019', '1', 8), ('172061', '2019', '1', 9), ('172061', '2019', '1', 10), ('172061', '2019', '1', 11), ('172060', '2021', '1', 0), ('172060', '2021', '1', 1), ('172060', '2021', '1', 2), ('172060', '2021', '1', 3), ('172060', '2021', '1', 4), ('172060', '2021', '1', 5), ('172060', '2021', '1', 6), ('172060', '2021', '1', 7), ('172060', '2021', '1', 8), ('172060', '2021', '1', 9), ('172060', '2021', '1', 10), ('172060', '2021', '1', 11), ('172060', '2020', '1', 0), ('172060', '2020', '1', 1), ('172060', '2020', '1', 2), ('172060', '2020', '1', 3), ('172060', '2020', '1', 4), ('172060', '2020', '1', 5), ('172060', '2020', '1', 6), ('172060', '2020', '1', 7), ('172060', '2020', '1', 8), ('172060', '2020', '1', 9), ('172060', '2020', '1', 10), ('172060', '2020', '1', 11), ('172060', '2019', '1', 0), ('172060', '2019', '1', 1), ('172060', '2019', '1', 2), ('172060', '2019', '1', 3), ('172060', '2019', '1', 4), ('172060', '2019', '1', 5), ('172060', '2019', '1', 6), ('172060', '2019', '1', 7), ('172060', '2019', '1', 8), ('172060', '2019', '1', 9), ('172060', '2019', '1', 10), ('172060', '2019', '1', 11), ('172059', '2021', '1', 0), ('172059', '2021', '1', 1), ('172059', '2021', '1', 2), ('172059', '2021', '1', 3), ('172059', '2021', '1', 4), ('172059', '2021', '1', 5), ('172059', '2021', '1', 6), ('172059', '2021', '1', 7), ('172059', '2021', '1', 8), ('172059', '2021', '1', 9), ('172059', '2021', '1', 10), ('172059', '2021', '1', 11), ('172059', '2020', '1', 0), ('172059', '2020', '1', 1), ('172059', '2020', '1', 2), ('172059', '2020', '1', 3), ('172059', '2020', '1', 4), ('172059', '2020', '1', 5), ('172059', '2020', '1', 6), ('172059', '2020', '1', 7), ('172059', '2020', '1', 8), ('172059', '2020', '1', 9), ('172059', '2020', '1', 10), ('172059', '2020', '1', 11), ('172059', '2019', '1', 0), ('172059', '2019', '1', 1), ('172059', '2019', '1', 2), ('172059', '2019', '1', 3), ('172059', '2019', '1', 4), ('172059', '2019', '1', 5), ('172059', '2019', '1', 6), ('172059', '2019', '1', 7), ('172059', '2019', '1', 8), ('172059', '2019', '1', 9), ('172059', '2019', '1', 10), ('172059', '2019', '1', 11)]

In [10]:
# import glob
# wwfbiome=1
# biomeTiles= ['173060']#list(pd.read_csv("TSMBF_WGS2_tiles.csv")['Name'].str.replace('_', '0'))# ['169055']
# ## same extraction as below but using a looping method, good for testing 
# tic = time.time()
# for ind in range(0,12):
#     for yy in [2021]:
#         print(yy)
#         for tile in biomeTiles:
#             print(tile)
#     #         imageStack ="allVI_NBR_fit_"+yr+"_dur_10_PW_"+tileX+"_ALL"+'*.tif'
#     #         imageStack = "ls_lhs_medoid_"+tile+"_"+yr+"_NBR_3by3_dur8_biome" + str(wwfbiome)+ "-"+'*.tif'  ####!!![need to modify]!!!###
#     #         outName="/tile_"+tile+ '_'+biome+'_'+yr+'_topo_lhs_nbr_33_dur8.csv'   ####!!![need to modify]!!!###
#             annual_tile_samp= ls_Extract(tileX=tile, yr=yy, biome = wwfbiome, cornerInd= ind)
# toc = time.time()
# print('Done in {:.4f} seconds'.format(toc-tic))

2021
173060
tile 173060
yr 2021
biome 1
total samples (113265, 53)
sub samples (100, 53)
(100, 53)
number of subset in tile: 0
raster 0
7
12
13
14
15
16
17
18
19
20
21
22
(12, 104)
    ADDUR  ADMAG  ADMG5  ADRE  ADRE5  ADROC  ADVA5  ADVAL     BDDUR     BDMAG  \
0     0.0    0.0    0.0   0.0    0.0    0.0    0.0    0.0  0.000000  0.000000
1     0.0    0.0    0.0   0.0    0.0    0.0    0.0    0.0  0.000000  0.000000
2     0.0    0.0    0.0   0.0    0.0    0.0    0.0    0.0  0.000000  0.000000
3     0.0    0.0    0.0   0.0    0.0    0.0    0.0    0.0  0.061224 -0.063918
4     0.0    0.0    0.0   0.0    0.0    0.0    0.0    0.0  0.000000  0.000000
5     0.0    0.0    0.0   0.0    0.0    0.0    0.0    0.0  0.000000  0.000000
6     0.0    0.0    0.0   0.0    0.0    0.0    0.0    0.0  0.000000  0.000000
7     0.0    0.0    0.0   0.0    0.0    0.0    0.0    0.0  0.000000  0.000000
8     0.0    0.0    0.0   0.0    0.0    0.0    0.0    0.0  0.000000  0.000000
9     0.0    0.0    0.0   0.0    0.0    0.0    0.0    0.0  0.000000  0.000000
10    0.0    0.0    0.0   0.0    0.0    0.0    0.0    0.0  0.000000  0.000000
11    0.0    0.0    0.0   0.0    0.0    0.0    0.0    0.0  0.000000  0.000000

    ...  ftv_ndsi_fit  ftv_ndvi_fit  ftv_tca_fit  ftv_tcb_fit  ftv_tcg_fit  \
0   ...           0.0           0.0          0.0          0.0          0.0
1   ...           0.0           0.0          0.0          0.0          0.0
2   ...           0.0           0.0          0.0          0.0          0.0
3   ...           0.0           0.0          0.0          0.0          0.0
4   ...           0.0           0.0          0.0          0.0          0.0
5   ...           0.0           0.0          0.0          0.0          0.0
6   ...           0.0           0.0          0.0          0.0          0.0
7   ...           0.0           0.0          0.0          0.0          0.0
8   ...           0.0           0.0          0.0          0.0          0.0
9   ...           0.0           0.0          0.0          0.0          0.0
10  ...           0.0           0.0          0.0          0.0          0.0
11  ...           0.0           0.0          0.0          0.0          0.0

    ftv_tcw_fit  lat_lowestmode  lon_lowestmode         shot_number  \
0           0.0        0.359874       29.949605  125260300400502486
1           0.0        0.384466       29.922217  125260500400502510
2           0.0        0.382782       29.923403  125260500400502514
3           0.0        0.379840       29.925474  125260500400502521
4           0.0        0.365557       29.935536  125260500400502553
5           0.0        0.365134       29.935834  125260500400502554
6           0.0        0.364712       29.936131  125260500400502555
7           0.0        0.362602       29.937619  125260500400502560
8           0.0        0.361338       29.938509  125260500400502563
9           0.0        0.359649       29.939699  125260500400502567
10          0.0        0.359226       29.939996  125260500400502568
11          0.0        0.358803       29.940295  125260500400502569

         slope
0   6731197.00
1   4351779.50
2   8145891.50
3   1084185.25
4   8269705.50
5   8743075.00
6   8345781.50
7   6486993.50
8   4772006.50
9   6025344.00
10  9040006.00
11  8270224.50

[12 rows x 104 columns]
0 out of total 100 were extracted
2021
173060
tile 173060
yr 2021
biome 1
total samples (113265, 53)
sub samples (100, 53)
(100, 53)
number of subset in tile: 1
raster 0
(0, 0)
Empty DataFrame
Columns: []
Index: []
2021
173060
tile 173060
yr 2021
biome 1
total samples (113265, 53)
sub samples (100, 53)
(100, 53)
number of subset in tile: 2
raster 0
0
1
2
3
4
8
9
10
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
(85, 104)
       ADDUR     ADMAG     ADMG5      ADRE     ADRE5     ADROC       ADVA5  \
0   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000    0.000000
1   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000    0.000000
2   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000    0.000000
3   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000    0.000000
4   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000    0.000000
..       ...       ...       ...       ...       ...       ...         ...
80  0.285714 -1.050888 -0.750634  0.001584  0.000402 -0.150127 -659.377742
81  0.367347 -9.100120 -6.032903  0.010532 -0.004180 -1.370095 -539.896361
82  0.000000  0.000000  0.000000 -0.001730 -0.001730  0.000000 -554.637875
83  0.265306 -1.409443 -1.195487  0.000597 -0.001725 -0.239097 -545.921082
84  0.693878 -5.842031 -4.361622  0.006860 -0.001251 -0.872324 -590.616294

         ADVAL     BDDUR      BDMAG  ...  ftv_ndsi_fit  ftv_ndvi_fit  \
0     0.000000  0.061224  -0.047957  ...      0.000000      0.000000
1     0.000000  0.000000   0.000000  ...      0.000000      0.000000
2     0.000000  0.000000   0.000000  ...      0.000000      0.000000
3     0.000000  0.000000   0.000000  ...      0.000000      0.000000
4     0.000000  0.000000   0.000000  ...      0.000000      0.000000
..         ...       ...        ...  ...           ...           ...
80 -658.627108  0.000000   0.000000  ...   -499.311536    836.431707
81 -533.863458  1.040816  -0.923003  ...   -520.751343    761.061531
82 -554.637875  2.632653  -4.038970  ...   -491.965463    753.478920
83 -544.725594  3.081633  -9.608607  ...   -482.707095    745.724181
84 -586.254672  2.224490 -12.017460  ...   -491.413346    778.246937

    ftv_tca_fit  ftv_tcb_fit  ftv_tcg_fit  ftv_tcw_fit  lat_lowestmode  \
0      0.000000     0.000000     0.000000     0.000000        0.311541
1      0.000000     0.000000     0.000000     0.000000        0.319268
2      0.000000     0.000000     0.000000     0.000000        0.349184
3      0.000000     0.000000     0.000000     0.000000        0.346669
4      0.000000     0.000000     0.000000     0.000000        0.306669
..          ...          ...          ...          ...             ...
80  3748.821968  2527.196498  1934.367588  -587.422244        0.247971
81  3224.372799  2961.783125  1933.079629  -962.653830        0.245862
82  3240.068043  3209.636043  2045.978825  -967.664054        0.243329
83  3188.576537  3246.830961  2028.524617  -986.237416        0.242905
84  3393.998314  3308.468180  2240.351906  -902.870061        0.242484

    lon_lowestmode         shot_number      slope
0        30.001178  125260000400502663  2968302.5
1        29.989160  125260100400502618  4871697.0
2        29.963725  125260200400502548  2596929.5
3        29.965491  125260200400502554  4221500.5
4        29.993676  125260200400502649  4823628.0
..             ...                 ...        ...
80       30.018373  125260500400502832  4846223.0
81       30.019860  125260500400502837  4262486.0
82       30.021648  125260500400502843  3705574.0
83       30.021947  125260500400502844  2373722.0
84       30.022244  125260500400502845  3992462.0

[85 rows x 104 columns]
16 out of total 100 were extracted
2021
173060
tile 173060
yr 2021
biome 1
total samples (113265, 53)
sub samples (100, 53)
(100, 53)
number of subset in tile: 3
raster 0
5
6
11
(3, 104)
      ADDUR      ADMAG      ADMG5      ADRE     ADRE5     ADROC       ADVA5  \
0  0.306122 -14.238140 -14.238140  0.044414  0.006362 -2.847628 -551.772995
1  1.244898 -58.093829 -37.196693  0.449190  0.035971 -8.943953 -555.800647
2  0.816327  -2.797545  -3.949146  0.004964 -0.002975 -0.365765 -390.269338

        ADVAL     BDDUR      BDMAG  ...  ftv_ndsi_fit  ftv_ndvi_fit  \
0 -537.534855  0.040816  -1.906791  ...   -525.164198    767.332967
1 -518.603954  0.061224  -0.240272  ...   -432.145013    700.100851
2 -386.320192  1.081633 -19.129139  ...   -485.101534    626.425154

   ftv_tca_fit  ftv_tcb_fit  ftv_tcg_fit  ftv_tcw_fit  lat_lowestmode  \
0  3280.153403  2942.750828  1880.005439  -967.034811        0.235398
1  2909.177748  3216.422320  1911.464783  -939.940229        0.081623
2  2484.764205  3238.058075  1501.810734 -1312.946857        0.185321

   lon_lowestmode         shot_number         slope
0       30.043935  125260200400502817  3.526632e+06
1       30.152307  125260200400503179  5.062618e+04
2       30.072667  125260300400502898  3.693235e+05

[3 rows x 104 columns]
3 out of total 100 were extracted
2021
173060
tile 173060
yr 2021
biome 1

total samples (113265, 53)
sub samples (100, 53)
(100, 53)
number of subset in tile: 4
raster 0
(0, 0)
Empty DataFrame
Columns: []
Index: []
2021
173060
tile 173060
yr 2021
biome 1
total samples (113265, 53)
sub samples (100, 53)
(100, 53)
number of subset in tile: 5
raster 0
(0, 0)
Empty DataFrame
Columns: []
Index: []
2021
173060
tile 173060
yr 2021
biome 1
total samples (113265, 53)
sub samples (100, 53)
(100, 53)
number of subset in tile: 6
raster 0
(0, 0)
Empty DataFrame
Columns: []
Index: []
2021
173060
tile 173060
yr 2021
biome 1
total samples (113265, 53)
sub samples (100, 53)
(100, 53)
number of subset in tile: 7
raster 0
(0, 0)
Empty DataFrame
Columns: []
Index: []
2021
173060
tile 173060
yr 2021
biome 1
total samples (113265, 53)
sub samples (100, 53)
(100, 53)
number of subset in tile: 8
raster 0
(0, 0)
Empty DataFrame
Columns: []
Index: []
2021
173060
tile 173060
yr 2021
biome 1
total samples (113265, 53)
sub samples (100, 53)
(100, 53)
number of subset in tile: 9
raster 0
(0, 0)
Empty DataFrame
Columns: []
Index: []
2021
173060
tile 173060
yr 2021
biome 1
total samples (113265, 53)
sub samples (100, 53)
(100, 53)
number of subset in tile: 10
raster 0
(0, 0)
Empty DataFrame
Columns: []
Index: []
2021
173060
tile 173060
yr 2021
biome 1
total samples (113265, 53)
sub samples (100, 53)
(100, 53)
number of subset in tile: 11
raster 0
(0, 0)
Empty DataFrame
Columns: []
Index: []
Done in 25.0581 seconds

## 3. combine extracted files for tile 173060

In [8]:
extracted=  glob('ls_ltr_training/tile168064_filtered_l4a_ls_output_corner/*.csv')#*plus3_*_nol2.csv')  
print(len(extracted))
tileEx= pd.DataFrame([])
for ef in extracted:
    print(ef)
    ex= pd.read_csv(ef)
    tileEx = tileEx.append(ex, ignore_index=True)
    print(tileEx.shape)
##export the ls_l4a to a csv file 
# tileEx.to_csv('ls_ltr_training/tile169055_l4a_topo_ls_lhs_nbr_33_dur8_highval.csv')

27
ls_ltr_training/tile168064_filtered_l4a_ls_output_corner/tilelevel_tile_168064_cor6_biom1_2019_topo_lhs_nbr_33_dur8.csv
(14072, 104)
ls_ltr_training/tile168064_filtered_l4a_ls_output_corner/tilelevel_tile_168064_cor1_biom1_2021_topo_lhs_nbr_33_dur8.csv
(64665, 104)
ls_ltr_training/tile168064_filtered_l4a_ls_output_corner/tilelevel_tile_168064_cor7_biom1_2020_topo_lhs_nbr_33_dur8.csv
(84641, 104)
ls_ltr_training/tile168064_filtered_l4a_ls_output_corner/tilelevel_tile_168064_cor10_biom1_2020_topo_lhs_nbr_33_dur8.csv
(93605, 104)
ls_ltr_training/tile168064_filtered_l4a_ls_output_corner/tilelevel_tile_168064_cor5_biom1_2021_topo_lhs_nbr_33_dur8.csv
(111318, 104)
ls_ltr_training/tile168064_filtered_l4a_ls_output_corner/tilelevel_tile_168064_cor13_biom1_2021_topo_lhs_nbr_33_dur8.csv
(145991, 104)
ls_ltr_training/tile168064_filtered_l4a_ls_output_corner/tilelevel_tile_168064_cor5_biom1_2019_topo_lhs_nbr_33_dur8.csv
(172248, 104)
ls_ltr_training/tile168064_filtered_l4a_ls_output_corner/tilelevel_tile_168064_cor0_biom1_2021_topo_lhs_nbr_33_dur8.csv
(206527, 104)
ls_ltr_training/tile168064_filtered_l4a_ls_output_corner/tilelevel_tile_168064_cor8_biom1_2019_topo_lhs_nbr_33_dur8.csv
(245683, 104)
ls_ltr_training/tile168064_filtered_l4a_ls_output_corner/tilelevel_tile_168064_cor4_biom1_2019_topo_lhs_nbr_33_dur8.csv
(264607, 104)
ls_ltr_training/tile168064_filtered_l4a_ls_output_corner/tilelevel_tile_168064_cor11_biom1_2021_topo_lhs_nbr_33_dur8.csv
(307038, 104)
ls_ltr_training/tile168064_filtered_l4a_ls_output_corner/tilelevel_tile_168064_cor1_biom1_2020_topo_lhs_nbr_33_dur8.csv
(334454, 104)
ls_ltr_training/tile168064_filtered_l4a_ls_output_corner/tilelevel_tile_168064_cor12_biom1_2021_topo_lhs_nbr_33_dur8.csv
(378258, 104)
ls_ltr_training/tile168064_filtered_l4a_ls_output_corner/tilelevel_tile_168064_cor7_biom1_2021_topo_lhs_nbr_33_dur8.csv
(436111, 104)
ls_ltr_training/tile168064_filtered_l4a_ls_output_corner/tilelevel_tile_168064_cor6_biom1_2021_topo_lhs_nbr_33_dur8.csv
(489247, 104)
ls_ltr_training/tile168064_filtered_l4a_ls_output_corner/tilelevel_tile_168064_cor9_biom1_2019_topo_lhs_nbr_33_dur8.csv
(519727, 104)
ls_ltr_training/tile168064_filtered_l4a_ls_output_corner/tilelevel_tile_168064_cor3_biom1_2020_topo_lhs_nbr_33_dur8.csv
(560607, 104)
ls_ltr_training/tile168064_filtered_l4a_ls_output_corner/tilelevel_tile_168064_cor8_biom1_2020_topo_lhs_nbr_33_dur8.csv
(580738, 104)
ls_ltr_training/tile168064_filtered_l4a_ls_output_corner/tilelevel_tile_168064_cor4_biom1_2020_topo_lhs_nbr_33_dur8.csv
(609908, 104)
ls_ltr_training/tile168064_filtered_l4a_ls_output_corner/tilelevel_tile_168064_cor4_biom1_2021_topo_lhs_nbr_33_dur8.csv
(622728, 104)
ls_ltr_training/tile168064_filtered_l4a_ls_output_corner/tilelevel_tile_168064_cor15_biom1_2020_topo_lhs_nbr_33_dur8.csv
(647263, 104)
ls_ltr_training/tile168064_filtered_l4a_ls_output_corner/tilelevel_tile_168064_cor9_biom1_2020_topo_lhs_nbr_33_dur8.csv
(661703, 104)
ls_ltr_training/tile168064_filtered_l4a_ls_output_corner/tilelevel_tile_168064_cor13_biom1_2020_topo_lhs_nbr_33_dur8.csv
(677158, 104)
ls_ltr_training/tile168064_filtered_l4a_ls_output_corner/tilelevel_tile_168064_cor3_biom1_2019_topo_lhs_nbr_33_dur8.csv
(693275, 104)
ls_ltr_training/tile168064_filtered_l4a_ls_output_corner/tilelevel_tile_168064_cor14_biom1_2019_topo_lhs_nbr_33_dur8.csv
(718888, 104)
ls_ltr_training/tile168064_filtered_l4a_ls_output_corner/tilelevel_tile_168064_cor13_biom1_2019_topo_lhs_nbr_33_dur8.csv
(757644, 104)
ls_ltr_training/tile168064_filtered_l4a_ls_output_corner/tilelevel_tile_168064_cor7_biom1_2019_topo_lhs_nbr_33_dur8.csv
(774802, 104)

In [9]:
#for desa combine tile 168051 + 168050 
t1 = tileEx
# t1= pd.read_csv('ls_ltr_training/tile169055_l4a_topo_ls_lhs_nbr_33_dur8_highval.csv')
# t2= pd.read_csv('ls_ltr_training/tile168051_l4a_topo_ls_lhs_nbr_33_dur8_highval.csv')
# t12= t1.append(t2, ignore_index=True)

In [10]:
l4a_orig=  glob('l4a_csv/dodoma1/*.csv')#*plus3_*_nol2.csv')  
print(len(l4a_orig))
l4a_orig_all= pd.DataFrame([])
for ef in l4a_orig:
    print(ef)
    ex= pd.read_csv(ef)
    l4a_orig_all = l4a_orig_all.append(ex, ignore_index=True)
    print(l4a_orig_all.shape)

254
l4a_csv/dodoma1/GEDI04_A_2020331101959_O11085_01_T08287_02_002_02_V002_sub.h5.csv
(2457, 51)
l4a_csv/dodoma1/GEDI04_A_2022223035610_O20739_01_T00208_02_003_01_V002_sub.h5.csv
(31000, 51)
l4a_csv/dodoma1/GEDI04_A_2021134031240_O13700_04_T09748_02_002_02_V002_sub.h5.csv
(37467, 51)
l4a_csv/dodoma1/GEDI04_A_2022200125213_O20388_01_T10475_02_003_02_V002_sub.h5.csv
(66006, 51)
l4a_csv/dodoma1/GEDI04_A_2021332204942_O16780_04_T08218_02_002_02_V002_sub.h5.csv
(69476, 51)
l4a_csv/dodoma1/GEDI04_A_2021016140121_O11878_01_T10475_02_002_02_V002_sub.h5.csv
(98074, 51)
l4a_csv/dodoma1/GEDI04_A_2021314160444_O16498_01_T06818_02_002_02_V002_sub.h5.csv
(108044, 51)
l4a_csv/dodoma1/GEDI04_A_2021322130148_O16620_01_T07782_02_002_02_V002_sub.h5.csv
(136637, 51)
l4a_csv/dodoma1/GEDI04_A_2021157175543_O14066_04_T06443_02_002_02_V002_sub.h5.csv
(162465, 51)
l4a_csv/dodoma1/GEDI04_A_2020092085413_O07379_01_T01172_02_002_02_V002_sub.h5.csv
(165782, 51)
l4a_csv/dodoma1/GEDI04_A_2020169140154_O08576_04_T00445_02_002_02_V002_sub.h5.csv
(199924, 51)
l4a_csv/dodoma1/GEDI04_A_2022318140423_O22219_01_T05242_02_003_01_V002_sub.h5.csv
(222102, 51)
l4a_csv/dodoma1/GEDI04_A_2022229130629_O20838_04_T03597_02_003_01_V002_sub.h5.csv
(247148, 51)
l4a_csv/dodoma1/GEDI04_A_2019286160307_O04732_04_T01363_02_002_02_V002_sub.h5.csv
(249935, 51)
l4a_csv/dodoma1/GEDI04_A_2020165153631_O08515_04_T04714_02_002_02_V002_sub.h5.csv
(281086, 51)
l4a_csv/dodoma1/GEDI04_A_2019165043307_O02847_01_T01784_02_002_02_V002_sub.h5.csv
(309630, 51)
l4a_csv/dodoma1/GEDI04_A_2021177101135_O14371_04_T01868_02_002_02_V002_sub.h5.csv
(338500, 51)
l4a_csv/dodoma1/GEDI04_A_2019282174028_O04671_04_T03597_02_002_02_V002_sub.h5.csv
(363581, 51)
l4a_csv/dodoma1/GEDI04_A_2021155070520_O14028_01_T09664_02_002_02_V002_sub.h5.csv
(371312, 51)
l4a_csv/dodoma1/GEDI04_A_2020060212113_O06891_01_T01325_02_002_02_V002_sub.h5.csv
(383793, 51)
l4a_csv/dodoma1/GEDI04_A_2019118225703_O02129_01_T05594_02_002_02_V002_sub.h5.csv
(393936, 51)
l4a_csv/dodoma1/GEDI04_A_2020084115938_O07257_01_T04171_02_002_02_V002_sub.h5.csv
(408703, 51)
l4a_csv/dodoma1/GEDI04_A_2019112013932_O02022_01_T01631_02_002_02_V002_sub.h5.csv
(434513, 51)
l4a_csv/dodoma1/GEDI04_A_2022324231525_O22318_04_T04209_02_003_01_V002_sub.h5.csv
(435773, 51)
l4a_csv/dodoma1/GEDI04_A_2021167022642_O14211_01_T02396_02_002_02_V002_sub.h5.csv
(460235, 51)
l4a_csv/dodoma1/GEDI04_A_2021242202702_O15385_01_T09817_02_002_02_V002_sub.h5.csv
(460235, 51)
l4a_csv/dodoma1/GEDI04_A_2019121093906_O02167_04_T05020_02_002_02_V002_sub.h5.csv
(488166, 51)
l4a_csv/dodoma1/GEDI04_A_2021163035937_O14150_01_T05242_02_002_02_V002_sub.h5.csv
(510367, 51)
l4a_csv/dodoma1/GEDI04_A_2019220063759_O03702_01_T00973_02_002_02_V002_sub.h5.csv
(530327, 51)
l4a_csv/dodoma1/GEDI04_A_2021028092142_O12061_01_T06053_02_002_02_V002_sub.h5.csv
(558885, 51)
l4a_csv/dodoma1/GEDI04_A_2022123191819_O19198_01_T04171_02_003_01_V002_sub.h5.csv
(573633, 51)
l4a_csv/dodoma1/GEDI04_A_2022349015858_O22692_01_T02549_02_003_01_V002_sub.h5.csv
(589173, 51)
l4a_csv/dodoma1/GEDI04_A_2022093072236_O18725_01_T01478_02_003_01_V002_sub.h5.csv
(605683, 51)
l4a_csv/dodoma1/GEDI04_A_2021174232042_O14333_01_T06512_02_002_02_V002_sub.h5.csv
(633494, 51)
l4a_csv/dodoma1/GEDI04_A_2021008170925_O11756_01_T08746_02_002_02_V002_sub.h5.csv
(662093, 51)
l4a_csv/dodoma1/GEDI04_A_2022339173535_O22547_04_T01256_02_003_01_V002_sub.h5.csv
(670962, 51)
l4a_csv/dodoma1/GEDI04_A_2021198140753_O14699_01_T06864_02_002_02_V002_sub.h5.csv
(675923, 51)
l4a_csv/dodoma1/GEDI04_A_2021020122717_O11939_01_T09052_02_002_02_V002_sub.h5.csv
(704474, 51)
l4a_csv/dodoma1/GEDI04_A_2022199011653_O20365_04_T02832_02_003_02_V002_sub.h5.csv
(716368, 51)
l4a_csv/dodoma1/GEDI04_A_2019302215607_O04984_01_T02090_02_002_02_V002_sub.h5.csv
(744961, 51)
l4a_csv/dodoma1/GEDI04_A_2021246185532_O15446_01_T11087_02_002_02_V002_sub.h5.csv
(759395, 51)
l4a_csv/dodoma1/GEDI04_A_2022012151006_O17474_01_T05548_02_002_02_V002_sub.h5.csv
(763804, 51)
l4a_csv/dodoma1/GEDI04_A_2022015015914_O17512_04_T09442_02_002_02_V002_sub.h5.csv
(782161, 51)
l4a_csv/dodoma1/GEDI04_A_2021171005344_O14272_01_T03666_02_002_02_V002_sub.h5.csv
(808860, 51)
l4a_csv/dodoma1/GEDI04_A_2020090211723_O07356_04_T02526_02_002_02_V002_sub.h5.csv
(809047, 51)
l4a_csv/dodoma1/GEDI04_A_2020355005840_O11451_01_T05747_02_002_02_V002_sub.h5.csv
(831582, 51)
l4a_csv/dodoma1/GEDI04_A_2020149215438_O08271_04_T04102_02_002_02_V002_sub.h5.csv
(841950, 51)
l4a_csv/dodoma1/GEDI04_A_2022135142852_O19381_01_T04125_02_003_01_V002_sub.h5.csv
(842208, 51)
l4a_csv/dodoma1/GEDI04_A_2019329112445_O05396_01_T03360_02_002_02_V002_sub.h5.csv
(870732, 51)
l4a_csv/dodoma1/GEDI04_A_2020083002248_O07234_04_T05525_02_002_02_V002_sub.h5.csv
(878191, 51)
l4a_csv/dodoma1/GEDI04_A_2019178110334_O03053_04_T01715_02_002_02_V002_sub.h5.csv
(901742, 51)
l4a_csv/dodoma1/GEDI04_A_2021044031039_O12305_01_T10016_02_002_02_V002_sub.h5.csv
(919907, 51)
l4a_csv/dodoma1/GEDI04_A_2020339071311_O11207_01_T07017_02_002_02_V002_sub.h5.csv
(933521, 51)
l4a_csv/dodoma1/GEDI04_A_2021015022501_O11855_04_T10100_02_002_02_V002_sub.h5.csv
(952073, 51)
l4a_csv/dodoma1/GEDI04_A_2020175000324_O08660_01_T05395_02_002_02_V002_sub.h5.csv
(965221, 51)
l4a_csv/dodoma1/GEDI04_A_2021262125052_O15690_01_T01172_02_002_02_V002_sub.h5.csv
(968758, 51)
l4a_csv/dodoma1/GEDI04_A_2019204005710_O03450_04_T02832_02_002_02_V002_sub.h5.csv
(980592, 51)
l4a_csv/dodoma1/GEDI04_A_2020343053938_O11268_01_T09863_02_002_02_V002_sub.h5.csv
(996473, 51)
l4a_csv/dodoma1/GEDI04_A_2022341051119_O22570_01_T08746_02_003_01_V002_sub.h5.csv
(1025042, 51)
l4a_csv/dodoma1/GEDI04_A_2019189064949_O03221_04_T01103_02_002_02_V002_sub.h5.csv
(1028120, 51)
l4a_csv/dodoma1/GEDI04_A_2022173231751_O19976_01_T01279_02_003_02_V002_sub.h5.csv
(1030312, 51)
l4a_csv/dodoma1/GEDI04_A_2021365195835_O17291_01_T10169_02_002_02_V002_sub.h5.csv
(1057257, 51)
l4a_csv/dodoma1/GEDI04_A_2022019002420_O17573_04_T08325_02_002_02_V002_sub.h5.csv
(1065913, 51)
l4a_csv/dodoma1/GEDI04_A_2022101040958_O18847_01_T10934_02_003_01_V002_sub.h5.csv
(1089197, 51)
l4a_csv/dodoma1/GEDI04_A_2020353132211_O11428_04_T06795_02_002_02_V002_sub.h5.csv
(1092886, 51)
l4a_csv/dodoma1/GEDI04_A_2022141234306_O19480_04_T11324_02_003_01_V002_sub.h5.csv
(1097884, 51)
l4a_csv/dodoma1/GEDI04_A_2020323132615_O10963_01_T11286_02_002_02_V002_sub.h5.csv
(1107024, 51)
l4a_csv/dodoma1/GEDI04_A_2020177105237_O08698_04_T02480_02_002_02_V002_sub.h5.csv
(1124612, 51)
l4a_csv/dodoma1/GEDI04_A_2019284051534_O04694_01_T01279_02_002_02_V002_sub.h5.csv
(1126755, 51)
l4a_csv/dodoma1/GEDI04_A_2020145232903_O08210_04_T05372_02_002_02_V002_sub.h5.csv
(1128252, 51)
l4a_csv/dodoma1/GEDI04_A_2019222172335_O03740_04_T02786_02_002_02_V002_sub.h5.csv
(1133988, 51)
l4a_csv/dodoma1/GEDI04_A_2021151083806_O13967_01_T08394_02_002_02_V002_sub.h5.csv
(1137531, 51)
l4a_csv/dodoma1/GEDI04_A_2021173114358_O14310_04_T08983_02_002_02_V002_sub.h5.csv
(1171803, 51)
l4a_csv/dodoma1/GEDI04_A_2020080133218_O07196_01_T00055_02_002_02_V002_sub.h5.csv
(1193336, 51)
l4a_csv/dodoma1/GEDI04_A_2022245190107_O21090_01_T09710_02_003_01_V002_sub.h5.csv
(1200227, 51)
l4a_csv/dodoma1/GEDI04_A_2021245071813_O15423_04_T09289_02_002_02_V002_sub.h5.csv
(1224619, 51)
l4a_csv/dodoma1/GEDI04_A_2022252041208_O21189_04_T00292_02_003_01_V002_sub.h5.csv
(1251341, 51)
l4a_csv/dodoma1/GEDI04_A_2022049122659_O18046_04_T02985_02_003_02_V002_sub.h5.csv
(1273566, 51)
l4a_csv/dodoma1/GEDI04_A_2019252055124_O04198_04_T01256_02_002_02_V002_sub.h5.csv
(1282485, 51)
l4a_csv/dodoma1/GEDI04_A_2022138011804_O19419_04_T06749_02_003_01_V002_sub.h5.csv
(1296408, 51)
l4a_csv/dodoma1/GEDI04_A_2019278191748_O04610_04_T02985_02_002_02_V002_sub.h5.csv
(1318648, 51)
l4a_csv/dodoma1/GEDI04_A_2022351124700_O22730_04_T11018_02_003_01_V002_sub.h5.csv
(1335483, 51)
l4a_csv/dodoma1/GEDI04_A_2022043031420_O17947_01_T07017_02_003_01_V002_sub.h5.csv
(1349155, 51)
l4a_csv/dodoma1/GEDI04_A_2019280065258_O04633_01_T05089_02_002_02_V002_sub.h5.csv
(1377717, 51)
l4a_csv/dodoma1/GEDI04_A_2022099163434_O18824_04_T10406_02_003_01_V002_sub.h5.csv
(1408177, 51)
l4a_csv/dodoma1/GEDI04_A_2020068181339_O07013_01_T01325_02_002_02_V002_sub.h5.csv
(1420653, 51)
l4a_csv/dodoma1/GEDI04_A_2019135041325_O02381_04_T00292_02_002_02_V002_sub.h5.csv

(1447343, 51)
l4a_csv/dodoma1/GEDI04_A_2022127174153_O19259_01_T00361_02_003_02_V002_sub.h5.csv
(1475910, 51)
l4a_csv/dodoma1/GEDI04_A_2022233112857_O20899_04_T09901_02_003_01_V002_sub.h5.csv
(1476429, 51)
l4a_csv/dodoma1/GEDI04_A_2022097054625_O18786_01_T06053_02_003_01_V002_sub.h5.csv
(1504956, 51)
l4a_csv/dodoma1/GEDI04_A_2022309054123_O22074_04_T03949_02_003_01_V002_sub.h5.csv
(1509509, 51)
l4a_csv/dodoma1/GEDI04_A_2022321005220_O22257_04_T00904_02_003_01_V002_sub.h5.csv
(1530081, 51)
l4a_csv/dodoma1/GEDI04_A_2019274205457_O04549_04_T02526_02_002_02_V002_sub.h5.csv
(1530276, 51)
l4a_csv/dodoma1/GEDI04_A_2019260023538_O04320_04_T05479_02_002_02_V002_sub.h5.csv
(1540467, 51)
l4a_csv/dodoma1/GEDI04_A_2021145223400_O13883_04_T08172_02_002_02_V002_sub.h5.csv
(1555869, 51)
l4a_csv/dodoma1/GEDI04_A_2021326113016_O16681_01_T04630_02_002_02_V002_sub.h5.csv
(1584435, 51)
l4a_csv/dodoma1/GEDI04_A_2021052000454_O12427_01_T11286_02_002_02_V002_sub.h5.csv
(1593585, 51)
l4a_csv/dodoma1/GEDI04_A_2021317025556_O16536_04_T09136_02_002_02_V002_sub.h5.csv
(1623846, 51)
l4a_csv/dodoma1/GEDI04_A_2021138013938_O13761_04_T06902_02_002_02_V002_sub.h5.csv
(1631846, 51)
l4a_csv/dodoma1/GEDI04_A_2022004182232_O17352_01_T03207_02_002_02_V002_sub.h5.csv
(1660361, 51)
l4a_csv/dodoma1/GEDI04_A_2022011033436_O17451_04_T07866_02_002_02_V002_sub.h5.csv
(1687673, 51)
l4a_csv/dodoma1/GEDI04_A_2021126061832_O13578_04_T09901_02_002_02_V002_sub.h5.csv
(1688213, 51)
l4a_csv/dodoma1/GEDI04_A_2022282160334_O21662_04_T08019_02_003_01_V002_sub.h5.csv
(1709571, 51)
l4a_csv/dodoma1/GEDI04_A_2022061073946_O18229_04_T01210_02_003_01_V002_sub.h5.csv
(1718264, 51)
l4a_csv/dodoma1/GEDI04_A_2022022224917_O17634_04_T07055_02_003_01_V002_sub.h5.csv
(1720259, 51)
l4a_csv/dodoma1/GEDI04_A_2020153202010_O08332_04_T05678_02_002_02_V002_sub.h5.csv
(1733636, 51)
l4a_csv/dodoma1/GEDI04_A_2020315163315_O10841_01_T09710_02_002_02_V002_sub.h5.csv
(1740591, 51)
l4a_csv/dodoma1/GEDI04_A_2022202234005_O20426_04_T07560_02_003_02_V002_sub.h5.csv
(1772494, 51)
l4a_csv/dodoma1/GEDI04_A_2019231022714_O03870_01_T01478_02_002_02_V002_sub.h5.csv
(1789467, 51)
l4a_csv/dodoma1/GEDI04_A_2021306191022_O16376_01_T06971_02_002_02_V002_sub.h5.csv
(1790553, 51)
l4a_csv/dodoma1/GEDI04_A_2021149210116_O13944_04_T05173_02_002_02_V002_sub.h5.csv
(1812621, 51)
l4a_csv/dodoma1/GEDI04_A_2022103145753_O18885_04_T09289_02_003_01_V002_sub.h5.csv
(1836926, 51)
l4a_csv/dodoma1/GEDI04_A_2021309060049_O16414_04_T06596_02_002_02_V002_sub.h5.csv
(1856819, 51)
l4a_csv/dodoma1/GEDI04_A_2022280051512_O21624_01_T06665_02_003_01_V002_sub.h5.csv
(1875667, 51)
l4a_csv/dodoma1/GEDI04_A_2020151093049_O08294_01_T03054_02_002_02_V002_sub.h5.csv
(1904222, 51)
l4a_csv/dodoma1/GEDI04_A_2021178214843_O14394_01_T10628_02_002_02_V002_sub.h5.csv
(1932806, 51)
l4a_csv/dodoma1/GEDI04_A_2021142000642_O13822_04_T05326_02_002_02_V002_sub.h5.csv
(1948926, 51)
l4a_csv/dodoma1/GEDI04_A_2019152211349_O02656_04_T01409_02_002_02_V002_sub.h5.csv
(1963785, 51)
l4a_csv/dodoma1/GEDI04_A_2021019005057_O11916_04_T05831_02_002_02_V002_sub.h5.csv
(1985279, 51)
l4a_csv/dodoma1/GEDI04_A_2022162040630_O19793_01_T04477_02_003_02_V002_sub.h5.csv
(2013334, 51)
l4a_csv/dodoma1/GEDI04_A_2019327234926_O05373_04_T04408_02_002_02_V002_sub.h5.csv
(2032646, 51)
l4a_csv/dodoma1/GEDI04_A_2021186184431_O14516_01_T03054_02_002_02_V002_sub.h5.csv
(2061240, 51)
l4a_csv/dodoma1/GEDI04_A_2020161171105_O08454_04_T03138_02_002_02_V002_sub.h5.csv
(2089402, 51)
l4a_csv/dodoma1/GEDI04_A_2021305073330_O16353_04_T11018_02_002_02_V002_sub.h5.csv
(2105947, 51)
l4a_csv/dodoma1/GEDI04_A_2022260005741_O21311_04_T01516_02_003_01_V002_sub.h5.csv
(2106033, 51)
l4a_csv/dodoma1/GEDI04_A_2020076150556_O07135_01_T04324_02_002_02_V002_sub.h5.csv
(2125244, 51)
l4a_csv/dodoma1/GEDI04_A_2022347142331_O22669_04_T10559_02_003_01_V002_sub.h5.csv
(2159943, 51)
l4a_csv/dodoma1/GEDI04_A_2020053002837_O06769_01_T04018_02_002_02_V002_sub.h5.csv
(2165679, 51)
l4a_csv/dodoma1/GEDI04_A_2021022231722_O11977_04_T08677_02_002_02_V002_sub.h5.csv
(2188675, 51)
l4a_csv/dodoma1/GEDI04_A_2022131160513_O19320_01_T08088_02_003_01_V002_sub.h5.csv
(2209801, 51)
l4a_csv/dodoma1/GEDI04_A_2019253172609_O04221_01_T01937_02_002_02_V002_sub.h5.csv
(2238321, 51)
l4a_csv/dodoma1/GEDI04_A_2020362215104_O11573_01_T10169_02_002_02_V002_sub.h5.csv
(2265397, 51)
l4a_csv/dodoma1/GEDI04_A_2021165144956_O14188_04_T06290_02_002_02_V002_sub.h5.csv
(2297157, 51)
l4a_csv/dodoma1/GEDI04_A_2020181091756_O08759_04_T01057_02_002_02_V002_sub.h5.csv
(2311803, 51)
l4a_csv/dodoma1/GEDI04_A_2022253154720_O21212_01_T03666_02_003_01_V002_sub.h5.csv
(2338472, 51)
l4a_csv/dodoma1/GEDI04_A_2021254155227_O15568_01_T06206_02_002_02_V002_sub.h5.csv
(2367028, 51)
l4a_csv/dodoma1/GEDI04_A_2021011035904_O11794_04_T08524_02_002_02_V002_sub.h5.csv
(2381118, 51)
l4a_csv/dodoma1/GEDI04_A_2021321012429_O16597_04_T08830_02_002_02_V002_sub.h5.csv
(2408644, 51)
l4a_csv/dodoma1/GEDI04_A_2022248054905_O21128_04_T09641_02_003_01_V002_sub.h5.csv
(2413868, 51)
l4a_csv/dodoma1/GEDI04_A_2019182092220_O03114_04_T04209_02_002_02_V002_sub.h5.csv
(2416609, 51)
l4a_csv/dodoma1/GEDI04_A_2021038170637_O12221_04_T11217_02_002_02_V002_sub.h5.csv
(2423323, 51)
l4a_csv/dodoma1/GEDI04_A_2021130044538_O13639_04_T08478_02_002_02_V002_sub.h5.csv
(2426814, 51)
l4a_csv/dodoma1/GEDI04_A_2022057091435_O18168_04_T06749_02_003_01_V002_sub.h5.csv
(2440851, 51)
l4a_csv/dodoma1/GEDI04_A_2019190182351_O03244_01_T00361_02_002_02_V002_sub.h5.csv
(2469507, 51)
l4a_csv/dodoma1/GEDI04_A_2021324235259_O16658_04_T10253_02_002_02_V002_sub.h5.csv
(2493953, 51)
l4a_csv/dodoma1/GEDI04_A_2021063192550_O12610_01_T11133_02_002_02_V002_sub.h5.csv
(2494278, 51)
l4a_csv/dodoma1/GEDI04_A_2020345162931_O11306_04_T11064_02_002_02_V002_sub.h5.csv
(2495036, 51)
l4a_csv/dodoma1/GEDI04_A_2022204111521_O20449_01_T00973_02_003_02_V002_sub.h5.csv
(2514993, 51)
l4a_csv/dodoma1/GEDI04_A_2022345033516_O22631_01_T04936_02_003_01_V002_sub.h5.csv
(2543505, 51)
l4a_csv/dodoma1/GEDI04_A_2022095181055_O18763_04_T04102_02_003_01_V002_sub.h5.csv
(2553890, 51)
l4a_csv/dodoma1/GEDI04_A_2021024105416_O12000_01_T07629_02_002_02_V002_sub.h5.csv
(2582485, 51)
l4a_csv/dodoma1/GEDI04_A_2022107132058_O18946_04_T05632_02_003_01_V002_sub.h5.csv
(2586723, 51)
l4a_csv/dodoma1/GEDI04_A_2019257154754_O04282_01_T03972_02_002_02_V002_sub.h5.csv
(2595557, 51)
l4a_csv/dodoma1/GEDI04_A_2021169131659_O14249_04_T07713_02_002_02_V002_sub.h5.csv
(2628825, 51)
l4a_csv/dodoma1/GEDI04_A_2020155075621_O08355_01_T04630_02_002_02_V002_sub.h5.csv
(2657374, 51)
l4a_csv/dodoma1/GEDI04_A_2021004184317_O11695_01_T05900_02_002_02_V002_sub.h5.csv
(2685972, 51)
l4a_csv/dodoma1/GEDI04_A_2020347040601_O11329_01_T10016_02_002_02_V002_sub.h5.csv
(2704071, 51)
l4a_csv/dodoma1/GEDI04_A_2019114122139_O02060_04_T03750_02_002_02_V002_sub.h5.csv
(2723045, 51)
l4a_csv/dodoma1/GEDI04_A_2020075032932_O07112_04_T03949_02_002_02_V002_sub.h5.csv
(2727507, 51)
l4a_csv/dodoma1/GEDI04_A_2022221162106_O20716_04_T06795_02_003_01_V002_sub.h5.csv
(2731223, 51)
l4a_csv/dodoma1/GEDI04_A_2021257024407_O15606_04_T11370_02_002_02_V002_sub.h5.csv
(2743883, 51)
l4a_csv/dodoma1/GEDI04_A_2020327115311_O11024_01_T06864_02_002_02_V002_sub.h5.csv
(2748552, 51)
l4a_csv/dodoma1/GEDI04_A_2021318143317_O16559_01_T09358_02_002_02_V002_sub.h5.csv
(2774148, 51)
l4a_csv/dodoma1/GEDI04_A_2021007053302_O11733_04_T09794_02_002_02_V002_sub.h5.csv
(2785286, 51)
l4a_csv/dodoma1/GEDI04_A_2022134025306_O19358_04_T10865_02_003_01_V002_sub.h5.csv
(2808137, 51)
l4a_csv/dodoma1/GEDI04_A_2022007051049_O17390_04_T05984_02_002_02_V002_sub.h5.csv
(2835614, 51)
l4a_csv/dodoma1/GEDI04_A_2019309070601_O05083_04_T04056_02_002_02_V002_sub.h5.csv
(2842943, 51)
l4a_csv/dodoma1/GEDI04_A_2021258142141_O15629_01_T01631_02_002_02_V002_sub.h5.csv
(2868913, 51)
l4a_csv/dodoma1/GEDI04_A_2019218190402_O03679_04_T04561_02_002_02_V002_sub.h5.csv
(2894124, 51)
l4a_csv/dodoma1/GEDI04_A_2022225144349_O20777_04_T01715_02_003_01_V002_sub.h5.csv
(2917831, 51)
l4a_csv/dodoma1/GEDI04_A_2019256041309_O04259_04_T04867_02_002_02_V002_sub.h5.csv
(2951859, 51)
l4a_csv/dodoma1/GEDI04_A_2022164145434_O19831_04_T05678_02_003_02_V002_sub.h5.csv
(2965202, 51)
l4a_csv/dodoma1/GEDI04_A_2022166022956_O19854_01_T04783_02_003_02_V002_sub.h5.csv

(2993776, 51)
l4a_csv/dodoma1/GEDI04_A_2020163044714_O08477_01_T00514_02_002_02_V002_sub.h5.csv
(3022358, 51)
l4a_csv/dodoma1/GEDI04_A_2020167031239_O08538_01_T00820_02_002_02_V002_sub.h5.csv
(3050797, 51)
l4a_csv/dodoma1/GEDI04_A_2020157184539_O08393_04_T01562_02_002_02_V002_sub.h5.csv
(3068643, 51)
l4a_csv/dodoma1/GEDI04_A_2022051000232_O18069_01_T06359_02_003_02_V002_sub.h5.csv
(3097242, 51)
l4a_csv/dodoma1/GEDI04_A_2019335203545_O05495_04_T02633_02_002_02_V002_sub.h5.csv
(3108949, 51)
l4a_csv/dodoma1/GEDI04_A_2019216081823_O03641_01_T04171_02_002_02_V002_sub.h5.csv
(3123774, 51)
l4a_csv/dodoma1/GEDI04_A_2021253041510_O15545_04_T07407_02_002_02_V002_sub.h5.csv
(3149791, 51)
l4a_csv/dodoma1/GEDI04_A_2022045140256_O17985_04_T02679_02_003_01_V002_sub.h5.csv
(3155773, 51)
l4a_csv/dodoma1/GEDI04_A_2020349145551_O11367_04_T08218_02_002_02_V002_sub.h5.csv
(3158013, 51)
l4a_csv/dodoma1/GEDI04_A_2022249172420_O21151_01_T10322_02_003_01_V002_sub.h5.csv
(3186575, 51)
l4a_csv/dodoma1/GEDI04_A_2020351023222_O11390_01_T07170_02_002_02_V002_sub.h5.csv
(3206883, 51)
l4a_csv/dodoma1/GEDI04_A_2021026214449_O12038_04_T09947_02_002_02_V002_sub.h5.csv
(3223926, 51)
l4a_csv/dodoma1/GEDI04_A_2022130042952_O19297_04_T07560_02_003_01_V002_sub.h5.csv
(3255827, 51)
l4a_csv/dodoma1/GEDI04_A_2020366201715_O11634_01_T07323_02_002_02_V002_sub.h5.csv
(3284385, 51)
l4a_csv/dodoma1/GEDI04_A_2021193040308_O14615_04_T09488_02_002_02_V002_sub.h5.csv
(3284385, 51)
l4a_csv/dodoma1/GEDI04_A_2022003064656_O17329_04_T09794_02_002_02_V002_sub.h5.csv
(3295603, 51)
l4a_csv/dodoma1/GEDI04_A_2019143130157_O02511_01_T05548_02_002_02_V002_sub.h5.csv
(3300053, 51)
l4a_csv/dodoma1/GEDI04_A_2021059205853_O12549_01_T08287_02_002_02_V002_sub.h5.csv
(3302470, 51)
l4a_csv/dodoma1/GEDI04_A_2019128065621_O02274_04_T03291_02_002_02_V002_sub.h5.csv
(3336664, 51)
l4a_csv/dodoma1/GEDI04_A_2020361101439_O11550_04_T11217_02_002_02_V002_sub.h5.csv
(3343475, 51)
l4a_csv/dodoma1/GEDI04_A_2022196142850_O20327_01_T10016_02_003_02_V002_sub.h5.csv
(3361611, 51)
l4a_csv/dodoma1/GEDI04_A_2019167151823_O02885_04_T03444_02_002_02_V002_sub.h5.csv
(3392628, 51)
l4a_csv/dodoma1/GEDI04_A_2019193050938_O03282_04_T02174_02_002_02_V002_sub.h5.csv
(3422696, 51)
l4a_csv/dodoma1/GEDI04_A_2021237102053_O15301_04_T10054_02_002_02_V002_sub.h5.csv
(3422696, 51)
l4a_csv/dodoma1/GEDI04_A_2019156193255_O02717_04_T03903_02_002_02_V002_sub.h5.csv
(3435885, 51)
l4a_csv/dodoma1/GEDI04_A_2020079015538_O07173_04_T02679_02_002_02_V002_sub.h5.csv
(3441821, 51)
l4a_csv/dodoma1/GEDI04_A_2022054222619_O18130_01_T09511_02_003_02_V002_sub.h5.csv
(3458430, 51)
l4a_csv/dodoma1/GEDI04_A_2022306185245_O22036_01_T05441_02_003_01_V002_sub.h5.csv
(3459703, 51)
l4a_csv/dodoma1/GEDI04_A_2021161162251_O14127_04_T10712_02_002_02_V002_sub.h5.csv
(3488497, 51)
l4a_csv/dodoma1/GEDI04_A_2021153192831_O14005_04_T10865_02_002_02_V002_sub.h5.csv
(3511307, 51)
l4a_csv/dodoma1/GEDI04_A_2020159062149_O08416_01_T04783_02_002_02_V002_sub.h5.csv
(3539838, 51)
l4a_csv/dodoma1/GEDI04_A_2019321143812_O05274_01_T05441_02_002_02_V002_sub.h5.csv
(3541094, 51)
l4a_csv/dodoma1/GEDI04_A_2021249054645_O15484_04_T10559_02_002_02_V002_sub.h5.csv
(3575790, 51)
l4a_csv/dodoma1/GEDI04_A_2019179223714_O03076_01_T03819_02_002_02_V002_sub.h5.csv
(3593548, 51)
l4a_csv/dodoma1/GEDI04_A_2021159053230_O14089_01_T08241_02_002_02_V002_sub.h5.csv
(3605724, 51)
l4a_csv/dodoma1/GEDI04_A_2020064194727_O06952_01_T02748_02_002_02_V002_sub.h5.csv
(3613748, 51)
l4a_csv/dodoma1/GEDI04_A_2019298233333_O04923_01_T04324_02_002_02_V002_sub.h5.csv
(3633027, 51)
l4a_csv/dodoma1/GEDI04_A_2021190171221_O14577_01_T05747_02_002_02_V002_sub.h5.csv
(3655695, 51)
l4a_csv/dodoma1/GEDI04_A_2021241084938_O15362_04_T09595_02_002_02_V002_sub.h5.csv
(3668131, 51)
l4a_csv/dodoma1/GEDI04_A_2021334082647_O16803_01_T09863_02_002_02_V002_sub.h5.csv
(3680694, 51)
l4a_csv/dodoma1/GEDI04_A_2020147110516_O08233_01_T02901_02_002_02_V002_sub.h5.csv
(3704434, 51)
l4a_csv/dodoma1/GEDI04_A_2019301102103_O04961_04_T01562_02_002_02_V002_sub.h5.csv
(3722237, 51)
l4a_csv/dodoma1/GEDI04_A_2021297103809_O16231_04_T11324_02_002_02_V002_sub.h5.csv
(3727257, 51)
l4a_csv/dodoma1/GEDI04_A_2022343155944_O22608_04_T07254_02_003_01_V002_sub.h5.csv
(3747243, 51)
l4a_csv/dodoma1/GEDI04_A_2021185070726_O14493_04_T08524_02_002_02_V002_sub.h5.csv
(3761348, 51)
l4a_csv/dodoma1/GEDI04_A_2019241095813_O04030_04_T01516_02_002_02_V002_sub.h5.csv
(3761449, 51)
l4a_csv/dodoma1/GEDI04_A_2022176100610_O20014_04_T05479_02_003_02_V002_sub.h5.csv
(3771469, 51)
l4a_csv/dodoma1/GEDI04_A_2021034183924_O12160_04_T11370_02_002_02_V002_sub.h5.csv
(3784095, 51)
l4a_csv/dodoma1/GEDI04_A_2020358232454_O11512_01_T08593_02_002_02_V002_sub.h5.csv
(3808915, 51)
l4a_csv/dodoma1/GEDI04_A_2020072163949_O07074_01_T00055_02_002_02_V002_sub.h5.csv
(3825488, 51)
l4a_csv/dodoma1/GEDI04_A_2020173122717_O08637_04_T02327_02_002_02_V002_sub.h5.csv
(3849033, 51)
l4a_csv/dodoma1/GEDI04_A_2022314154053_O22158_01_T01937_02_003_01_V002_sub.h5.csv
(3877543, 51)
l4a_csv/dodoma1/GEDI04_A_2020088102657_O07318_01_T05594_02_002_02_V002_sub.h5.csv
(3886946, 51)
l4a_csv/dodoma1/GEDI04_A_2022310171701_O22097_01_T00055_02_003_01_V002_sub.h5.csv
(3908401, 51)
l4a_csv/dodoma1/GEDI04_A_2020365084050_O11611_04_T08371_02_002_02_V002_sub.h5.csv
(3916519, 51)
l4a_csv/dodoma1/GEDI04_A_2022227021857_O20800_01_T09205_02_003_01_V002_sub.h5.csv
(3945086, 51)
l4a_csv/dodoma1/GEDI04_A_2020357114828_O11489_04_T09641_02_002_02_V002_sub.h5.csv
(3950273, 51)
l4a_csv/dodoma1/GEDI04_A_2020319145923_O10902_01_T08440_02_002_02_V002_sub.h5.csv
(3961630, 51)
l4a_csv/dodoma1/GEDI04_A_2022337064701_O22509_01_T08440_02_003_01_V002_sub.h5.csv
(3973017, 51)
l4a_csv/dodoma1/GEDI04_A_2020056225455_O06830_01_T05441_02_002_02_V002_sub.h5.csv
(3974290, 51)
l4a_csv/dodoma1/GEDI04_A_2019142013018_O02488_04_T00139_02_002_02_V002_sub.h5.csv
(3995414, 51)
l4a_csv/dodoma1/GEDI04_A_2021036061613_O12183_01_T07323_02_002_02_V002_sub.h5.csv
(4024017, 51)
l4a_csv/dodoma1/GEDI04_A_2021042153353_O12282_04_T01103_02_002_02_V002_sub.h5.csv
(4026999, 51)
l4a_csv/dodoma1/GEDI04_A_2021250172401_O15507_01_T07935_02_002_02_V002_sub.h5.csv
(4055549, 51)
l4a_csv/dodoma1/GEDI04_A_2021003070655_O11672_04_T06948_02_002_02_V002_sub.h5.csv
(4064986, 51)
l4a_csv/dodoma1/GEDI04_A_2022206220304_O20487_04_T09442_02_003_02_V002_sub.h5.csv
(4083365, 51)
l4a_csv/dodoma1/GEDI04_A_2022170005348_O19915_01_T06665_02_003_02_V002_sub.h5.csv
(4102201, 51)
l4a_csv/dodoma1/GEDI04_A_2021189053517_O14554_04_T05525_02_002_02_V002_sub.h5.csv
(4109648, 51)
l4a_csv/dodoma1/GEDI04_A_2021055223157_O12488_01_T09710_02_002_02_V002_sub.h5.csv
(4116556, 51)
l4a_csv/dodoma1/GEDI04_A_2020185074313_O08820_04_T05632_02_002_02_V002_sub.h5.csv
(4120612, 51)
l4a_csv/dodoma1/GEDI04_A_2020335084643_O11146_01_T11133_02_002_02_V002_sub.h5.csv
(4122011, 51)
l4a_csv/dodoma1/GEDI04_A_2020171013802_O08599_01_T02549_02_002_02_V002_sub.h5.csv
(4137531, 51)
l4a_csv/dodoma1/GEDI04_A_2021194154009_O14638_01_T08440_02_002_02_V002_sub.h5.csv
(4149230, 51)
l4a_csv/dodoma1/GEDI04_A_2022276065054_O21563_01_T07782_02_003_01_V002_sub.h5.csv
(4177747, 51)
l4a_csv/dodoma1/GEDI04_A_2019233131421_O03908_04_T04255_02_002_02_V002_sub.h5.csv
(4194086, 51)
l4a_csv/dodoma1/GEDI04_A_2022168131753_O19892_04_T00445_02_003_02_V002_sub.h5.csv
(4226748, 51)
l4a_csv/dodoma1/GEDI04_A_2019306201836_O05045_01_T02702_02_002_02_V002_sub.h5.csv
(4233377, 51)
l4a_csv/dodoma1/GEDI04_A_2019325130130_O05335_01_T04477_02_002_02_V002_sub.h5.csv
(4261460, 51)
l4a_csv/dodoma1/GEDI04_A_2022274191503_O21540_04_T08677_02_003_01_V002_sub.h5.csv
(4284422, 51)
l4a_csv/dodoma1/GEDI04_A_2020143123939_O08172_01_T01478_02_002_02_V002_sub.h5.csv
(4301377, 51)
l4a_csv/dodoma1/GEDI04_A_2022053105049_O18107_04_T06137_02_003_02_V002_sub.h5.csv
(4334810, 51)

In [11]:
dt1 = datetime(2018, 1, 1, 0, 0, 0)
l4a_orig_all['delta_time']=dt1+pd.to_timedelta(l4a_orig_all['delta_time'],unit='s')
# type(sample['delta_time'][1])
# sample['delta_time'][1].date().year
l4a_orig_all['year']=l4a_orig_all['delta_time'].dt.year

In [12]:
tile_samps_l4a = t1.merge(l4a_orig_all,on='shot_number',how='left')
print(tile_samps_l4a.shape, t1.shape)
tile_samps_l4a.to_csv('ls_ltr_training/tile168064_l4aAll_topo_ls_lhs_nbr_33_dur8_highval.csv')

(774802, 155) (774802, 104)

In [13]:
## skip the steps below and left join with l2b products 
import json
from pandas import json_normalize

# tt2 = json.loads('l2b_subset/desa_t2/GEDI02_B_2019131042706_O02319_03_T02724_02_003_01_V002.json')

path=r'dodoma1_l2b_042019_to_122022.json'

with open(path) as data_file:
    data = json.load(data_file)
    df =json_normalize([i['properties'] for i in data['features']])

print(df)

tile_samps_l2bl4a = tile_samps_l4a.merge(df,on='shot_number',how='left')
print(tile_samps_l2bl4a.shape, df.shape)

tile_samps_l2bl4a.to_csv('ls_ltr_training/tile168064_l24a_all_topo_ls_lhs_nbr_33_dur8_highval.csv')

             BEAM         shot_number  Latitude  Longitude  index  \
0        BEAM0000  120380000400455234 -5.661861  35.291067  14128
1        BEAM0000  120380000400455235 -5.662282  35.291366  14129
2        BEAM0000  120380000400455236 -5.662703  35.291665  14130
3        BEAM0000  120380000400455237 -5.663124  35.291964  14131
4        BEAM0000  120380000400455238 -5.663545  35.292262  14132
...           ...                 ...       ...        ...    ...
4437360  BEAM1011   84161100100094881 -5.030345  36.663791  94880
4437361  BEAM1011   84161100100094882 -5.029929  36.664086  94881
4437362  BEAM1011   84161100100094883 -5.029505  36.664388  94882
4437363  BEAM1011   84161100100094884 -5.028583  36.665120  94883
4437364  BEAM1011   84161100100094885 -5.028163  36.665419  94884

         algorithmrun_flag        cover    cover_z_0    cover_z_1  \
0                        0 -9999.000000 -9999.000000 -9999.000000
1                        0 -9999.000000 -9999.000000 -9999.000000
2                        0 -9999.000000 -9999.000000 -9999.000000
3                        0 -9999.000000 -9999.000000 -9999.000000
4                        0 -9999.000000 -9999.000000 -9999.000000
...                    ...          ...          ...          ...
4437360                  1     0.855230     0.855230     0.720280
4437361                  1     0.756266     0.756129     0.669729
4437362                  1     0.775878     0.775878     0.610734
4437363                  1     0.102943     0.102943     0.000000
4437364                  1     0.104649     0.104649     0.000000

           cover_z_2  ...  rh100  rhog  rhov  selected_l2a_algorithm  \
0       -9999.000000  ...      0   0.4   0.6                       1
1       -9999.000000  ...      0   0.4   0.6                       1
2       -9999.000000  ...      0   0.4   0.6                       1
3       -9999.000000  ...      0   0.4   0.6                       1
4       -9999.000000  ...      0   0.4   0.6                       1
...              ...  ...    ...   ...   ...                     ...
4437360     0.578396  ...   2753   0.4   0.6                       1
4437361     0.497790  ...   2694   0.4   0.6                       1
4437362     0.331596  ...   2155   0.4   0.6                       1
4437363     0.000000  ...    383   0.4   0.6                       1
4437364     0.000000  ...    496   0.4   0.6                       1

         selected_mode  selected_mode_flag  selected_rg_algorithm  \
0                    0                   0                      0
1                    0                   0                      0
2                    0                   0                      0
3                    0                   0                      0
4                    0                   0                      0
...                ...                 ...                    ...
4437360              3                   0                      1
4437361              3                   0                      1
4437362              3                   0                      1
4437363              0                   0                      1
4437364              0                   0                      1

         sensitivity  stale_return_flag  surface_flag
0           1.785455                  1             0
1           2.029029                  1             0
2         -14.475261                  1             0
3           2.625573                  1             0
4          -0.102625                  1             0
...              ...                ...           ...
4437360     0.947244                  0             0
4437361     0.950205                  0             0
4437362     0.950561                  0             0
4437363     0.759350                  0             1
4437364     0.834507                  0             1

[4437365 rows x 128 columns]
(774802, 282) (4437365, 128)

## below is for if there are multiple tiles

In [37]:
# for the 4_tile compilation

l4a_orig=  glob('l4a_csv/desa_t4/*.csv')#*plus3_*_nol2.csv')  
print(len(l4a_orig))
l4a_orig_all= pd.DataFrame([])
for ef in l4a_orig:
    print(ef)
    ex= pd.read_csv(ef)
    l4a_orig_all = l4a_orig_all.append(ex, ignore_index=True)
    print(l4a_orig_all.shape)

520
l4a_csv/desa_t4/GEDI04_A_2020118225212_O07791_02_T05426_02_002_02_V002_sub.h5.csv
(10937, 51)
l4a_csv/desa_t4/GEDI04_A_2020180222749_O08752_02_T01356_02_002_02_V002_sub.h5.csv
(69438, 51)
l4a_csv/desa_t4/GEDI04_A_2020345053917_O11299_02_T08517_02_002_02_V002_sub.h5.csv
(87335, 51)
l4a_csv/desa_t4/GEDI04_A_2020232020412_O09545_02_T00040_02_002_02_V002_sub.h5.csv
(87335, 51)
l4a_csv/desa_t4/GEDI04_A_2021141131621_O13815_02_T07201_02_002_02_V002_sub.h5.csv
(145846, 51)
l4a_csv/desa_t4/GEDI04_A_2020141001722_O08133_03_T00123_02_002_02_V002_sub.h5.csv
(177972, 51)
l4a_csv/desa_t4/GEDI04_A_2020130180929_O07974_02_T00040_02_002_02_V002_sub.h5.csv
(177972, 51)
l4a_csv/desa_t4/GEDI04_A_2019286051318_O04725_02_T04508_02_002_02_V002_sub.h5.csv
(236504, 51)
l4a_csv/desa_t4/GEDI04_A_2021069035627_O12693_03_T09931_02_002_02_V002_sub.h5.csv
(264996, 51)
l4a_csv/desa_t4/GEDI04_A_2019255032806_O04243_03_T02617_02_002_02_V002_sub.h5.csv
(324886, 51)
l4a_csv/desa_t4/GEDI04_A_2020313180654_O10811_02_T09634_02_002_02_V002_sub.h5.csv
(330639, 51)
l4a_csv/desa_t4/GEDI04_A_2019149111652_O02603_02_T00040_02_002_02_V002_sub.h5.csv
(330639, 51)
l4a_csv/desa_t4/GEDI04_A_2020231025049_O09530_02_T02213_02_002_02_V002_sub.h5.csv
(330639, 51)
l4a_csv/desa_t4/GEDI04_A_2020133172158_O08020_02_T02366_02_002_02_V002_sub.h5.csv
(330639, 51)
l4a_csv/desa_t4/GEDI04_A_2020348140937_O11351_03_T07544_02_002_02_V002_sub.h5.csv
(368649, 51)
l4a_csv/desa_t4/GEDI04_A_2021188044838_O14538_03_T07697_02_002_02_V002_sub.h5.csv
(412434, 51)
l4a_csv/desa_t4/GEDI04_A_2021336082715_O16834_02_T06788_02_002_02_V002_sub.h5.csv
(416170, 51)
l4a_csv/desa_t4/GEDI04_A_2019156084331_O02710_02_T02779_02_002_02_V002_sub.h5.csv
(474598, 51)
l4a_csv/desa_t4/GEDI04_A_2020062072447_O06913_03_T02969_02_002_02_V002_sub.h5.csv
(508458, 51)
l4a_csv/desa_t4/GEDI04_A_2021073161938_O12763_02_T06635_02_002_02_V002_sub.h5.csv
(508458, 51)
l4a_csv/desa_t4/GEDI04_A_2020177000230_O08691_02_T04049_02_002_02_V002_sub.h5.csv
(566806, 51)
l4a_csv/desa_t4/GEDI04_A_2019248195210_O04145_02_T03039_02_002_02_V002_sub.h5.csv
(566806, 51)
l4a_csv/desa_t4/GEDI04_A_2021353012945_O17093_02_T09848_02_002_02_V002_sub.h5.csv
(566806, 51)
l4a_csv/desa_t4/GEDI04_A_2021345043529_O16971_02_T05732_02_002_02_V002_sub.h5.csv
(566806, 51)
l4a_csv/desa_t4/GEDI04_A_2021220154317_O15041_03_T04300_02_002_02_V002_sub.h5.csv
(571719, 51)
l4a_csv/desa_t4/GEDI04_A_2021077005048_O12815_03_T09778_02_002_02_V002_sub.h5.csv
(594438, 51)
l4a_csv/desa_t4/GEDI04_A_2019166143404_O02869_03_T03887_02_002_02_V002_sub.h5.csv
(657314, 51)
l4a_csv/desa_t4/GEDI04_A_2020224051121_O09423_02_T02886_02_002_02_V002_sub.h5.csv
(657314, 51)
l4a_csv/desa_t4/GEDI04_A_2020085220336_O07279_03_T00276_02_002_02_V002_sub.h5.csv
(692618, 51)
l4a_csv/desa_t4/GEDI04_A_2019312183852_O05137_02_T00698_02_002_02_V002_sub.h5.csv
(726673, 51)
l4a_csv/desa_t4/GEDI04_A_2021101144822_O13196_03_T09839_02_002_02_V002_sub.h5.csv
(733724, 51)
l4a_csv/desa_t4/GEDI04_A_2019347045452_O05671_02_T04462_02_002_02_V002_sub.h5.csv
(733724, 51)
l4a_csv/desa_t4/GEDI04_A_2020220064455_O09362_02_T04309_02_002_02_V002_sub.h5.csv
(733724, 51)
l4a_csv/desa_t4/GEDI04_A_2021165035937_O14181_02_T09435_02_002_02_V002_sub.h5.csv
(792302, 51)
l4a_csv/desa_t4/GEDI04_A_2019170125300_O02930_03_T05111_02_002_02_V002_sub.h5.csv
(819944, 51)
l4a_csv/desa_t4/GEDI04_A_2021037162008_O12205_03_T04851_02_002_02_V002_sub.h5.csv
(862999, 51)
l4a_csv/desa_t4/GEDI04_A_2019175010650_O03000_02_T01769_02_002_02_V002_sub.h5.csv
(862999, 51)
l4a_csv/desa_t4/GEDI04_A_2020294111536_O10512_03_T05876_02_002_02_V002_sub.h5.csv
(862999, 51)
l4a_csv/desa_t4/GEDI04_A_2021360222141_O17215_02_T03039_02_002_02_V002_sub.h5.csv
(862999, 51)
l4a_csv/desa_t4/GEDI04_A_2019315035401_O05174_03_T03474_02_002_02_V002_sub.h5.csv
(862999, 51)
l4a_csv/desa_t4/GEDI04_A_2021192171244_O14608_02_T11363_02_002_02_V002_sub.h5.csv
(879221, 51)
l4a_csv/desa_t4/GEDI04_A_2021244063123_O15407_03_T03076_02_002_02_V002_sub.h5.csv
(922394, 51)
l4a_csv/desa_t4/GEDI04_A_2019338181324_O05540_03_T00842_02_002_02_V002_sub.h5.csv
(948687, 51)
l4a_csv/desa_t4/GEDI04_A_2019192042506_O03266_03_T05463_02_002_02_V002_sub.h5.csv
(1011570, 51)
l4a_csv/desa_t4/GEDI04_A_2020251181541_O09850_02_T08731_02_002_02_V002_sub.h5.csv
(1011570, 51)
l4a_csv/desa_t4/GEDI04_A_2020078150525_O07166_02_T04248_02_002_02_V002_sub.h5.csv
(1032581, 51)
l4a_csv/desa_t4/GEDI04_A_2020008182937_O06083_02_T02274_02_002_02_V002_sub.h5.csv
(1062483, 51)
l4a_csv/desa_t4/GEDI04_A_2019350040516_O05717_02_T01249_02_002_02_V002_sub.h5.csv
(1073307, 51)
l4a_csv/desa_t4/GEDI04_A_2019155184834_O02701_03_T02923_02_002_02_V002_sub.h5.csv
(1121930, 51)
l4a_csv/desa_t4/GEDI04_A_2021285042340_O16041_02_T09389_02_002_02_V002_sub.h5.csv
(1145540, 51)
l4a_csv/desa_t4/GEDI04_A_2021344052155_O16956_02_T10751_02_002_02_V002_sub.h5.csv
(1145540, 51)
l4a_csv/desa_t4/GEDI04_A_2020242081351_O09704_03_T06932_02_002_02_V002_sub.h5.csv
(1166877, 51)
l4a_csv/desa_t4/GEDI04_A_2019259154547_O04313_02_T01509_02_002_02_V002_sub.h5.csv
(1225345, 51)
l4a_csv/desa_t4/GEDI04_A_2020203230525_O09109_03_T04147_02_002_02_V002_sub.h5.csv
(1233132, 51)
l4a_csv/desa_t4/GEDI04_A_2021002201643_O11665_02_T08670_02_002_02_V002_sub.h5.csv
(1263385, 51)
l4a_csv/desa_t4/GEDI04_A_2021348034905_O17017_02_T09175_02_002_02_V002_sub.h5.csv
(1263385, 51)
l4a_csv/desa_t4/GEDI04_A_2020254172836_O09896_02_T09481_02_002_02_V002_sub.h5.csv
(1263385, 51)
l4a_csv/desa_t4/GEDI04_A_2020011034547_O06120_03_T00628_02_002_02_V002_sub.h5.csv
(1263385, 51)
l4a_csv/desa_t4/GEDI04_A_2021252172442_O15538_02_T09129_02_002_02_V002_sub.h5.csv
(1321876, 51)
l4a_csv/desa_t4/GEDI04_A_2020238234333_O09652_02_T00790_02_002_02_V002_sub.h5.csv
(1321876, 51)
l4a_csv/desa_t4/GEDI04_A_2019308201614_O05076_02_T00086_02_002_02_V002_sub.h5.csv
(1380440, 51)
l4a_csv/desa_t4/GEDI04_A_2021002062045_O11656_03_T06274_02_002_02_V002_sub.h5.csv
(1425636, 51)
l4a_csv/desa_t4/GEDI04_A_2020196021509_O08987_03_T05264_02_002_02_V002_sub.h5.csv
(1447498, 51)
l4a_csv/desa_t4/GEDI04_A_2019214095458_O03611_02_T03636_02_002_02_V002_sub.h5.csv
(1447498, 51)
l4a_csv/desa_t4/GEDI04_A_2021074153316_O12778_02_T08731_02_002_02_V002_sub.h5.csv
(1447498, 51)
l4a_csv/desa_t4/GEDI04_A_2020200004018_O09048_03_T03994_02_002_02_V002_sub.h5.csv
(1460853, 51)
l4a_csv/desa_t4/GEDI04_A_2020222160155_O09399_03_T02663_02_002_02_V002_sub.h5.csv
(1478498, 51)
l4a_csv/desa_t4/GEDI04_A_2020020134430_O06266_02_T04309_02_002_02_V002_sub.h5.csv
(1478498, 51)
l4a_csv/desa_t4/GEDI04_A_2020212095152_O09240_02_T01310_02_002_02_V002_sub.h5.csv
(1479713, 51)
l4a_csv/desa_t4/GEDI04_A_2021025205815_O12022_03_T08003_02_002_02_V002_sub.h5.csv
(1534830, 51)
l4a_csv/desa_t4/GEDI04_A_2021145114340_O13876_02_T07048_02_002_02_V002_sub.h5.csv
(1593337, 51)
l4a_csv/desa_t4/GEDI04_A_2019320152535_O05259_02_T04615_02_002_02_V002_sub.h5.csv
(1593337, 51)
l4a_csv/desa_t4/GEDI04_A_2021203223936_O14782_03_T11354_02_002_02_V002_sub.h5.csv
(1617314, 51)
l4a_csv/desa_t4/GEDI04_A_2021140232011_O13806_03_T07651_02_002_02_V002_sub.h5.csv
(1652458, 51)
l4a_csv/desa_t4/GEDI04_A_2021236233021_O15294_02_T07507_02_002_02_V002_sub.h5.csv
(1704654, 51)
l4a_csv/desa_t4/GEDI04_A_2021252032823_O15529_03_T09579_02_002_02_V002_sub.h5.csv
(1768128, 51)
l4a_csv/desa_t4/GEDI04_A_2020176100638_O08682_03_T01806_02_002_02_V002_sub.h5.csv
(1809458, 51)
l4a_csv/desa_t4/GEDI04_A_2020137015143_O08072_03_T02816_02_002_02_V002_sub.h5.csv
(1832994, 51)
l4a_csv/desa_t4/GEDI04_A_2019185065712_O03159_03_T01607_02_002_02_V002_sub.h5.csv
(1833601, 51)
l4a_csv/desa_t4/GEDI04_A_2021100153444_O13181_03_T07743_02_002_02_V002_sub.h5.csv
(1833601, 51)
l4a_csv/desa_t4/GEDI04_A_2021108122937_O13303_03_T10436_02_002_02_V002_sub.h5.csv
(1834435, 51)
l4a_csv/desa_t4/GEDI04_A_2020055002814_O06800_02_T01096_02_002_02_V002_sub.h5.csv
(1837156, 51)
l4a_csv/desa_t4/GEDI04_A_2019160070234_O02771_02_T01004_02_002_02_V002_sub.h5.csv
(1854530, 51)
l4a_csv/desa_t4/GEDI04_A_2021014013853_O11839_03_T09273_02_002_02_V002_sub.h5.csv
(1906761, 51)
l4a_csv/desa_t4/GEDI04_A_2021248185616_O15477_02_T06589_02_002_02_V002_sub.h5.csv
(1965303, 51)
l4a_csv/desa_t4/GEDI04_A_2020282155755_O10329_03_T08416_02_002_02_V002_sub.h5.csv

(1975104, 51)
l4a_csv/desa_t4/GEDI04_A_2020019003541_O06242_03_T03780_02_002_02_V002_sub.h5.csv
(1985623, 51)
l4a_csv/desa_t4/GEDI04_A_2020285151034_O10375_03_T06320_02_002_02_V002_sub.h5.csv
(1985623, 51)
l4a_csv/desa_t4/GEDI04_A_2019349140945_O05708_03_T02969_02_002_02_V002_sub.h5.csv
(2019232, 51)
l4a_csv/desa_t4/GEDI04_A_2021335183059_O16825_03_T05815_02_002_02_V002_sub.h5.csv
(2052011, 51)
l4a_csv/desa_t4/GEDI04_A_2020341071252_O11238_02_T11363_02_002_02_V002_sub.h5.csv
(2067855, 51)
l4a_csv/desa_t4/GEDI04_A_2021256155333_O15599_02_T05977_02_002_02_V002_sub.h5.csv
(2104356, 51)
l4a_csv/desa_t4/GEDI04_A_2019294015833_O04847_02_T01463_02_002_02_V002_sub.h5.csv
(2104356, 51)
l4a_csv/desa_t4/GEDI04_A_2020141141317_O08142_02_T03942_02_002_02_V002_sub.h5.csv
(2109097, 51)
l4a_csv/desa_t4/GEDI04_A_2020137154738_O08081_02_T02519_02_002_02_V002_sub.h5.csv
(2109097, 51)
l4a_csv/desa_t4/GEDI04_A_2020309054524_O10741_03_T09931_02_002_02_V002_sub.h5.csv
(2137203, 51)
l4a_csv/desa_t4/GEDI04_A_2020027112259_O06373_02_T03789_02_002_02_V002_sub.h5.csv
(2137203, 51)
l4a_csv/desa_t4/GEDI04_A_2021089192606_O13013_03_T08722_02_002_02_V002_sub.h5.csv
(2137203, 51)
l4a_csv/desa_t4/GEDI04_A_2021038061617_O12214_02_T07247_02_002_02_V002_sub.h5.csv
(2163349, 51)
l4a_csv/desa_t4/GEDI04_A_2019131042706_O02319_03_T02724_02_002_02_V002_sub.h5.csv
(2175337, 51)
l4a_csv/desa_t4/GEDI04_A_2019277183228_O04594_03_T03581_02_002_02_V002_sub.h5.csv
(2226840, 51)
l4a_csv/desa_t4/GEDI04_A_2020278173050_O10268_03_T09992_02_002_02_V002_sub.h5.csv
(2232450, 51)
l4a_csv/desa_t4/GEDI04_A_2020301085401_O10619_03_T06779_02_002_02_V002_sub.h5.csv
(2247996, 51)
l4a_csv/desa_t4/GEDI04_A_2019267123147_O04435_02_T03850_02_002_02_V002_sub.h5.csv
(2263139, 51)
l4a_csv/desa_t4/GEDI04_A_2021073022328_O12754_03_T07085_02_002_02_V002_sub.h5.csv
(2290195, 51)
l4a_csv/desa_t4/GEDI04_A_2020227042424_O09469_02_T00790_02_002_02_V002_sub.h5.csv
(2290195, 51)
l4a_csv/desa_t4/GEDI04_A_2020042151302_O06608_03_T04239_02_002_02_V002_sub.h5.csv
(2317958, 51)
l4a_csv/desa_t4/GEDI04_A_2020269212142_O10131_03_T11048_02_002_02_V002_sub.h5.csv
(2330619, 51)
l4a_csv/desa_t4/GEDI04_A_2019210205202_O03556_03_T00995_02_002_02_V002_sub.h5.csv
(2351174, 51)
l4a_csv/desa_t4/GEDI04_A_2020364215037_O11604_02_T05824_02_002_02_V002_sub.h5.csv
(2379416, 51)
l4a_csv/desa_t4/GEDI04_A_2021308051419_O16398_03_T04499_02_002_02_V002_sub.h5.csv
(2425045, 51)
l4a_csv/desa_t4/GEDI04_A_2019319161258_O05244_02_T05212_02_002_02_V002_sub.h5.csv
(2425045, 51)
l4a_csv/desa_t4/GEDI04_A_2019188060516_O03205_03_T00123_02_002_02_V002_sub.h5.csv
(2457369, 51)
l4a_csv/desa_t4/GEDI04_A_2020297102813_O10558_03_T09472_02_002_02_V002_sub.h5.csv
(2468585, 51)
l4a_csv/desa_t4/GEDI04_A_2021304064655_O16337_03_T06075_02_002_02_V002_sub.h5.csv
(2506273, 51)
l4a_csv/desa_t4/GEDI04_A_2020250050622_O09826_03_T08508_02_002_02_V002_sub.h5.csv
(2531908, 51)
l4a_csv/desa_t4/GEDI04_A_2019269214641_O04472_03_T02663_02_002_02_V002_sub.h5.csv
(2549562, 51)
l4a_csv/desa_t4/GEDI04_A_2019134033031_O02365_03_T04851_02_002_02_V002_sub.h5.csv
(2592518, 51)
l4a_csv/desa_t4/GEDI04_A_2019141004724_O02472_03_T01852_02_002_02_V002_sub.h5.csv
(2627980, 51)
l4a_csv/desa_t4/GEDI04_A_2020156175938_O08377_03_T05157_02_002_02_V002_sub.h5.csv
(2682373, 51)
l4a_csv/desa_t4/GEDI04_A_2020274190309_O10207_03_T08569_02_002_02_V002_sub.h5.csv
(2683728, 51)
l4a_csv/desa_t4/GEDI04_A_2020200143608_O09057_02_T04967_02_002_02_V002_sub.h5.csv
(2719767, 51)
l4a_csv/desa_t4/GEDI04_A_2020204130115_O09118_02_T05273_02_002_02_V002_sub.h5.csv
(2739077, 51)
l4a_csv/desa_t4/GEDI04_A_2019312044317_O05128_03_T02571_02_002_02_V002_sub.h5.csv
(2759711, 51)
l4a_csv/desa_t4/GEDI04_A_2021105131550_O13257_03_T11262_02_002_02_V002_sub.h5.csv
(2770993, 51)
l4a_csv/desa_t4/GEDI04_A_2021331200256_O16764_03_T03275_02_002_02_V002_sub.h5.csv
(2812126, 51)
l4a_csv/desa_t4/GEDI04_A_2020223055757_O09408_02_T05059_02_002_02_V002_sub.h5.csv
(2812126, 51)
l4a_csv/desa_t4/GEDI04_A_2021355104706_O17130_03_T09472_02_002_02_V002_sub.h5.csv
(2823380, 51)
l4a_csv/desa_t4/GEDI04_A_2020110120428_O07660_03_T01301_02_002_02_V002_sub.h5.csv
(2832593, 51)
l4a_csv/desa_t4/GEDI04_A_2019200145942_O03397_02_T02886_02_002_02_V002_sub.h5.csv
(2832593, 51)
l4a_csv/desa_t4/GEDI04_A_2021269103425_O15797_02_T07002_02_002_02_V002_sub.h5.csv
(2832747, 51)
l4a_csv/desa_t4/GEDI04_A_2021248045956_O15468_03_T07039_02_002_02_V002_sub.h5.csv
(2887861, 51)
l4a_csv/desa_t4/GEDI04_A_2021279164647_O15956_03_T02204_02_002_02_V002_sub.h5.csv
(2888283, 51)
l4a_csv/desa_t4/GEDI04_A_2019207122724_O03504_02_T02626_02_002_02_V002_sub.h5.csv
(2946926, 51)
l4a_csv/desa_t4/GEDI04_A_2021213084430_O14928_02_T08425_02_002_02_V002_sub.h5.csv
(2948815, 51)
l4a_csv/desa_t4/GEDI04_A_2021233010135_O15233_02_T06390_02_002_02_V002_sub.h5.csv
(2981873, 51)
l4a_csv/desa_t4/GEDI04_A_2020058225431_O06861_02_T03942_02_002_02_V002_sub.h5.csv
(2986613, 51)
l4a_csv/desa_t4/GEDI04_A_2021069175232_O12702_02_T11057_02_002_02_V002_sub.h5.csv
(2986728, 51)
l4a_csv/desa_t4/GEDI04_A_2020255164209_O09911_02_T10307_02_002_02_V002_sub.h5.csv
(2986728, 51)
l4a_csv/desa_t4/GEDI04_A_2020309194119_O10750_02_T11057_02_002_02_V002_sub.h5.csv
(2986944, 51)
l4a_csv/desa_t4/GEDI04_A_2019273200936_O04533_03_T04545_02_002_02_V002_sub.h5.csv
(3022229, 51)
l4a_csv/desa_t4/GEDI04_A_2020208112624_O09179_02_T01157_02_002_02_V002_sub.h5.csv
(3030993, 51)
l4a_csv/desa_t4/GEDI04_A_2020081233617_O07218_03_T04698_02_002_02_V002_sub.h5.csv
(3068366, 51)
l4a_csv/desa_t4/GEDI04_A_2019113113840_O02044_03_T01194_02_002_02_V002_sub.h5.csv
(3129736, 51)
l4a_csv/desa_t4/GEDI04_A_2020336185022_O11168_03_T10084_02_002_02_V002_sub.h5.csv
(3159726, 51)
l4a_csv/desa_t4/GEDI04_A_2020019143129_O06251_02_T00637_02_002_02_V002_sub.h5.csv
(3159726, 51)
l4a_csv/desa_t4/GEDI04_A_2019124210406_O02221_02_T01310_02_002_02_V002_sub.h5.csv
(3160187, 51)
l4a_csv/desa_t4/GEDI04_A_2019221163907_O03724_03_T04652_02_002_02_V002_sub.h5.csv
(3200089, 51)
l4a_csv/desa_t4/GEDI04_A_2020016012346_O06196_03_T00184_02_002_02_V002_sub.h5.csv
(3200089, 51)
l4a_csv/desa_t4/GEDI04_A_2021106031200_O13266_02_T10812_02_002_02_V002_sub.h5.csv
(3228972, 51)
l4a_csv/desa_t4/GEDI04_A_2020258015939_O09948_03_T11354_02_002_02_V002_sub.h5.csv
(3253117, 51)
l4a_csv/desa_t4/GEDI04_A_2021006184250_O11726_02_T10246_02_002_02_V002_sub.h5.csv
(3285419, 51)
l4a_csv/desa_t4/GEDI04_A_2021045131432_O12327_03_T10390_02_002_02_V002_sub.h5.csv
(3322022, 51)
l4a_csv/desa_t4/GEDI04_A_2021293011950_O16163_02_T08930_02_002_02_V002_sub.h5.csv
(3369647, 51)
l4a_csv/desa_t4/GEDI04_A_2020207213034_O09170_03_T04453_02_002_02_V002_sub.h5.csv
(3369647, 51)
l4a_csv/desa_t4/GEDI04_A_2019244213023_O04084_02_T05273_02_002_02_V002_sub.h5.csv
(3388966, 51)
l4a_csv/desa_t4/GEDI04_A_2020107033247_O07608_02_T03850_02_002_02_V002_sub.h5.csv
(3404105, 51)
l4a_csv/desa_t4/GEDI04_A_2021049114141_O12388_03_T05968_02_002_02_V002_sub.h5.csv
(3439359, 51)
l4a_csv/desa_t4/GEDI04_A_2020118085615_O07782_03_T01607_02_002_02_V002_sub.h5.csv
(3440499, 51)
l4a_csv/desa_t4/GEDI04_A_2021157070523_O14059_02_T09588_02_002_02_V002_sub.h5.csv
(3499029, 51)
l4a_csv/desa_t4/GEDI04_A_2020054103213_O06791_03_T00123_02_002_02_V002_sub.h5.csv
(3529710, 51)
l4a_csv/desa_t4/GEDI04_A_2021153083811_O13998_02_T01203_02_002_02_V002_sub.h5.csv
(3588205, 51)
l4a_csv/desa_t4/GEDI04_A_2019240230830_O04023_02_T03085_02_002_02_V002_sub.h5.csv
(3646649, 51)
l4a_csv/desa_t4/GEDI04_A_2021026105427_O12031_02_T07553_02_002_02_V002_sub.h5.csv
(3688209, 51)
l4a_csv/desa_t4/GEDI04_A_2020103050437_O07547_02_T05579_02_002_02_V002_sub.h5.csv
(3690623, 51)
l4a_csv/desa_t4/GEDI04_A_2021169022640_O14242_02_T08012_02_002_02_V002_sub.h5.csv
(3749166, 51)
l4a_csv/desa_t4/GEDI04_A_2021217071200_O14989_02_T06849_02_002_02_V002_sub.h5.csv
(3757597, 51)
l4a_csv/desa_t4/GEDI04_A_2020301224957_O10628_02_T09175_02_002_02_V002_sub.h5.csv
(3757597, 51)
l4a_csv/desa_t4/GEDI04_A_2021359091306_O17191_03_T08355_02_002_02_V002_sub.h5.csv
(3777483, 51)
l4a_csv/desa_t4/GEDI04_A_2020165044623_O08508_02_T05013_02_002_02_V002_sub.h5.csv
(3835945, 51)
l4a_csv/desa_t4/GEDI04_A_2020305211540_O10689_02_T07905_02_002_02_V002_sub.h5.csv
(3835945, 51)
l4a_csv/desa_t4/GEDI04_A_2021207210710_O14843_03_T11201_02_002_02_V002_sub.h5.csv

(3854192, 51)
l4a_csv/desa_t4/GEDI04_A_2019222063408_O03733_02_T04355_02_002_02_V002_sub.h5.csv
(3912714, 51)
l4a_csv/desa_t4/GEDI04_A_2020325132610_O10994_02_T08364_02_002_02_V002_sub.h5.csv
(3922523, 51)
l4a_csv/desa_t4/GEDI04_A_2020206221730_O09155_03_T00781_02_002_02_V002_sub.h5.csv
(3925772, 51)
l4a_csv/desa_t4/GEDI04_A_2019263001316_O04365_03_T03688_02_002_02_V002_sub.h5.csv
(3950589, 51)
l4a_csv/desa_t4/GEDI04_A_2021263225527_O15712_03_T08508_02_002_02_V002_sub.h5.csv
(3976223, 51)
l4a_csv/desa_t4/GEDI04_A_2020161062058_O08447_02_T04860_02_002_02_V002_sub.h5.csv
(4013541, 51)
l4a_csv/desa_t4/GEDI04_A_2021351122005_O17069_03_T11048_02_002_02_V002_sub.h5.csv
(4026250, 51)
l4a_csv/desa_t4/GEDI04_A_2019251190142_O04191_02_T01555_02_002_02_V002_sub.h5.csv
(4049306, 51)
l4a_csv/desa_t4/GEDI04_A_2021172105734_O14294_03_T09732_02_002_02_V002_sub.h5.csv
(4107759, 51)
l4a_csv/desa_t4/GEDI04_A_2019167042859_O02878_02_T05166_02_002_02_V002_sub.h5.csv
(4166205, 51)
l4a_csv/desa_t4/GEDI04_A_2020352123557_O11412_03_T06121_02_002_02_V002_sub.h5.csv
(4205614, 51)
l4a_csv/desa_t4/GEDI04_A_2020211103830_O09225_02_T00637_02_002_02_V002_sub.h5.csv
(4205614, 51)
l4a_csv/desa_t4/GEDI04_A_2021240215908_O15355_02_T10047_02_002_02_V002_sub.h5.csv
(4264141, 51)
l4a_csv/desa_t4/GEDI04_A_2021280160022_O15971_03_T09992_02_002_02_V002_sub.h5.csv
(4269720, 51)
l4a_csv/desa_t4/GEDI04_A_2020101155432_O07523_03_T05203_02_002_02_V002_sub.h5.csv
(4277411, 51)
l4a_csv/desa_t4/GEDI04_A_2021232110553_O15224_03_T11109_02_002_02_V002_sub.h5.csv
(4294388, 51)
l4a_csv/desa_t4/GEDI04_A_2019138153812_O02435_02_T02427_02_002_02_V002_sub.h5.csv
(4315675, 51)
l4a_csv/desa_t4/GEDI04_A_2021320003738_O16581_03_T11155_02_002_02_V002_sub.h5.csv
(4378791, 51)
l4a_csv/desa_t4/GEDI04_A_2020293120221_O10497_03_T10895_02_002_02_V002_sub.h5.csv
(4385659, 51)
l4a_csv/desa_t4/GEDI04_A_2020089203053_O07340_03_T01699_02_002_02_V002_sub.h5.csv
(4420625, 51)
l4a_csv/desa_t4/GEDI04_A_2020105142243_O07584_03_T03627_02_002_02_V002_sub.h5.csv
(4425340, 51)
l4a_csv/desa_t4/GEDI04_A_2021304204307_O16346_02_T08471_02_002_02_V002_sub.h5.csv
(4483907, 51)
l4a_csv/desa_t4/GEDI04_A_2019206223222_O03495_03_T01500_02_002_02_V002_sub.h5.csv
(4536707, 51)
l4a_csv/desa_t4/GEDI04_A_2019145125744_O02542_02_T04661_02_002_02_V002_sub.h5.csv
(4590851, 51)
l4a_csv/desa_t4/GEDI04_A_2019266223616_O04426_03_T02877_02_002_02_V002_sub.h5.csv
(4592905, 51)
l4a_csv/desa_t4/GEDI04_A_2021316160442_O16529_02_T11164_02_002_02_V002_sub.h5.csv
(4651519, 51)
l4a_csv/desa_t4/GEDI04_A_2020152193407_O08316_03_T00582_02_002_02_V002_sub.h5.csv
(4696020, 51)
l4a_csv/desa_t4/GEDI04_A_2020082133227_O07227_02_T00132_02_002_02_V002_sub.h5.csv
(4712358, 51)
l4a_csv/desa_t4/GEDI04_A_2019233022437_O03901_02_T00285_02_002_02_V002_sub.h5.csv
(4747745, 51)
l4a_csv/desa_t4/GEDI04_A_2021277072918_O15919_02_T02580_02_002_02_V002_sub.h5.csv
(4761552, 51)
l4a_csv/desa_t4/GEDI04_A_2019330212713_O05418_03_T02770_02_002_02_V002_sub.h5.csv
(4820206, 51)
l4a_csv/desa_t4/GEDI04_A_2020066194700_O06983_02_T01249_02_002_02_V002_sub.h5.csv
(4831022, 51)
l4a_csv/desa_t4/GEDI04_A_2020333101948_O11116_02_T06788_02_002_02_V002_sub.h5.csv
(4834782, 51)
l4a_csv/desa_t4/GEDI04_A_2021359230849_O17200_02_T09328_02_002_02_V002_sub.h5.csv
(4834782, 51)
l4a_csv/desa_t4/GEDI04_A_2021065192541_O12641_02_T08211_02_002_02_V002_sub.h5.csv
(4836489, 51)
l4a_csv/desa_t4/GEDI04_A_2019162161505_O02808_03_T01393_02_002_02_V002_sub.h5.csv
(4862820, 51)
l4a_csv/desa_t4/GEDI04_A_2020281164438_O10314_03_T10589_02_002_02_V002_sub.h5.csv
(4862820, 51)
l4a_csv/desa_t4/GEDI04_A_2020117094301_O07767_03_T05050_02_002_02_V002_sub.h5.csv
(4865059, 51)
l4a_csv/desa_t4/GEDI04_A_2020317163226_O10872_02_T09787_02_002_02_V002_sub.h5.csv
(4878915, 51)
l4a_csv/desa_t4/GEDI04_A_2021221053928_O15050_02_T09542_02_002_02_V002_sub.h5.csv
(4893009, 51)
l4a_csv/desa_t4/GEDI04_A_2021363073718_O17252_03_T02969_02_002_02_V002_sub.h5.csv
(4926562, 51)
l4a_csv/desa_t4/GEDI04_A_2021050013748_O12397_02_T09787_02_002_02_V002_sub.h5.csv
(4940429, 51)
l4a_csv/desa_t4/GEDI04_A_2019144230246_O02533_03_T02112_02_002_02_V002_sub.h5.csv
(4975134, 51)
l4a_csv/desa_t4/GEDI04_A_2020332202343_O11107_03_T05815_02_002_02_V002_sub.h5.csv
(5007835, 51)
l4a_csv/desa_t4/GEDI04_A_2021010170852_O11787_02_T07400_02_002_02_V002_sub.h5.csv
(5042177, 51)
l4a_csv/desa_t4/GEDI04_A_2020234112111_O09582_03_T02663_02_002_02_V002_sub.h5.csv
(5061227, 51)
l4a_csv/desa_t4/GEDI04_A_2019282065039_O04664_02_T05319_02_002_02_V002_sub.h5.csv
(5119755, 51)
l4a_csv/desa_t4/GEDI04_A_2021215180209_O14965_03_T00934_02_002_02_V002_sub.h5.csv
(5128793, 51)
l4a_csv/desa_t4/GEDI04_A_2021284142733_O16032_03_T06840_02_002_02_V002_sub.h5.csv
(5142923, 51)
l4a_csv/desa_t4/GEDI04_A_2020298233723_O10582_02_T07002_02_002_02_V002_sub.h5.csv
(5142928, 51)
l4a_csv/desa_t4/GEDI04_A_2021054000453_O12458_02_T08364_02_002_02_V002_sub.h5.csv
(5152730, 51)
l4a_csv/desa_t4/GEDI04_A_2020043050904_O06617_02_T02519_02_002_02_V002_sub.h5.csv
(5152730, 51)
l4a_csv/desa_t4/GEDI04_A_2020169031147_O08569_02_T00897_02_002_02_V002_sub.h5.csv
(5211250, 51)
l4a_csv/desa_t4/GEDI04_A_2021133022614_O13684_03_T06381_02_002_02_V002_sub.h5.csv
(5242500, 51)
l4a_csv/desa_t4/GEDI04_A_2019247064435_O04121_03_T03933_02_002_02_V002_sub.h5.csv
(5258055, 51)
l4a_csv/desa_t4/GEDI04_A_2021236093358_O15285_03_T10803_02_002_02_V002_sub.h5.csv
(5285691, 51)
l4a_csv/desa_t4/GEDI04_A_2019316030639_O05189_03_T04453_02_002_02_V002_sub.h5.csv
(5285691, 51)
l4a_csv/desa_t4/GEDI04_A_2021271195203_O15834_03_T06626_02_002_02_V002_sub.h5.csv
(5295263, 51)
l4a_csv/desa_t4/GEDI04_A_2021096170716_O13120_03_T10742_02_002_02_V002_sub.h5.csv
(5296378, 51)
l4a_csv/desa_t4/GEDI04_A_2020184205306_O08813_02_T00239_02_002_02_V002_sub.h5.csv
(5354779, 51)
l4a_csv/desa_t4/GEDI04_A_2020062212047_O06922_02_T02672_02_002_02_V002_sub.h5.csv
(5361539, 51)
l4a_csv/desa_t4/GEDI04_A_2020188191822_O08874_02_T03238_02_002_02_V002_sub.h5.csv
(5410243, 51)
l4a_csv/desa_t4/GEDI04_A_2021341060817_O16910_02_T08578_02_002_02_V002_sub.h5.csv
(5410243, 51)
l4a_csv/desa_t4/GEDI04_A_2020265225402_O10070_03_T11201_02_002_02_V002_sub.h5.csv
(5428605, 51)
l4a_csv/desa_t4/GEDI04_A_2020012165438_O06144_02_T03697_02_002_02_V002_sub.h5.csv
(5452148, 51)
l4a_csv/desa_t4/GEDI04_A_2021200140811_O14730_02_T09481_02_002_02_V002_sub.h5.csv
(5452148, 51)
l4a_csv/desa_t4/GEDI04_A_2020283055351_O10338_02_T09389_02_002_02_V002_sub.h5.csv
(5474635, 51)
l4a_csv/desa_t4/GEDI04_A_2021061070242_O12571_03_T07238_02_002_02_V002_sub.h5.csv
(5506452, 51)
l4a_csv/desa_t4/GEDI04_A_2019297010841_O04893_02_T01096_02_002_02_V002_sub.h5.csv
(5509176, 51)
l4a_csv/desa_t4/GEDI04_A_2020239225654_O09667_02_T01616_02_002_02_V002_sub.h5.csv
(5509176, 51)
l4a_csv/desa_t4/GEDI04_A_2019265232344_O04411_03_T04897_02_002_02_V002_sub.h5.csv
(5509176, 51)
l4a_csv/desa_t4/GEDI04_A_2021347135257_O17008_03_T09625_02_002_02_V002_sub.h5.csv
(5526218, 51)
l4a_csv/desa_t4/GEDI04_A_2020317023632_O10863_03_T07391_02_002_02_V002_sub.h5.csv
(5561409, 51)
l4a_csv/desa_t4/GEDI04_A_2020074163919_O07105_02_T01402_02_002_02_V002_sub.h5.csv
(5580394, 51)
l4a_csv/desa_t4/GEDI04_A_2021010031254_O11778_03_T10696_02_002_02_V002_sub.h5.csv
(5628411, 51)
l4a_csv/desa_t4/GEDI04_A_2020291024541_O10460_02_T08272_02_002_02_V002_sub.h5.csv
(5638267, 51)
l4a_csv/desa_t4/GEDI04_A_2021209101659_O14867_02_T07155_02_002_02_V002_sub.h5.csv
(5638267, 51)
l4a_csv/desa_t4/GEDI04_A_2021240080246_O15346_03_T04805_02_002_02_V002_sub.h5.csv
(5673389, 51)
l4a_csv/desa_t4/GEDI04_A_2020172114117_O08621_03_T00077_02_002_02_V002_sub.h5.csv
(5723317, 51)
l4a_csv/desa_t4/GEDI04_A_2021196154028_O14669_02_T11210_02_002_02_V002_sub.h5.csv
(5731399, 51)
l4a_csv/desa_t4/GEDI04_A_2020302220309_O10643_02_T05732_02_002_02_V002_sub.h5.csv
(5731399, 51)
l4a_csv/desa_t4/GEDI04_A_2021156170914_O14050_03_T01653_02_002_02_V002_sub.h5.csv
(5778462, 51)
l4a_csv/desa_t4/GEDI04_A_2020113111709_O07706_03_T00628_02_002_02_V002_sub.h5.csv
(5778462, 51)
l4a_csv/desa_t4/GEDI04_A_2020273194929_O10192_03_T09319_02_002_02_V002_sub.h5.csv
(5783890, 51)
l4a_csv/desa_t4/GEDI04_A_2020192174533_O08935_02_T01815_02_002_02_V002_sub.h5.csv
(5841690, 51)
l4a_csv/desa_t4/GEDI04_A_2019240091308_O04014_03_T03382_02_002_02_V002_sub.h5.csv

(5876837, 51)
l4a_csv/desa_t4/GEDI04_A_2020247194928_O09789_02_T05885_02_002_02_V002_sub.h5.csv
(5876837, 51)
l4a_csv/desa_t4/GEDI04_A_2021197145410_O14684_02_T10307_02_002_02_V002_sub.h5.csv
(5876837, 51)
l4a_csv/desa_t4/GEDI04_A_2021196014415_O14660_03_T07391_02_002_02_V002_sub.h5.csv
(5912095, 51)
l4a_csv/desa_t4/GEDI04_A_2021332095915_O16773_02_T06941_02_002_02_V002_sub.h5.csv
(5920619, 51)
l4a_csv/desa_t4/GEDI04_A_2019131182115_O02328_02_T02580_02_002_02_V002_sub.h5.csv
(5933639, 51)
l4a_csv/desa_t4/GEDI04_A_2019120225018_O02160_02_T02320_02_002_02_V002_sub.h5.csv
(5992094, 51)
l4a_csv/desa_t4/GEDI04_A_2021275181931_O15895_03_T09319_02_002_02_V002_sub.h5.csv
(5997505, 51)
l4a_csv/desa_t4/GEDI04_A_2020023125623_O06312_02_T00943_02_002_02_V002_sub.h5.csv
(5997505, 51)
l4a_csv/desa_t4/GEDI04_A_2019203140742_O03443_02_T04401_02_002_02_V002_sub.h5.csv
(6022674, 51)
l4a_csv/desa_t4/GEDI04_A_2021092183943_O13059_03_T06473_02_002_02_V002_sub.h5.csv
(6026681, 51)
l4a_csv/desa_t4/GEDI04_A_2021292112336_O16154_03_T10956_02_002_02_V002_sub.h5.csv
(6049330, 51)
l4a_csv/desa_t4/GEDI04_A_2019278082758_O04603_02_T02014_02_002_02_V002_sub.h5.csv
(6094814, 51)
l4a_csv/desa_t4/GEDI04_A_2020094085430_O07410_02_T05212_02_002_02_V002_sub.h5.csv
(6094814, 51)
l4a_csv/desa_t4/GEDI04_A_2021276173308_O15910_03_T08569_02_002_02_V002_sub.h5.csv
(6096163, 51)
l4a_csv/desa_t4/GEDI04_A_2020286142349_O10390_03_T07146_02_002_02_V002_sub.h5.csv
(6100398, 51)
l4a_csv/desa_t4/GEDI04_A_2019147221020_O02579_03_T02204_02_002_02_V002_sub.h5.csv
(6100822, 51)
l4a_csv/desa_t4/GEDI04_A_2019171024756_O02939_02_T00545_02_002_02_V002_sub.h5.csv
(6143892, 51)
l4a_csv/desa_t4/GEDI04_A_2021137005314_O13745_03_T06228_02_002_02_V002_sub.h5.csv
(6179033, 51)
l4a_csv/desa_t4/GEDI04_A_2021144214730_O13867_03_T03076_02_002_02_V002_sub.h5.csv
(6221866, 51)
l4a_csv/desa_t4/GEDI04_A_2021201132151_O14745_02_T05885_02_002_02_V002_sub.h5.csv
(6221866, 51)
l4a_csv/desa_t4/GEDI04_A_2019290033556_O04786_02_T05120_02_002_02_V002_sub.h5.csv
(6249661, 51)
l4a_csv/desa_t4/GEDI04_A_2019177101917_O03037_03_T02158_02_002_02_V002_sub.h5.csv
(6296572, 51)
l4a_csv/desa_t4/GEDI04_A_2020329115304_O11055_02_T11210_02_002_02_V002_sub.h5.csv
(6304358, 51)
l4a_csv/desa_t4/GEDI04_A_2020145123854_O08203_02_T05671_02_002_02_V002_sub.h5.csv
(6321267, 51)
l4a_csv/desa_t4/GEDI04_A_2020360092827_O11534_03_T10543_02_002_02_V002_sub.h5.csv
(6363532, 51)
l4a_csv/desa_t4/GEDI04_A_2021102044433_O13205_02_T06543_02_002_02_V002_sub.h5.csv
(6388179, 51)
l4a_csv/desa_t4/GEDI04_A_2021161053231_O14120_02_T08165_02_002_02_V002_sub.h5.csv
(6446707, 51)
l4a_csv/desa_t4/GEDI04_A_2020051020154_O06739_02_T05518_02_002_02_V002_sub.h5.csv
(6446707, 51)
l4a_csv/desa_t4/GEDI04_A_2021061205848_O12580_02_T06788_02_002_02_V002_sub.h5.csv
(6450443, 51)
l4a_csv/desa_t4/GEDI04_A_2021260142245_O15660_02_T01402_02_002_02_V002_sub.h5.csv
(6469413, 51)
l4a_csv/desa_t4/GEDI04_A_2020277181709_O10253_03_T09166_02_002_02_V002_sub.h5.csv
(6469447, 51)
l4a_csv/desa_t4/GEDI04_A_2021289025150_O16102_02_T10659_02_002_02_V002_sub.h5.csv
(6506673, 51)
l4a_csv/desa_t4/GEDI04_A_2021267212432_O15773_03_T06779_02_002_02_V002_sub.h5.csv
(6522038, 51)
l4a_csv/desa_t4/GEDI04_A_2019244073502_O04075_03_T04147_02_002_02_V002_sub.h5.csv
(6531452, 51)
l4a_csv/desa_t4/GEDI04_A_2020070041711_O07035_03_T03122_02_002_02_V002_sub.h5.csv
(6566738, 51)
l4a_csv/desa_t4/GEDI04_A_2021021223049_O11961_03_T05310_02_002_02_V002_sub.h5.csv
(6626915, 51)
l4a_csv/desa_t4/GEDI04_A_2020216081825_O09301_02_T01463_02_002_02_V002_sub.h5.csv
(6626915, 51)
l4a_csv/desa_t4/GEDI04_A_2020066055100_O06974_03_T04545_02_002_02_V002_sub.h5.csv
(6662252, 51)
l4a_csv/desa_t4/GEDI04_A_2021094074935_O13083_02_T09542_02_002_02_V002_sub.h5.csv
(6676899, 51)
l4a_csv/desa_t4/GEDI04_A_2019316170213_O05198_02_T04003_02_002_02_V002_sub.h5.csv
(6683579, 51)
l4a_csv/desa_t4/GEDI04_A_2020184065715_O08804_03_T04958_02_002_02_V002_sub.h5.csv
(6717231, 51)
l4a_csv/desa_t4/GEDI04_A_2020228033747_O09484_02_T01616_02_002_02_V002_sub.h5.csv
(6717231, 51)
l4a_csv/desa_t4/GEDI04_A_2020196161100_O08996_02_T02121_02_002_02_V002_sub.h5.csv
(6755424, 51)
l4a_csv/desa_t4/GEDI04_A_2021109114314_O13318_03_T08263_02_002_02_V002_sub.h5.csv
(6760236, 51)
l4a_csv/desa_t4/GEDI04_A_2019225145838_O03785_03_T04300_02_002_02_V002_sub.h5.csv
(6765156, 51)
l4a_csv/desa_t4/GEDI04_A_2021029192538_O12083_03_T06427_02_002_02_V002_sub.h5.csv
(6814667, 51)
l4a_csv/desa_t4/GEDI04_A_2020122211800_O07852_02_T02733_02_002_02_V002_sub.h5.csv
(6819174, 51)
l4a_csv/desa_t4/GEDI04_A_2019211104705_O03565_02_T03544_02_002_02_V002_sub.h5.csv
(6851841, 51)
l4a_csv/desa_t4/GEDI04_A_2021281055631_O15980_02_T08119_02_002_02_V002_sub.h5.csv
(6870072, 51)
l4a_csv/desa_t4/GEDI04_A_2021173005339_O14303_02_T10858_02_002_02_V002_sub.h5.csv
(6928631, 51)
l4a_csv/desa_t4/GEDI04_A_2019120085608_O02151_03_T02464_02_002_02_V002_sub.h5.csv
(6987464, 51)
l4a_csv/desa_t4/GEDI04_A_2021225040653_O15111_02_T07966_02_002_02_V002_sub.h5.csv
(7014223, 51)
l4a_csv/desa_t4/GEDI04_A_2020356110214_O11473_03_T08967_02_002_02_V002_sub.h5.csv
(7055105, 51)
l4a_csv/desa_t4/GEDI04_A_2021129175519_O13632_02_T05931_02_002_02_V002_sub.h5.csv
(7113610, 51)
l4a_csv/desa_t4/GEDI04_A_2020086115945_O07288_02_T04095_02_002_02_V002_sub.h5.csv
(7126475, 51)
l4a_csv/desa_t4/GEDI04_A_2021110013925_O13327_02_T07813_02_002_02_V002_sub.h5.csv
(7160845, 51)
l4a_csv/desa_t4/GEDI04_A_2021312034132_O16459_03_T10191_02_002_02_V002_sub.h5.csv
(7207192, 51)
l4a_csv/desa_t4/GEDI04_A_2021283151359_O16017_03_T07743_02_002_02_V002_sub.h5.csv
(7207192, 51)
l4a_csv/desa_t4/GEDI04_A_2021244202744_O15416_02_T05472_02_002_02_V002_sub.h5.csv
(7265751, 51)
l4a_csv/desa_t4/GEDI04_A_2019181223258_O03107_02_T02932_02_002_02_V002_sub.h5.csv
(7324217, 51)
l4a_csv/desa_t4/GEDI04_A_2019181083804_O03098_03_T03229_02_002_02_V002_sub.h5.csv
(7361195, 51)
l4a_csv/desa_t4/GEDI04_A_2019327125933_O05366_02_T01861_02_002_02_V002_sub.h5.csv
(7400720, 51)
l4a_csv/desa_t4/GEDI04_A_2020114103024_O07721_03_T01454_02_002_02_V002_sub.h5.csv
(7407046, 51)
l4a_csv/desa_t4/GEDI04_A_2020267120344_O10094_02_T07155_02_002_02_V002_sub.h5.csv
(7407046, 51)
l4a_csv/desa_t4/GEDI04_A_2019292125039_O04823_03_T02357_02_002_02_V002_sub.h5.csv
(7413168, 51)
l4a_csv/desa_t4/GEDI04_A_2020357005814_O11482_02_T10093_02_002_02_V002_sub.h5.csv
(7437225, 51)
l4a_csv/desa_t4/GEDI04_A_2019127200735_O02267_02_T00591_02_002_02_V002_sub.h5.csv
(7490853, 51)
l4a_csv/desa_t4/GEDI04_A_2019228140719_O03831_03_T05662_02_002_02_V002_sub.h5.csv
(7515737, 51)
l4a_csv/desa_t4/GEDI04_A_2020340171650_O11229_03_T08814_02_002_02_V002_sub.h5.csv
(7551101, 51)
l4a_csv/desa_t4/GEDI04_A_2020218173529_O09338_03_T01087_02_002_02_V002_sub.h5.csv
(7565932, 51)
l4a_csv/desa_t4/GEDI04_A_2021070170601_O12717_02_T07461_02_002_02_V002_sub.h5.csv
(7565932, 51)
l4a_csv/desa_t4/GEDI04_A_2021042044332_O12275_02_T09940_02_002_02_V002_sub.h5.csv
(7587978, 51)
l4a_csv/desa_t4/GEDI04_A_2020262002651_O10009_03_T08355_02_002_02_V002_sub.h5.csv
(7607833, 51)
l4a_csv/desa_t4/GEDI04_A_2020024120948_O06327_02_T03039_02_002_02_V002_sub.h5.csv
(7607833, 51)
l4a_csv/desa_t4/GEDI04_A_2021022122700_O11970_02_T03437_02_002_02_V002_sub.h5.csv
(7665571, 51)
l4a_csv/desa_t4/GEDI04_A_2021260002619_O15651_03_T08814_02_002_02_V002_sub.h5.csv
(7701006, 51)
l4a_csv/desa_t4/GEDI04_A_2020111020026_O07669_02_T00851_02_002_02_V002_sub.h5.csv
(7726715, 51)
l4a_csv/desa_t4/GEDI04_A_2019229040240_O03840_02_T02519_02_002_02_V002_sub.h5.csv
(7726715, 51)
l4a_csv/desa_t4/GEDI04_A_2019331112246_O05427_02_T00744_02_002_02_V002_sub.h5.csv
(7785080, 51)
l4a_csv/desa_t4/GEDI04_A_2020305071945_O10680_03_T09625_02_002_02_V002_sub.h5.csv
(7803381, 51)
l4a_csv/desa_t4/GEDI04_A_2020254033236_O09887_03_T07085_02_002_02_V002_sub.h5.csv
(7830470, 51)
l4a_csv/desa_t4/GEDI04_A_2020344154315_O11290_03_T10390_02_002_02_V002_sub.h5.csv
(7867060, 51)
l4a_csv/desa_t4/GEDI04_A_2021033175253_O12144_03_T07850_02_002_02_V002_sub.h5.csv
(7916554, 51)
l4a_csv/desa_t4/GEDI04_A_2020090102702_O07349_02_T05518_02_002_02_V002_sub.h5.csv
(7925370, 51)
l4a_csv/desa_t4/GEDI04_A_2021088201236_O12998_03_T08049_02_002_02_V002_sub.h5.csv
(7933755, 51)
l4a_csv/desa_t4/GEDI04_A_2021288125533_O16093_03_T09533_02_002_02_V002_sub.h5.csv

(7952146, 51)
l4a_csv/desa_t4/GEDI04_A_2021149101056_O13937_02_T01203_02_002_02_V002_sub.h5.csv
(8010579, 51)
l4a_csv/desa_t4/GEDI04_A_2020015021045_O06181_03_T03627_02_002_02_V002_sub.h5.csv
(8015274, 51)
l4a_csv/desa_t4/GEDI04_A_2019138014405_O02426_03_T03841_02_002_02_V002_sub.h5.csv
(8034415, 51)
l4a_csv/desa_t4/GEDI04_A_2020160162505_O08438_03_T03734_02_002_02_V002_sub.h5.csv
(8091606, 51)
l4a_csv/desa_t4/GEDI04_A_2021097162054_O13135_03_T05723_02_002_02_V002_sub.h5.csv
(8094379, 51)
l4a_csv/desa_t4/GEDI04_A_2019196024454_O03327_03_T03535_02_002_02_V002_sub.h5.csv
(8124970, 51)
l4a_csv/desa_t4/GEDI04_A_2021125053205_O13562_03_T09227_02_002_02_V002_sub.h5.csv
(8154745, 51)
l4a_csv/desa_t4/GEDI04_A_2021229023416_O15172_02_T09236_02_002_02_V002_sub.h5.csv
(8185694, 51)
l4a_csv/desa_t4/GEDI04_A_2020164145030_O08499_03_T01041_02_002_02_V002_sub.h5.csv
(8247236, 51)
l4a_csv/desa_t4/GEDI04_A_2019117095234_O02105_03_T01760_02_002_02_V002_sub.h5.csv
(8247236, 51)
l4a_csv/desa_t4/GEDI04_A_2019217181933_O03663_03_T05004_02_002_02_V002_sub.h5.csv
(8295916, 51)
l4a_csv/desa_t4/GEDI04_A_2021057223152_O12519_02_T09634_02_002_02_V002_sub.h5.csv
(8301661, 51)
l4a_csv/desa_t4/GEDI04_A_2021268112044_O15782_02_T06329_02_002_02_V002_sub.h5.csv
(8301661, 51)
l4a_csv/desa_t4/GEDI04_A_2020353023158_O11421_02_T09940_02_002_02_V002_sub.h5.csv
(8323690, 51)
l4a_csv/desa_t4/GEDI04_A_2021164140329_O14172_03_T09885_02_002_02_V002_sub.h5.csv
(8377263, 51)
l4a_csv/desa_t4/GEDI04_A_2020032090300_O06449_02_T01769_02_002_02_V002_sub.h5.csv
(8377263, 51)
l4a_csv/desa_t4/GEDI04_A_2020040055600_O06571_02_T04615_02_002_02_V002_sub.h5.csv
(8377263, 51)
l4a_csv/desa_t4/GEDI04_A_2020093185812_O07401_03_T05662_02_002_02_V002_sub.h5.csv
(8402213, 51)
l4a_csv/desa_t4/GEDI04_A_2020115002621_O07730_02_T01004_02_002_02_V002_sub.h5.csv
(8419503, 51)
l4a_csv/desa_t4/GEDI04_A_2019296111313_O04884_03_T04239_02_002_02_V002_sub.h5.csv
(8447215, 51)
l4a_csv/desa_t4/GEDI04_A_2019289134028_O04777_03_T05417_02_002_02_V002_sub.h5.csv
(8463427, 51)
l4a_csv/desa_t4/GEDI04_A_2020271103139_O10155_02_T11271_02_002_02_V002_sub.h5.csv
(8468551, 51)
l4a_csv/desa_t4/GEDI04_A_2020242220952_O09713_02_T09328_02_002_02_V002_sub.h5.csv
(8468551, 51)
l4a_csv/desa_t4/GEDI04_A_2020121080851_O07828_03_T02357_02_002_02_V002_sub.h5.csv
(8475148, 51)
l4a_csv/desa_t4/GEDI04_A_2020360232426_O11543_02_T07247_02_002_02_V002_sub.h5.csv
(8501297, 51)
l4a_csv/desa_t4/GEDI04_A_2021256015705_O15590_03_T06580_02_002_02_V002_sub.h5.csv
(8557923, 51)
l4a_csv/desa_t4/GEDI04_A_2020144224259_O08194_03_T01852_02_002_02_V002_sub.h5.csv
(8593836, 51)
l4a_csv/desa_t4/GEDI04_A_2019178001412_O03046_02_T00438_02_002_02_V002_sub.h5.csv
(8638966, 51)
l4a_csv/desa_t4/GEDI04_A_2021018140044_O11909_02_T08976_02_002_02_V002_sub.h5.csv
(8685806, 51)
l4a_csv/desa_t4/GEDI04_A_2019196163956_O03336_02_T01968_02_002_02_V002_sub.h5.csv
(8732115, 51)
l4a_csv/desa_t4/GEDI04_A_2019323004042_O05296_03_T01699_02_002_02_V002_sub.h5.csv
(8767063, 51)
l4a_csv/desa_t4/GEDI04_A_2020099063629_O07486_02_T04156_02_002_02_V002_sub.h5.csv
(8767063, 51)
l4a_csv/desa_t4/GEDI04_A_2020058085830_O06852_03_T00276_02_002_02_V002_sub.h5.csv
(8802435, 51)
l4a_csv/desa_t4/GEDI04_A_2020306202852_O10704_02_T07461_02_002_02_V002_sub.h5.csv
(8802435, 51)
l4a_csv/desa_t4/GEDI04_A_2021014153451_O11848_02_T10399_02_002_02_V002_sub.h5.csv
(8843002, 51)
l4a_csv/desa_t4/GEDI04_A_2020238094732_O09643_03_T05509_02_002_02_V002_sub.h5.csv
(8861978, 51)
l4a_csv/desa_t4/GEDI04_A_2021272190541_O15849_03_T03030_02_002_02_V002_sub.h5.csv
(8861978, 51)
l4a_csv/desa_t4/GEDI04_A_2020026212656_O06364_03_T01240_02_002_02_V002_sub.h5.csv
(8882521, 51)
l4a_csv/desa_t4/GEDI04_A_2021098061706_O13144_02_T06696_02_002_02_V002_sub.h5.csv
(8898753, 51)
l4a_csv/desa_t4/GEDI04_A_2020364075437_O11595_03_T07697_02_002_02_V002_sub.h5.csv
(8942148, 51)
l4a_csv/desa_t4/GEDI04_A_2021184201702_O14486_02_T06130_02_002_02_V002_sub.h5.csv
(8986832, 51)
l4a_csv/desa_t4/GEDI04_A_2021363213259_O17261_02_T05518_02_002_02_V002_sub.h5.csv
(8994812, 51)
l4a_csv/desa_t4/GEDI04_A_2020266125010_O10079_02_T10751_02_002_02_V002_sub.h5.csv
(8994812, 51)
l4a_csv/desa_t4/GEDI04_A_2019159170738_O02762_03_T05570_02_002_02_V002_sub.h5.csv
(9005413, 51)
l4a_csv/desa_t4/GEDI04_A_2021090092215_O13022_02_T06849_02_002_02_V002_sub.h5.csv
(9014189, 51)
l4a_csv/desa_t4/GEDI04_A_2020258155548_O09957_02_T08058_02_002_02_V002_sub.h5.csv
(9014189, 51)
l4a_csv/desa_t4/GEDI04_A_2021219162939_O15026_03_T06473_02_002_02_V002_sub.h5.csv
(9018145, 51)
l4a_csv/desa_t4/GEDI04_A_2020035081607_O06495_02_T00943_02_002_02_V002_sub.h5.csv
(9018145, 51)
l4a_csv/desa_t4/GEDI04_A_2020129050021_O07950_03_T03933_02_002_02_V002_sub.h5.csv
(9034379, 51)
l4a_csv/desa_t4/GEDI04_A_2020046133928_O06669_03_T01546_02_002_02_V002_sub.h5.csv
(9063534, 51)
l4a_csv/desa_t4/GEDI04_A_2019270114212_O04481_02_T05059_02_002_02_V002_sub.h5.csv
(9063534, 51)
l4a_csv/desa_t4/GEDI04_A_2019293120305_O04838_03_T03030_02_002_02_V002_sub.h5.csv
(9063534, 51)
l4a_csv/desa_t4/GEDI04_A_2021264125156_O15721_02_T08058_02_002_02_V002_sub.h5.csv
(9063534, 51)
l4a_csv/desa_t4/GEDI04_A_2021160153623_O14111_03_T01653_02_002_02_V002_sub.h5.csv
(9110666, 51)
l4a_csv/desa_t4/GEDI04_A_2020313041100_O10802_03_T07238_02_002_02_V002_sub.h5.csv
(9141793, 51)
l4a_csv/desa_t4/GEDI04_A_2020129185617_O07959_02_T02213_02_002_02_V002_sub.h5.csv
(9141793, 51)
l4a_csv/desa_t4/GEDI04_A_2019255172327_O04252_02_T03590_02_002_02_V002_sub.h5.csv
(9200254, 51)
l4a_csv/desa_t4/GEDI04_A_2020050120552_O06730_03_T04392_02_002_02_V002_sub.h5.csv
(9230948, 51)
l4a_csv/desa_t4/GEDI04_A_2021133162221_O13693_02_T10200_02_002_02_V002_sub.h5.csv
(9289472, 51)
l4a_csv/desa_t4/GEDI04_A_2019281165517_O04655_03_T01347_02_002_02_V002_sub.h5.csv
(9345184, 51)
l4a_csv/desa_t4/GEDI04_A_2019247203956_O04130_02_T00790_02_002_02_V002_sub.h5.csv
(9345184, 51)
l4a_csv/desa_t4/GEDI04_A_2020148210835_O08255_03_T00429_02_002_02_V002_sub.h5.csv
(9383969, 51)
l4a_csv/desa_t4/GEDI04_A_2021339165833_O16886_03_T06932_02_002_02_V002_sub.h5.csv
(9405319, 51)
l4a_csv/desa_t4/GEDI04_A_2019319021723_O05235_03_T05509_02_002_02_V002_sub.h5.csv
(9424468, 51)
l4a_csv/desa_t4/GEDI04_A_2019151202927_O02640_03_T00429_02_002_02_V002_sub.h5.csv
(9463232, 51)
l4a_csv/desa_t4/GEDI04_A_2019117234644_O02114_02_T01616_02_002_02_V002_sub.h5.csv
(9463232, 51)
l4a_csv/desa_t4/GEDI04_A_2019304075818_O05006_03_T04040_02_002_02_V002_sub.h5.csv
(9523067, 51)
l4a_csv/desa_t4/GEDI04_A_2020219164853_O09353_03_T01760_02_002_02_V002_sub.h5.csv
(9523067, 51)
l4a_csv/desa_t4/GEDI04_A_2020337084623_O11177_02_T08211_02_002_02_V002_sub.h5.csv
(9524810, 51)
l4a_csv/desa_t4/GEDI04_A_2020192034933_O08926_03_T00689_02_002_02_V002_sub.h5.csv
(9556800, 51)
l4a_csv/desa_t4/GEDI04_A_2021082122755_O12900_02_T09848_02_002_02_V002_sub.h5.csv
(9556800, 51)
l4a_csv/desa_t4/GEDI04_A_2020250190222_O09835_02_T06635_02_002_02_V002_sub.h5.csv
(9556800, 51)
l4a_csv/desa_t4/GEDI04_A_2020022230035_O06303_03_T04086_02_002_02_V002_sub.h5.csv
(9578820, 51)
l4a_csv/desa_t4/GEDI04_A_2021176092453_O14355_03_T08309_02_002_02_V002_sub.h5.csv
(9641037, 51)
l4a_csv/desa_t4/GEDI04_A_2021077144658_O12824_02_T09328_02_002_02_V002_sub.h5.csv
(9641037, 51)
l4a_csv/desa_t4/GEDI04_A_2019263140848_O04374_02_T04814_02_002_02_V002_sub.h5.csv
(9685439, 51)
l4a_csv/desa_t4/GEDI04_A_2020038164634_O06547_03_T01393_02_002_02_V002_sub.h5.csv
(9711751, 51)
l4a_csv/desa_t4/GEDI04_A_2021148201446_O13928_03_T08768_02_002_02_V002_sub.h5.csv
(9753867, 51)
l4a_csv/desa_t4/GEDI04_A_2021041144724_O12266_03_T06121_02_002_02_V002_sub.h5.csv
(9793364, 51)
l4a_csv/desa_t4/GEDI04_A_2020235011712_O09591_02_T05059_02_002_02_V002_sub.h5.csv
(9793364, 51)
l4a_csv/desa_t4/GEDI04_A_2020012025849_O06135_03_T01454_02_002_02_V002_sub.h5.csv
(9799653, 51)
l4a_csv/desa_t4/GEDI04_A_2020030195332_O06425_03_T01546_02_002_02_V002_sub.h5.csv
(9828782, 51)
l4a_csv/desa_t4/GEDI04_A_2020126194345_O07913_02_T04156_02_002_02_V002_sub.h5.csv
(9828782, 51)
l4a_csv/desa_t4/GEDI04_A_2020008043348_O06074_03_T01148_02_002_02_V002_sub.h5.csv
(9843584, 51)
l4a_csv/desa_t4/GEDI04_A_2021057083546_O12510_03_T08661_02_002_02_V002_sub.h5.csv
(9878059, 51)
l4a_csv/desa_t4/GEDI04_A_2020214190857_O09277_03_T05356_02_002_02_V002_sub.h5.csv

(9891756, 51)
l4a_csv/desa_t4/GEDI04_A_2019334195023_O05479_03_T01806_02_002_02_V002_sub.h5.csv
(9933114, 51)
l4a_csv/desa_t4/GEDI04_A_2021320143358_O16590_02_T07859_02_002_02_V002_sub.h5.csv
(9991762, 51)
l4a_csv/desa_t4/GEDI04_A_2020262142259_O10018_02_T06482_02_002_02_V002_sub.h5.csv
(9991762, 51)
l4a_csv/desa_t4/GEDI04_A_2019323143617_O05305_02_T05671_02_002_02_V002_sub.h5.csv
(10008674, 51)
l4a_csv/desa_t4/GEDI04_A_2021308191029_O16407_02_T09741_02_002_02_V002_sub.h5.csv
(10067287, 51)
l4a_csv/desa_t4/GEDI04_A_2021125192813_O13571_02_T10353_02_002_02_V002_sub.h5.csv
(10123601, 51)
l4a_csv/desa_t4/GEDI04_A_2019188200020_O03214_02_T04095_02_002_02_V002_sub.h5.csv
(10136481, 51)
l4a_csv/desa_t4/GEDI04_A_2021084214522_O12937_03_T06626_02_002_02_V002_sub.h5.csv
(10146302, 51)
l4a_csv/desa_t4/GEDI04_A_2019345154650_O05647_03_T05356_02_002_02_V002_sub.h5.csv
(10159719, 51)
l4a_csv/desa_t4/GEDI04_A_2020039064236_O06556_02_T03789_02_002_02_V002_sub.h5.csv
(10164682, 51)
l4a_csv/desa_t4/GEDI04_A_2020230125447_O09521_03_T03933_02_002_02_V002_sub.h5.csv
(10180954, 51)
l4a_csv/desa_t4/GEDI04_A_2020149110429_O08264_02_T04248_02_002_02_V002_sub.h5.csv
(10201504, 51)
l4a_csv/desa_t4/GEDI04_A_2020168131554_O08560_03_T04193_02_002_02_V002_sub.h5.csv
(10255821, 51)
l4a_csv/desa_t4/GEDI04_A_2021340065442_O16895_02_T06482_02_002_02_V002_sub.h5.csv
(10255821, 51)
l4a_csv/desa_t4/GEDI04_A_2021184062047_O14477_03_T10849_02_002_02_V002_sub.h5.csv
(10309545, 51)
l4a_csv/desa_t4/GEDI04_A_2021093175323_O13074_03_T07299_02_002_02_V002_sub.h5.csv
(10309545, 51)
l4a_csv/desa_t4/GEDI04_A_2020097172621_O07462_03_T04086_02_002_02_V002_sub.h5.csv
(10331569, 51)
l4a_csv/desa_t4/GEDI04_A_2020134163510_O08035_02_T04462_02_002_02_V002_sub.h5.csv
(10331569, 51)
l4a_csv/desa_t4/GEDI04_A_2019199015255_O03373_03_T00781_02_002_02_V002_sub.h5.csv
(10334638, 51)
l4a_csv/desa_t4/GEDI04_A_2020295011133_O10521_02_T09695_02_002_02_V002_sub.h5.csv
(10340233, 51)
l4a_csv/desa_t4/GEDI04_A_2021265120559_O15736_02_T07308_02_002_02_V002_sub.h5.csv
(10340233, 51)
l4a_csv/desa_t4/GEDI04_A_2020034182004_O06486_03_T04392_02_002_02_V002_sub.h5.csv
(10370800, 51)
l4a_csv/desa_t4/GEDI04_A_2021081131417_O12885_02_T06329_02_002_02_V002_sub.h5.csv
(10370800, 51)
l4a_csv/desa_t4/GEDI04_A_2020157075531_O08386_02_T01861_02_002_02_V002_sub.h5.csv
(10409919, 51)
l4a_csv/desa_t4/GEDI04_A_2021117083749_O13440_03_T09380_02_002_02_V002_sub.h5.csv
(10433430, 51)
l4a_csv/desa_t4/GEDI04_A_2021296234744_O16224_02_T08777_02_002_02_V002_sub.h5.csv
(10492055, 51)
l4a_csv/desa_t4/GEDI04_A_2020125063436_O07889_03_T02510_02_002_02_V002_sub.h5.csv
(10503277, 51)
l4a_csv/desa_t4/GEDI04_A_2021137144921_O13754_02_T08624_02_002_02_V002_sub.h5.csv
(10561798, 51)
l4a_csv/desa_t4/GEDI04_A_2020106133631_O07599_03_T02877_02_002_02_V002_sub.h5.csv
(10563866, 51)
l4a_csv/desa_t4/GEDI04_A_2021168123033_O14233_03_T08462_02_002_02_V002_sub.h5.csv
(10619794, 51)
l4a_csv/desa_t4/GEDI04_A_2020047033530_O06678_02_T05365_02_002_02_V002_sub.h5.csv
(10620518, 51)
l4a_csv/desa_t4/GEDI04_A_2019259015015_O04304_03_T00383_02_002_02_V002_sub.h5.csv
(10659043, 51)
l4a_csv/desa_t4/GEDI04_A_2021085205857_O12952_03_T10298_02_002_02_V002_sub.h5.csv
(10659043, 51)
l4a_csv/desa_t4/GEDI04_A_2020328215659_O11046_03_T08661_02_002_02_V002_sub.h5.csv
(10693282, 51)
l4a_csv/desa_t4/GEDI04_A_2021152184202_O13989_03_T00230_02_002_02_V002_sub.h5.csv
(10737478, 51)
l4a_csv/desa_t4/GEDI04_A_2020243212313_O09728_02_T10154_02_002_02_V002_sub.h5.csv
(10737478, 51)
l4a_csv/desa_t4/GEDI04_A_2019304215345_O05015_02_T03743_02_002_02_V002_sub.h5.csv
(10796047, 51)
l4a_csv/desa_t4/GEDI04_A_2019300093548_O04945_03_T00582_02_002_02_V002_sub.h5.csv
(10840435, 51)
l4a_csv/desa_t4/GEDI04_A_2019127061326_O02258_03_T00735_02_002_02_V002_sub.h5.csv
(10890631, 51)
l4a_csv/desa_t4/GEDI04_A_2021129035911_O13623_03_T07804_02_002_02_V002_sub.h5.csv
(10923284, 51)
l4a_csv/desa_t4/GEDI04_A_2019114013251_O02053_02_T01050_02_002_02_V002_sub.h5.csv
(10981762, 51)
l4a_csv/desa_t4/GEDI04_A_2021034074904_O12153_02_T08823_02_002_02_V002_sub.h5.csv
(11020238, 51)
l4a_csv/desa_t4/GEDI04_A_2019192182009_O03275_02_T00897_02_002_02_V002_sub.h5.csv
(11078866, 51)
l4a_csv/desa_t4/GEDI04_A_2020236003035_O09606_02_T02886_02_002_02_V002_sub.h5.csv
(11078866, 51)
l4a_csv/desa_t4/GEDI04_A_2019163061001_O02817_02_T03942_02_002_02_V002_sub.h5.csv
(11083630, 51)
l4a_csv/desa_t4/GEDI04_A_2019251050621_O04182_03_T03122_02_002_02_V002_sub.h5.csv
(11118933, 51)
l4a_csv/desa_t4/GEDI04_A_2021349030239_O17032_02_T10001_02_002_02_V002_sub.h5.csv
(11118933, 51)
l4a_csv/desa_t4/GEDI04_A_2019335094553_O05488_02_T04202_02_002_02_V002_sub.h5.csv
(11177370, 51)
l4a_csv/desa_t4/GEDI04_A_2020275085922_O10216_02_T11118_02_002_02_V002_sub.h5.csv
(11190651, 51)
l4a_csv/desa_t4/GEDI04_A_2020153093001_O08325_02_T01708_02_002_02_V002_sub.h5.csv
(11221430, 51)
l4a_csv/desa_t4/GEDI04_A_2020070181311_O07044_02_T02825_02_002_02_V002_sub.h5.csv
(11236311, 51)
l4a_csv/desa_t4/GEDI04_A_2021296095130_O16215_03_T10650_02_002_02_V002_sub.h5.csv
(11270350, 51)
l4a_csv/desa_t4/GEDI04_A_2020226142822_O09460_03_T05509_02_002_02_V002_sub.h5.csv
(11289448, 51)
l4a_csv/desa_t4/GEDI04_A_2019285151750_O04716_03_T00536_02_002_02_V002_sub.h5.csv
(11326213, 51)
l4a_csv/desa_t4/GEDI04_A_2019326230359_O05357_03_T02311_02_002_02_V002_sub.h5.csv
(11379253, 51)
l4a_csv/desa_t4/GEDI04_A_2019226045340_O03794_02_T05426_02_002_02_V002_sub.h5.csv
(11390178, 51)
l4a_csv/desa_t4/GEDI04_A_2021208110318_O14852_02_T07905_02_002_02_V002_sub.h5.csv
(11390178, 51)
l4a_csv/desa_t4/GEDI04_A_2020349040538_O11360_02_T07094_02_002_02_V002_sub.h5.csv
(11410135, 51)
l4a_csv/desa_t4/GEDI04_A_2021018000447_O11900_03_T00888_02_002_02_V002_sub.h5.csv
(11466006, 51)
l4a_csv/desa_t4/GEDI04_A_2021080231808_O12876_03_T08202_02_002_02_V002_sub.h5.csv
(11480135, 51)
l4a_csv/desa_t4/GEDI04_A_2019274100507_O04542_02_T02825_02_002_02_V002_sub.h5.csv
(11495057, 51)
l4a_csv/desa_t4/GEDI04_A_2020210204240_O09216_03_T03780_02_002_02_V002_sub.h5.csv
(11505592, 51)
l4a_csv/desa_t4/GEDI04_A_2020246203608_O09774_02_T10904_02_002_02_V002_sub.h5.csv
(11505592, 51)
l4a_csv/desa_t4/GEDI04_A_2019173120023_O02976_03_T00934_02_002_02_V002_sub.h5.csv
(11514553, 51)
l4a_csv/desa_t4/GEDI04_A_2021086105506_O12961_02_T08425_02_002_02_V002_sub.h5.csv
(11515884, 51)
l4a_csv/desa_t4/GEDI04_A_2020263133633_O10033_02_T08578_02_002_02_V002_sub.h5.csv
(11515884, 51)
l4a_csv/desa_t4/GEDI04_A_2021188184453_O14547_02_T00132_02_002_02_V002_sub.h5.csv
(11543115, 51)
l4a_csv/desa_t4/GEDI04_A_2020078010926_O07157_03_T02005_02_002_02_V002_sub.h5.csv
(11584729, 51)
l4a_csv/desa_t4/GEDI04_A_2020290124944_O10451_03_T10145_02_002_02_V002_sub.h5.csv
(11584951, 51)
l4a_csv/desa_t4/GEDI04_A_2019124070956_O02212_03_T00031_02_002_02_V002_sub.h5.csv
(11588280, 51)
l4a_csv/desa_t4/GEDI04_A_2021200001158_O14721_03_T05815_02_002_02_V002_sub.h5.csv
(11621110, 51)
l4a_csv/desa_t4/GEDI04_A_2020259150922_O09972_02_T07308_02_002_02_V002_sub.h5.csv
(11621110, 51)
l4a_csv/desa_t4/GEDI04_A_2019300233115_O04954_02_T03131_02_002_02_V002_sub.h5.csv
(11658563, 51)
l4a_csv/desa_t4/GEDI04_A_2019213195955_O03602_03_T01087_02_002_02_V002_sub.h5.csv
(11673358, 51)
l4a_csv/desa_t4/GEDI04_A_2019185205215_O03168_02_T02733_02_002_02_V002_sub.h5.csv
(11677900, 51)
l4a_csv/desa_t4/GEDI04_A_2020122072204_O07843_03_T00184_02_002_02_V002_sub.h5.csv
(11677900, 51)
l4a_csv/desa_t4/GEDI04_A_2020133032603_O08011_03_T01240_02_002_02_V002_sub.h5.csv
(11698507, 51)
l4a_csv/desa_t4/GEDI04_A_2021065052935_O12632_03_T10084_02_002_02_V002_sub.h5.csv
(11728447, 51)
l4a_csv/desa_t4/GEDI04_A_2020188052231_O08865_03_T02265_02_002_02_V002_sub.h5.csv
(11757468, 51)
l4a_csv/desa_t4/GEDI04_A_2020324233002_O10985_03_T10237_02_002_02_V002_sub.h5.csv
(11792748, 51)
l4a_csv/desa_t4/GEDI04_A_2020044042227_O06632_02_T04615_02_002_02_V002_sub.h5.csv
(11792748, 51)
l4a_csv/desa_t4/GEDI04_A_2020074024320_O07096_03_T03275_02_002_02_V002_sub.h5.csv
(11832887, 51)
l4a_csv/desa_t4/GEDI04_A_2019184074525_O03144_03_T02051_02_002_02_V002_sub.h5.csv
(11832887, 51)
l4a_csv/desa_t4/GEDI04_A_2021176232109_O14364_02_T02167_02_002_02_V002_sub.h5.csv
(11891453, 51)
l4a_csv/desa_t4/GEDI04_A_2020173013710_O08630_02_T03896_02_002_02_V002_sub.h5.csv

(11949905, 51)
l4a_csv/desa_t4/GEDI04_A_2019134172439_O02374_02_T04707_02_002_02_V002_sub.h5.csv
(11991452, 51)
l4a_csv/desa_t4/GEDI04_A_2019174015518_O02985_02_T03483_02_002_02_V002_sub.h5.csv
(11991452, 51)
l4a_csv/desa_t4/GEDI04_A_2020180083158_O08743_03_T04805_02_002_02_V002_sub.h5.csv
(12026677, 51)
l4a_csv/desa_t4/GEDI04_A_2021216171549_O14980_03_T05876_02_002_02_V002_sub.h5.csv
(12026677, 51)
l4a_csv/desa_t4/GEDI04_A_2020016151935_O06205_02_T05579_02_002_02_V002_sub.h5.csv
(12029091, 51)

In [36]:
dt1 = datetime(2018, 1, 1, 0, 0, 0)
l4a_orig_all['delta_time']=dt1+pd.to_timedelta(l4a_orig_all['delta_time'],unit='s')
# type(sample['delta_time'][1])
# sample['delta_time'][1].date().year
l4a_orig_all['year']=l4a_orig_all['delta_time'].dt.year

In [38]:
#run this if 
t3= pd.read_csv('ls_ltr_training/tile169050_l4a_topo_ls_lhs_nbr_33_dur8_highval.csv')
t4= pd.read_csv('ls_ltr_training/tile169051_l4a_topo_ls_lhs_nbr_33_dur8_highval.csv')
t14= t12.append(t3, ignore_index=True).append(t4, ignore_index=True)
print(t14.shape)

(1646782, 105)

In [39]:
tile_samps_l4a = t14.merge(l4a_orig_all,on='shot_number',how='left')
print(tile_samps_l4a.shape, df.shape)
tile_samps_l4a.to_csv('ls_ltr_training/tile168050+168051+169050+169051_l4aAll_topo_ls_lhs_nbr_33_dur8_highval.csv')

(1646782, 155) (17132061, 128)

In [40]:
path=r'desa_tile4_l2b_042019_to_122022.json'

with open(path) as data_file:
    data = json.load(data_file)
    df =json_normalize([i['properties'] for i in data['features']])

print(df)

tile_samps_l2bl4a = tile_samps_l4a.merge(df,on='shot_number',how='left')
print(tile_samps_l2bl4a.shape, df.shape)

tile_samps_l2bl4a.to_csv('ls_ltr_training/tile168050+168051+169050+169051_l24a_all_topo_ls_lhs_nbr_33_dur8_highval.csv')

              BEAM         shot_number   Latitude  Longitude   index  \
0         BEAM0000   28690000300438723  15.387998  38.242913  125358
1         BEAM0000   28690000300438724  15.387586  38.243234  125359
2         BEAM0000   28690000300438725  15.387174  38.243556  125360
3         BEAM0000   28690000300438726  15.386762  38.243877  125361
4         BEAM0000   28690000300438727  15.386350  38.244198  125362
...            ...                 ...        ...        ...     ...
17132056  BEAM1011  137451100300313084  13.461008  41.167731  135696
17132057  BEAM1011  137451100300313085  13.460591  41.168046  135697
17132058  BEAM1011  137451100300313086  13.460182  41.168361  135698
17132059  BEAM1011  137451100300313087  13.459765  41.168677  135699
17132060  BEAM1011  137451100300313088  13.459353  41.168992  135700

          algorithmrun_flag        cover    cover_z_0  cover_z_1  cover_z_2  \
0                         1     0.022164     0.022164        0.0        0.0
1                         1     0.023958     0.023958        0.0        0.0
2                         1     0.019357     0.019357        0.0        0.0
3                         1     0.019351     0.019351        0.0        0.0
4                         1     0.034805     0.034805        0.0        0.0
...                     ...          ...          ...        ...        ...
17132056                  0 -9999.000000 -9999.000000    -9999.0    -9999.0
17132057                  0 -9999.000000 -9999.000000    -9999.0    -9999.0
17132058                  0 -9999.000000 -9999.000000    -9999.0    -9999.0
17132059                  0 -9999.000000 -9999.000000    -9999.0    -9999.0
17132060                  0 -9999.000000 -9999.000000    -9999.0    -9999.0

          ...  rh100  rhog  rhov  selected_l2a_algorithm  selected_mode  \
0         ...    328   0.4   0.6                       1              0
1         ...    389   0.4   0.6                       1              0
2         ...    348   0.4   0.6                       1              0
3         ...    332   0.4   0.6                       1              0
4         ...    354   0.4   0.6                       1              0
...       ...    ...   ...   ...                     ...            ...
17132056  ...      0   0.4   0.6                       1              0
17132057  ...   1036   0.4   0.6                       1              0
17132058  ...      0   0.4   0.6                       1              0
17132059  ...    513   0.4   0.6                       1              0
17132060  ...      0   0.4   0.6                       1              0

          selected_mode_flag  selected_rg_algorithm  sensitivity  \
0                          0                      1     0.914598
1                          0                      1     0.891630
2                          0                      1     0.918174
3                          0                      1     0.893757
4                          0                      1     0.902705
...                      ...                    ...          ...
17132056                   0                      0     0.925048
17132057                   0                      0     0.916533
17132058                   0                      0     0.928668
17132059                   0                      0     0.919316
17132060                   0                      0     0.925197

          stale_return_flag  surface_flag
0                         0             1
1                         0             1
2                         0             1
3                         0             1
4                         0             1
...                     ...           ...
17132056                  1             0
17132057                  0             0
17132058                  0             0
17132059                  0             0
17132060                  0             0

[17132061 rows x 128 columns]
(1646782, 282) (17132061, 128)

In [62]:
# ##compare with the original samps dimension: the diff can be from cloud or other masked pixels, or edge of scene
# tileSamps=pd.read_csv('samples/gedi_samples_biome1_2021_highval.csv')
# tileSamps2=pd.read_csv('samples/gedi_samples_biome1_2020_highval.csv')
# tileSamps3=pd.read_csv('samples/gedi_samples_biome1_2019_highval.csv')
# print(len(tiZ  leSamps)+len(tileSamps2)+len(tileSamps3))
# print(tileEx.shape)

2649875
(3229769, 104)

## 4. join the combined files with l2b 
### this uses the samples_l2b data which already got pre-matched with the l4a data in step6 (or step 9a)

In [66]:
l2bf= glob.glob('samples/sample_l2b/*_highval.csv')
dt1 = datetime(2018, 1, 1, 0, 0, 0)
l2b_samps2020= pd.DataFrame([])
l2b_samps2021= pd.DataFrame([])
l2b_samps2019= pd.DataFrame([])
for x in range(0,len(l2bf)):
    print(x, 'in', len(l2bf))
    l2b_samps=pd.read_csv(l2bf[x])
    l2b_samps['geolocation_delta_time']=dt1+pd.to_timedelta(l2b_samps['geolocation_delta_time'],unit='s')
    l2b_samps['year']=l2b_samps['geolocation_delta_time'].dt.year
    print(l2b_samps.year.value_counts())
    if l2b_samps.year.unique()[0]== 2021:
        l2b_samps2021 = l2b_samps2021.append(l2b_samps, ignore_index=True)
    elif l2b_samps.year.unique()[0]== 2020:
        l2b_samps2020 = l2b_samps2020.append(l2b_samps, ignore_index=True)
    elif l2b_samps.year.unique()[0]== 2019:
        l2b_samps2019 = l2b_samps2019.append(l2b_samps, ignore_index=True)
        
print('number of observtaions for 2019, 2020, 2021:', len(l2b_samps2019),len(l2b_samps2020),len(l2b_samps2021) )
#     # Appending this single-row-DataFrame to the `pre_dfs` list
#     l2b_samps = l2b_samps.append(l2b, ignore_index=True)

0 in 1823
2020    1777
Name: year, dtype: int64
1 in 1823
2020    470
Name: year, dtype: int64
2 in 1823
2020    4543
Name: year, dtype: int64
3 in 1823
2021    3114
Name: year, dtype: int64
4 in 1823
2020    1100
Name: year, dtype: int64
5 in 1823
2020    508
Name: year, dtype: int64
6 in 1823
2019    3861
Name: year, dtype: int64
7 in 1823
2019    1892
Name: year, dtype: int64
8 in 1823
2021    305
Name: year, dtype: int64
9 in 1823
2019    75
Name: year, dtype: int64
10 in 1823
2019    3699
Name: year, dtype: int64
11 in 1823
2020    1050
Name: year, dtype: int64
12 in 1823
2021    3716
Name: year, dtype: int64
13 in 1823
2020    663
Name: year, dtype: int64
14 in 1823
2019    1731
Name: year, dtype: int64
15 in 1823
2020    151
Name: year, dtype: int64
16 in 1823
2021    19
Name: year, dtype: int64
17 in 1823
2020    828
Name: year, dtype: int64
18 in 1823
2020    412
Name: year, dtype: int64
19 in 1823
2019    1394
Name: year, dtype: int64
20 in 1823
2020    770
Name: year, dtype: int64
21 in 1823
2020    432
Name: year, dtype: int64
22 in 1823
2021    53
Name: year, dtype: int64
23 in 1823
2019    265
Name: year, dtype: int64
24 in 1823
2021    688
Name: year, dtype: int64
25 in 1823
2021    478
Name: year, dtype: int64
26 in 1823
2021    216
Name: year, dtype: int64
27 in 1823
2020    1853
Name: year, dtype: int64
28 in 1823
2019    696
Name: year, dtype: int64
29 in 1823
2019    142
Name: year, dtype: int64
30 in 1823
2021    3278
Name: year, dtype: int64
31 in 1823
2019    860
Name: year, dtype: int64
32 in 1823
2021    824
Name: year, dtype: int64
33 in 1823
2021    941
Name: year, dtype: int64
34 in 1823
2019    1856
Name: year, dtype: int64
35 in 1823
2021    2113
Name: year, dtype: int64
36 in 1823
2019    968
Name: year, dtype: int64
37 in 1823
2021    2142
Name: year, dtype: int64
38 in 1823
2020    1349
Name: year, dtype: int64
39 in 1823
2021    14
Name: year, dtype: int64
40 in 1823
2020    828
Name: year, dtype: int64
41 in 1823
2021    1831
Name: year, dtype: int64
42 in 1823
2019    68
Name: year, dtype: int64
43 in 1823
2019    778
Name: year, dtype: int64
44 in 1823
2021    1966
Name: year, dtype: int64
45 in 1823
2019    850
Name: year, dtype: int64
46 in 1823
2019    1131
Name: year, dtype: int64
47 in 1823
2021    1763
Name: year, dtype: int64
48 in 1823
2020    290
Name: year, dtype: int64
49 in 1823
2019    3253
Name: year, dtype: int64
50 in 1823
2020    81
Name: year, dtype: int64
51 in 1823
2021    543
Name: year, dtype: int64
52 in 1823
2021    769
Name: year, dtype: int64
53 in 1823
2020    1644
Name: year, dtype: int64
54 in 1823
2021    868
Name: year, dtype: int64
55 in 1823
2020    2235
Name: year, dtype: int64
56 in 1823
2021    4704
Name: year, dtype: int64
57 in 1823
2020    656
Name: year, dtype: int64
58 in 1823
2020    412
Name: year, dtype: int64
59 in 1823
2019    918
Name: year, dtype: int64
60 in 1823
2020    104
Name: year, dtype: int64
61 in 1823
2020    1124
Name: year, dtype: int64
62 in 1823
2020    243
Name: year, dtype: int64
63 in 1823
2020    2
Name: year, dtype: int64
64 in 1823
2020    735
Name: year, dtype: int64
65 in 1823
2020    7
Name: year, dtype: int64
66 in 1823
2021    1123
Name: year, dtype: int64
67 in 1823
2021    1048
Name: year, dtype: int64
68 in 1823
2021    1781
Name: year, dtype: int64
69 in 1823
2019    873
Name: year, dtype: int64
70 in 1823
2019    775
Name: year, dtype: int64
71 in 1823
2019    3527
Name: year, dtype: int64
72 in 1823
2019    1663
Name: year, dtype: int64
73 in 1823
2021    1
Name: year, dtype: int64
74 in 1823
2020    1697
Name: year, dtype: int64
75 in 1823
2021    1307
Name: year, dtype: int64
76 in 1823
2020    540
Name: year, dtype: int64
77 in 1823
2019    142
Name: year, dtype: int64
78 in 1823
2021    14
Name: year, dtype: int64
79 in 1823
2021    2937
Name: year, dtype: int64
80 in 1823
2019    857
Name: year, dtype: int64
81 in 1823
2019    491
Name: year, dtype: int64
82 in 1823
2020    879
Name: year, dtype: int64
83 in 1823
2019    2492
Name: year, dtype: int64
84 in 1823
2021    678
Name: year, dtype: int64
85 in 1823
2019    583
Name: year, dtype: int64
86 in 1823
2021    3807
Name: year, dtype: int64
87 in 1823
2020    895
Name: year, dtype: int64
88 in 1823
2020    603
Name: year, dtype: int64
89 in 1823
2020    16
Name: year, dtype: int64
90 in 1823
2021    2644
Name: year, dtype: int64
91 in 1823
2020    3250
Name: year, dtype: int64
92 in 1823
2021    58
Name: year, dtype: int64
93 in 1823
2021    237
Name: year, dtype: int64
94 in 1823
2020    4
Name: year, dtype: int64
95 in 1823
2020    228
Name: year, dtype: int64
96 in 1823
2021    2898
Name: year, dtype: int64
97 in 1823
2020    265
Name: year, dtype: int64
98 in 1823
2020    4303
Name: year, dtype: int64
99 in 1823
2021    111
Name: year, dtype: int64
100 in 1823
2021    1747
Name: year, dtype: int64
101 in 1823
2020    439
Name: year, dtype: int64
102 in 1823
2021    4199
Name: year, dtype: int64
103 in 1823
2020    336
Name: year, dtype: int64
104 in 1823
2019    4147
Name: year, dtype: int64
105 in 1823
2021    1490
Name: year, dtype: int64
106 in 1823
2021    8
Name: year, dtype: int64
107 in 1823
2021    731
Name: year, dtype: int64
108 in 1823
2021    1834
Name: year, dtype: int64
109 in 1823
2019    1125
Name: year, dtype: int64
110 in 1823
2021    1134
Name: year, dtype: int64
111 in 1823
2021    6
Name: year, dtype: int64
112 in 1823
2021    2
Name: year, dtype: int64
113 in 1823
2021    6412
Name: year, dtype: int64
114 in 1823
2019    65
Name: year, dtype: int64
115 in 1823
2019    2390
Name: year, dtype: int64
116 in 1823
2019    6836
Name: year, dtype: int64
117 in 1823
2021    25
Name: year, dtype: int64
118 in 1823
2021    4955
Name: year, dtype: int64
119 in 1823
2020    1475
Name: year, dtype: int64
120 in 1823
2019    4137
Name: year, dtype: int64
121 in 1823
2020    3001
Name: year, dtype: int64
122 in 1823
2019    2596
Name: year, dtype: int64
123 in 1823
2021    43
Name: year, dtype: int64
124 in 1823
2020    27
Name: year, dtype: int64
125 in 1823
2020    884
Name: year, dtype: int64
126 in 1823
2019    1598
Name: year, dtype: int64
127 in 1823
2020    1335
Name: year, dtype: int64
128 in 1823
2019    187
Name: year, dtype: int64
129 in 1823
2019    8296
Name: year, dtype: int64
130 in 1823
2021    4751
Name: year, dtype: int64
131 in 1823
2021    537
Name: year, dtype: int64
132 in 1823
2021    860
Name: year, dtype: int64
133 in 1823
2020    2117
Name: year, dtype: int64
134 in 1823
2020    3249
Name: year, dtype: int64
135 in 1823
2021    11
Name: year, dtype: int64
136 in 1823
2019    369
Name: year, dtype: int64
137 in 1823
2019    50
Name: year, dtype: int64
138 in 1823
2020    205
Name: year, dtype: int64
139 in 1823
2020    840
Name: year, dtype: int64
140 in 1823
2020    4376
Name: year, dtype: int64
141 in 1823
2020    158
Name: year, dtype: int64
142 in 1823
2021    366
Name: year, dtype: int64
143 in 1823
2019    4362
Name: year, dtype: int64
144 in 1823
2020    787
Name: year, dtype: int64
145 in 1823
2021    3874
Name: year, dtype: int64
146 in 1823
2019    210
Name: year, dtype: int64
147 in 1823
2021    1730
Name: year, dtype: int64
148 in 1823
2021    873
Name: year, dtype: int64
149 in 1823
2020    1
Name: year, dtype: int64
150 in 1823
2020    1517
Name: year, dtype: int64
151 in 1823
2020    1461
Name: year, dtype: int64
152 in 1823
2020    813
Name: year, dtype: int64
153 in 1823
2020    137
Name: year, dtype: int64
154 in 1823
2021    1811
Name: year, dtype: int64
155 in 1823
2019    3207
Name: year, dtype: int64
156 in 1823
2021    7956
Name: year, dtype: int64
157 in 1823
2020    954
Name: year, dtype: int64
158 in 1823
2019    4214
Name: year, dtype: int64
159 in 1823
2021    1120
Name: year, dtype: int64
160 in 1823
2020    191
Name: year, dtype: int64
161 in 1823
2021    4
Name: year, dtype: int64
162 in 1823
2021    4273
Name: year, dtype: int64
163 in 1823
2020    163
Name: year, dtype: int64
164 in 1823
2020    560
Name: year, dtype: int64
165 in 1823
2020    193
Name: year, dtype: int64
166 in 1823
2021    80
Name: year, dtype: int64
167 in 1823
2021    219
Name: year, dtype: int64
168 in 1823
2019    57
Name: year, dtype: int64
169 in 1823
2019    2599
Name: year, dtype: int64

170 in 1823
2020    3457
Name: year, dtype: int64
171 in 1823
2020    2269
Name: year, dtype: int64
172 in 1823
2021    970
Name: year, dtype: int64
173 in 1823
2019    1195
Name: year, dtype: int64
174 in 1823
2020    562
Name: year, dtype: int64
175 in 1823
2021    685
Name: year, dtype: int64
176 in 1823
2021    4214
Name: year, dtype: int64
177 in 1823
2019    1224
Name: year, dtype: int64
178 in 1823
2021    5466
Name: year, dtype: int64
179 in 1823
2021    4323
Name: year, dtype: int64
180 in 1823
2020    1606
Name: year, dtype: int64
181 in 1823
2020    559
Name: year, dtype: int64
182 in 1823
2020    1355
Name: year, dtype: int64
183 in 1823
2019    4886
Name: year, dtype: int64
184 in 1823
2019    3
Name: year, dtype: int64
185 in 1823
2020    627
Name: year, dtype: int64
186 in 1823
2019    465
Name: year, dtype: int64
187 in 1823
2021    2080
Name: year, dtype: int64
188 in 1823
2020    1472
Name: year, dtype: int64
189 in 1823
2019    5662
Name: year, dtype: int64
190 in 1823
2020    1906
Name: year, dtype: int64
191 in 1823
2019    307
Name: year, dtype: int64
192 in 1823
2020    1299
Name: year, dtype: int64
193 in 1823
2020    5907
Name: year, dtype: int64
194 in 1823
2020    2228
Name: year, dtype: int64
195 in 1823
2020    114
Name: year, dtype: int64
196 in 1823
2021    1276
Name: year, dtype: int64
197 in 1823
2021    392
Name: year, dtype: int64
198 in 1823
2021    716
Name: year, dtype: int64
199 in 1823
2020    1030
Name: year, dtype: int64
200 in 1823
2019    344
Name: year, dtype: int64
201 in 1823
2020    821
Name: year, dtype: int64
202 in 1823
2021    2
Name: year, dtype: int64
203 in 1823
2020    5437
Name: year, dtype: int64
204 in 1823
2019    2820
Name: year, dtype: int64
205 in 1823
2021    3712
Name: year, dtype: int64
206 in 1823
2019    313
Name: year, dtype: int64
207 in 1823
2020    1904
Name: year, dtype: int64
208 in 1823
2021    1842
Name: year, dtype: int64
209 in 1823
2019    1024
Name: year, dtype: int64
210 in 1823
2020    12
Name: year, dtype: int64
211 in 1823
2019    303
Name: year, dtype: int64
212 in 1823
2019    979
Name: year, dtype: int64
213 in 1823
2020    2
Name: year, dtype: int64
214 in 1823
2021    1635
Name: year, dtype: int64
215 in 1823
2020    1640
Name: year, dtype: int64
216 in 1823
2019    283
Name: year, dtype: int64
217 in 1823
2021    3677
Name: year, dtype: int64
218 in 1823
2021    3162
Name: year, dtype: int64
219 in 1823
2019    1143
Name: year, dtype: int64
220 in 1823
2021    1153
Name: year, dtype: int64
221 in 1823
2020    1042
Name: year, dtype: int64
222 in 1823
2020    1136
Name: year, dtype: int64
223 in 1823
2020    2
Name: year, dtype: int64
224 in 1823
2020    2912
Name: year, dtype: int64
225 in 1823
2020    308
Name: year, dtype: int64
226 in 1823
2021    689
Name: year, dtype: int64
227 in 1823
2020    814
Name: year, dtype: int64
228 in 1823
2020    705
Name: year, dtype: int64
229 in 1823
2019    249
Name: year, dtype: int64
230 in 1823
2021    3
Name: year, dtype: int64
231 in 1823
2019    8288
Name: year, dtype: int64
232 in 1823
2019    254
Name: year, dtype: int64
233 in 1823
2020    1400
Name: year, dtype: int64
234 in 1823
2021    1291
Name: year, dtype: int64
235 in 1823
2020    1170
Name: year, dtype: int64
236 in 1823
2020    156
Name: year, dtype: int64
237 in 1823
2019    624
Name: year, dtype: int64
238 in 1823
2021    4082
Name: year, dtype: int64
239 in 1823
2020    541
Name: year, dtype: int64
240 in 1823
2021    78
Name: year, dtype: int64
241 in 1823
2020    788
Name: year, dtype: int64
242 in 1823
2021    7450
Name: year, dtype: int64
243 in 1823
2020    907
Name: year, dtype: int64
244 in 1823
2019    1030
Name: year, dtype: int64
245 in 1823
2021    1027
Name: year, dtype: int64
246 in 1823
2021    1993
Name: year, dtype: int64
247 in 1823
2021    640
Name: year, dtype: int64
248 in 1823
2019    537
Name: year, dtype: int64
249 in 1823
2020    957
Name: year, dtype: int64
250 in 1823
2020    223
Name: year, dtype: int64
251 in 1823
2021    218
Name: year, dtype: int64
252 in 1823
2019    333
Name: year, dtype: int64
253 in 1823
2019    1080
Name: year, dtype: int64
254 in 1823
2019    694
Name: year, dtype: int64
255 in 1823
2021    2570
Name: year, dtype: int64
256 in 1823
2019    2020
Name: year, dtype: int64
257 in 1823
2021    1358
Name: year, dtype: int64
258 in 1823
2020    13
Name: year, dtype: int64
259 in 1823
2019    1355
Name: year, dtype: int64
260 in 1823
2019    2294
Name: year, dtype: int64
261 in 1823
2021    1185
Name: year, dtype: int64
262 in 1823
2019    230
Name: year, dtype: int64
263 in 1823
2021    403
Name: year, dtype: int64
264 in 1823
2020    856
Name: year, dtype: int64
265 in 1823
2021    16
Name: year, dtype: int64
266 in 1823
2019    91
Name: year, dtype: int64
267 in 1823
2021    993
Name: year, dtype: int64
268 in 1823
2021    1321
Name: year, dtype: int64
269 in 1823
2020    1031
Name: year, dtype: int64
270 in 1823
2019    2145
Name: year, dtype: int64
271 in 1823
2020    132
Name: year, dtype: int64
272 in 1823
2020    2
Name: year, dtype: int64
273 in 1823
2019    714
Name: year, dtype: int64
274 in 1823
2021    50
Name: year, dtype: int64
275 in 1823
2021    129
Name: year, dtype: int64
276 in 1823
2020    3712
Name: year, dtype: int64
277 in 1823
2019    229
Name: year, dtype: int64
278 in 1823
2020    678
Name: year, dtype: int64
279 in 1823
2020    580
Name: year, dtype: int64
280 in 1823
2020    662
Name: year, dtype: int64
281 in 1823
2020    2158
Name: year, dtype: int64
282 in 1823
2021    314
Name: year, dtype: int64
283 in 1823
2020    1090
Name: year, dtype: int64
284 in 1823
2019    3430
Name: year, dtype: int64
285 in 1823
2019    1
Name: year, dtype: int64
286 in 1823
2021    1
Name: year, dtype: int64
287 in 1823
2020    1260
Name: year, dtype: int64
288 in 1823
2020    772
Name: year, dtype: int64
289 in 1823
2021    3
Name: year, dtype: int64
290 in 1823
2021    618
Name: year, dtype: int64
291 in 1823
2021    4919
Name: year, dtype: int64
292 in 1823
2020    3981
Name: year, dtype: int64
293 in 1823
2021    373
Name: year, dtype: int64
294 in 1823
2019    2281
Name: year, dtype: int64
295 in 1823
2020    825
Name: year, dtype: int64
296 in 1823
2020    388
Name: year, dtype: int64
297 in 1823
2021    229
Name: year, dtype: int64
298 in 1823
2020    2432
Name: year, dtype: int64
299 in 1823
2020    149
Name: year, dtype: int64
300 in 1823
2021    74
Name: year, dtype: int64
301 in 1823
2021    6488
Name: year, dtype: int64
302 in 1823
2020    1353
Name: year, dtype: int64
303 in 1823
2019    1382
Name: year, dtype: int64
304 in 1823
2021    33
Name: year, dtype: int64
305 in 1823
2020    572
Name: year, dtype: int64
306 in 1823
2020    945
Name: year, dtype: int64
307 in 1823
2020    3107
Name: year, dtype: int64
308 in 1823
2021    1117
Name: year, dtype: int64
309 in 1823
2020    1714
Name: year, dtype: int64
310 in 1823
2020    5544
Name: year, dtype: int64
311 in 1823
2020    3716
Name: year, dtype: int64
312 in 1823
2020    962
Name: year, dtype: int64
313 in 1823
2020    3485
Name: year, dtype: int64
314 in 1823
2021    366
Name: year, dtype: int64
315 in 1823
2020    2520
Name: year, dtype: int64
316 in 1823
2019    191
Name: year, dtype: int64
317 in 1823
2021    22
Name: year, dtype: int64
318 in 1823
2020    94
Name: year, dtype: int64
319 in 1823
2021    1740
Name: year, dtype: int64
320 in 1823
2019    134
Name: year, dtype: int64
321 in 1823
2020    1223
Name: year, dtype: int64
322 in 1823
2019    688
Name: year, dtype: int64
323 in 1823
2021    3695
Name: year, dtype: int64
324 in 1823
2021    537
Name: year, dtype: int64
325 in 1823
2020    906
Name: year, dtype: int64
326 in 1823
2019    83
Name: year, dtype: int64
327 in 1823
2020    649
Name: year, dtype: int64
328 in 1823
2019    769
Name: year, dtype: int64
329 in 1823
2019    660
Name: year, dtype: int64
330 in 1823
2021    83
Name: year, dtype: int64
331 in 1823
2021    4554
Name: year, dtype: int64
332 in 1823
2020    1876
Name: year, dtype: int64
333 in 1823
2021    631
Name: year, dtype: int64
334 in 1823
2020    5155
Name: year, dtype: int64
335 in 1823
2020    1689
Name: year, dtype: int64
336 in 1823
2021    486
Name: year, dtype: int64

337 in 1823
2019    1455
Name: year, dtype: int64
338 in 1823
2021    2012
Name: year, dtype: int64
339 in 1823
2020    274
Name: year, dtype: int64
340 in 1823
2020    2
Name: year, dtype: int64
341 in 1823
2019    878
Name: year, dtype: int64
342 in 1823
2020    2873
Name: year, dtype: int64
343 in 1823
2020    2908
Name: year, dtype: int64
344 in 1823
2020    2234
Name: year, dtype: int64
345 in 1823
2021    840
Name: year, dtype: int64
346 in 1823
2021    2326
Name: year, dtype: int64
347 in 1823
2020    1024
Name: year, dtype: int64
348 in 1823
2020    83
Name: year, dtype: int64
349 in 1823
2021    1773
Name: year, dtype: int64
350 in 1823
2019    187
Name: year, dtype: int64
351 in 1823
2021    509
Name: year, dtype: int64
352 in 1823
2021    1574
Name: year, dtype: int64
353 in 1823
2020    473
Name: year, dtype: int64
354 in 1823
2021    3858
Name: year, dtype: int64
355 in 1823
2021    285
Name: year, dtype: int64
356 in 1823
2021    201
Name: year, dtype: int64
357 in 1823
2021    1442
Name: year, dtype: int64
358 in 1823
2021    1292
Name: year, dtype: int64
359 in 1823
2021    2
Name: year, dtype: int64
360 in 1823
2020    1308
Name: year, dtype: int64
361 in 1823
2020    817
Name: year, dtype: int64
362 in 1823
2019    1496
Name: year, dtype: int64
363 in 1823
2021    20
Name: year, dtype: int64
364 in 1823
2020    602
Name: year, dtype: int64
365 in 1823
2019    2621
Name: year, dtype: int64
366 in 1823
2021    3337
Name: year, dtype: int64
367 in 1823
2021    174
Name: year, dtype: int64
368 in 1823
2020    366
Name: year, dtype: int64
369 in 1823
2021    83
Name: year, dtype: int64
370 in 1823
2020    65
Name: year, dtype: int64
371 in 1823
2021    1
Name: year, dtype: int64
372 in 1823
2021    471
Name: year, dtype: int64
373 in 1823
2019    50
Name: year, dtype: int64
374 in 1823
2019    632
Name: year, dtype: int64
375 in 1823
2019    2307
Name: year, dtype: int64
376 in 1823
2021    3882
Name: year, dtype: int64
377 in 1823
2020    1183
Name: year, dtype: int64
378 in 1823
2021    1977
Name: year, dtype: int64
379 in 1823
2020    17
Name: year, dtype: int64
380 in 1823
2020    802
Name: year, dtype: int64
381 in 1823
2021    862
Name: year, dtype: int64
382 in 1823
2021    1150
Name: year, dtype: int64
383 in 1823
2021    255
Name: year, dtype: int64
384 in 1823
2021    1679
Name: year, dtype: int64
385 in 1823
2019    413
Name: year, dtype: int64
386 in 1823
2019    410
Name: year, dtype: int64
387 in 1823
2019    2811
Name: year, dtype: int64
388 in 1823
2021    1
Name: year, dtype: int64
389 in 1823
2021    292
Name: year, dtype: int64
390 in 1823
2020    1879
Name: year, dtype: int64
391 in 1823
2020    213
Name: year, dtype: int64
392 in 1823
2020    520
Name: year, dtype: int64
393 in 1823
2019    2310
Name: year, dtype: int64
394 in 1823
2019    3
Name: year, dtype: int64
395 in 1823
2019    1623
Name: year, dtype: int64
396 in 1823
2020    916
Name: year, dtype: int64
397 in 1823
2020    25
Name: year, dtype: int64
398 in 1823
2020    8
Name: year, dtype: int64
399 in 1823
2020    28
Name: year, dtype: int64
400 in 1823
2021    2796
Name: year, dtype: int64
401 in 1823
2020    3387
Name: year, dtype: int64
402 in 1823
2020    2190
Name: year, dtype: int64
403 in 1823
2019    949
Name: year, dtype: int64
404 in 1823
2021    2357
Name: year, dtype: int64
405 in 1823
2021    51
Name: year, dtype: int64
406 in 1823
2020    122
Name: year, dtype: int64
407 in 1823
2019    150
Name: year, dtype: int64
408 in 1823
2021    650
Name: year, dtype: int64
409 in 1823
2021    832
Name: year, dtype: int64
410 in 1823
2021    943
Name: year, dtype: int64
411 in 1823
2020    4961
Name: year, dtype: int64
412 in 1823
2019    991
Name: year, dtype: int64
413 in 1823
2019    1434
Name: year, dtype: int64
414 in 1823
2019    2668
Name: year, dtype: int64
415 in 1823
2021    1624
Name: year, dtype: int64
416 in 1823
2021    814
Name: year, dtype: int64
417 in 1823
2020    2291
Name: year, dtype: int64
418 in 1823
2021    120
Name: year, dtype: int64
419 in 1823
2021    4113
Name: year, dtype: int64
420 in 1823
2021    599
Name: year, dtype: int64
421 in 1823
2020    64
Name: year, dtype: int64
422 in 1823
2021    1691
Name: year, dtype: int64
423 in 1823
2020    1167
Name: year, dtype: int64
424 in 1823
2019    2160
Name: year, dtype: int64
425 in 1823
2020    1355
Name: year, dtype: int64
426 in 1823
2020    2120
Name: year, dtype: int64
427 in 1823
2021    19
Name: year, dtype: int64
428 in 1823
2021    2427
Name: year, dtype: int64
429 in 1823
2019    759
Name: year, dtype: int64
430 in 1823
2020    512
Name: year, dtype: int64
431 in 1823
2020    2812
Name: year, dtype: int64
432 in 1823
2020    3307
Name: year, dtype: int64
433 in 1823
2021    729
Name: year, dtype: int64
434 in 1823
2021    1371
Name: year, dtype: int64
435 in 1823
2021    1922
Name: year, dtype: int64
436 in 1823
2019    307
Name: year, dtype: int64
437 in 1823
2021    3
Name: year, dtype: int64
438 in 1823
2020    90
Name: year, dtype: int64
439 in 1823
2020    247
Name: year, dtype: int64
440 in 1823
2020    1406
Name: year, dtype: int64
441 in 1823
2021    741
Name: year, dtype: int64
442 in 1823
2021    529
Name: year, dtype: int64
443 in 1823
2021    4234
Name: year, dtype: int64
444 in 1823
2020    1016
Name: year, dtype: int64
445 in 1823
2019    935
Name: year, dtype: int64
446 in 1823
2020    2608
Name: year, dtype: int64
447 in 1823
2021    1069
Name: year, dtype: int64
448 in 1823
2019    1410
Name: year, dtype: int64
449 in 1823
2020    117
Name: year, dtype: int64
450 in 1823
2021    665
Name: year, dtype: int64
451 in 1823
2021    1128
Name: year, dtype: int64
452 in 1823
2020    905
Name: year, dtype: int64
453 in 1823
2020    1161
Name: year, dtype: int64
454 in 1823
2019    1036
Name: year, dtype: int64
455 in 1823
2021    339
Name: year, dtype: int64
456 in 1823
2019    1770
Name: year, dtype: int64
457 in 1823
2019    325
Name: year, dtype: int64
458 in 1823
2020    4748
Name: year, dtype: int64
459 in 1823
2021    3595
Name: year, dtype: int64
460 in 1823
2019    3676
Name: year, dtype: int64
461 in 1823
2019    120
Name: year, dtype: int64
462 in 1823
2020    1084
Name: year, dtype: int64
463 in 1823
2021    1210
Name: year, dtype: int64
464 in 1823
2020    9
Name: year, dtype: int64
465 in 1823
2020    1631
Name: year, dtype: int64
466 in 1823
2021    2210
Name: year, dtype: int64
467 in 1823
2021    34
Name: year, dtype: int64
468 in 1823
2021    1067
Name: year, dtype: int64
469 in 1823
2019    833
Name: year, dtype: int64
470 in 1823
2019    1628
Name: year, dtype: int64
471 in 1823
2021    3286
Name: year, dtype: int64
472 in 1823
2020    373
Name: year, dtype: int64
473 in 1823
2020    1049
Name: year, dtype: int64
474 in 1823
2020    2510
Name: year, dtype: int64
475 in 1823
2021    397
Name: year, dtype: int64
476 in 1823
2019    6565
Name: year, dtype: int64
477 in 1823
2021    552
Name: year, dtype: int64
478 in 1823
2020    314
Name: year, dtype: int64
479 in 1823
2021    411
Name: year, dtype: int64
480 in 1823
2021    1612
Name: year, dtype: int64
481 in 1823
2020    1073
Name: year, dtype: int64
482 in 1823
2020    360
Name: year, dtype: int64
483 in 1823
2021    1256
Name: year, dtype: int64
484 in 1823
2019    44
Name: year, dtype: int64
485 in 1823
2020    355
Name: year, dtype: int64
486 in 1823
2019    7216
Name: year, dtype: int64
487 in 1823
2020    1561
Name: year, dtype: int64
488 in 1823
2020    1273
Name: year, dtype: int64
489 in 1823
2021    633
Name: year, dtype: int64
490 in 1823
2020    4173
Name: year, dtype: int64
491 in 1823
2019    644
Name: year, dtype: int64
492 in 1823
2021    1936
Name: year, dtype: int64
493 in 1823
2021    1458
Name: year, dtype: int64
494 in 1823
2021    943
Name: year, dtype: int64
495 in 1823
2019    1
Name: year, dtype: int64
496 in 1823
2021    5
Name: year, dtype: int64
497 in 1823
2020    1749
Name: year, dtype: int64
498 in 1823
2019    121
Name: year, dtype: int64
499 in 1823
2020    946
Name: year, dtype: int64
500 in 1823
2019    1414
Name: year, dtype: int64
501 in 1823
2020    9
Name: year, dtype: int64
502 in 1823
2020    3318
Name: year, dtype: int64
503 in 1823
2019    2217
Name: year, dtype: int64

504 in 1823
2020    342
Name: year, dtype: int64
505 in 1823
2021    19
Name: year, dtype: int64
506 in 1823
2021    45
Name: year, dtype: int64
507 in 1823
2021    1305
Name: year, dtype: int64
508 in 1823
2019    769
Name: year, dtype: int64
509 in 1823
2020    1046
Name: year, dtype: int64
510 in 1823
2019    756
Name: year, dtype: int64
511 in 1823
2020    4
Name: year, dtype: int64
512 in 1823
2021    5
Name: year, dtype: int64
513 in 1823
2020    2649
Name: year, dtype: int64
514 in 1823
2020    1070
Name: year, dtype: int64
515 in 1823
2021    2035
Name: year, dtype: int64
516 in 1823
2019    2002
Name: year, dtype: int64
517 in 1823
2020    69
Name: year, dtype: int64
518 in 1823
2021    2341
Name: year, dtype: int64
519 in 1823
2020    128
Name: year, dtype: int64
520 in 1823
2019    1423
Name: year, dtype: int64
521 in 1823
2020    451
Name: year, dtype: int64
522 in 1823
2021    215
Name: year, dtype: int64
523 in 1823
2020    76
Name: year, dtype: int64
524 in 1823
2019    17
Name: year, dtype: int64
525 in 1823
2020    1574
Name: year, dtype: int64
526 in 1823
2021    441
Name: year, dtype: int64
527 in 1823
2021    1107
Name: year, dtype: int64
528 in 1823
2019    11
Name: year, dtype: int64
529 in 1823
2021    4237
Name: year, dtype: int64
530 in 1823
2019    765
Name: year, dtype: int64
531 in 1823
2021    8
Name: year, dtype: int64
532 in 1823
2019    2173
Name: year, dtype: int64
533 in 1823
2020    362
Name: year, dtype: int64
534 in 1823
2020    193
Name: year, dtype: int64
535 in 1823
2021    3220
Name: year, dtype: int64
536 in 1823
2020    13
Name: year, dtype: int64
537 in 1823
2021    3220
Name: year, dtype: int64
538 in 1823
2020    112
Name: year, dtype: int64
539 in 1823
2020    1848
Name: year, dtype: int64
540 in 1823
2019    2466
Name: year, dtype: int64
541 in 1823
2019    6895
Name: year, dtype: int64
542 in 1823
2020    2756
Name: year, dtype: int64
543 in 1823
2021    3309
Name: year, dtype: int64
544 in 1823
2019    73
Name: year, dtype: int64
545 in 1823
2021    614
Name: year, dtype: int64
546 in 1823
2020    585
Name: year, dtype: int64
547 in 1823
2019    67
Name: year, dtype: int64
548 in 1823
2020    72
Name: year, dtype: int64
549 in 1823
2020    643
Name: year, dtype: int64
550 in 1823
2019    324
Name: year, dtype: int64
551 in 1823
2020    2577
Name: year, dtype: int64
552 in 1823
2021    418
Name: year, dtype: int64
553 in 1823
2020    3076
Name: year, dtype: int64
554 in 1823
2020    6734
Name: year, dtype: int64
555 in 1823
2019    1144
Name: year, dtype: int64
556 in 1823
2021    5
Name: year, dtype: int64
557 in 1823
2021    3705
Name: year, dtype: int64
558 in 1823
2021    433
Name: year, dtype: int64
559 in 1823
2019    743
Name: year, dtype: int64
560 in 1823
2021    587
Name: year, dtype: int64
561 in 1823
2021    1596
Name: year, dtype: int64
562 in 1823
2020    576
Name: year, dtype: int64
563 in 1823
2021    67
Name: year, dtype: int64
564 in 1823
2021    5410
Name: year, dtype: int64
565 in 1823
2020    5263
Name: year, dtype: int64
566 in 1823
2019    3021
Name: year, dtype: int64
567 in 1823
2019    1357
Name: year, dtype: int64
568 in 1823
2021    26
Name: year, dtype: int64
569 in 1823
2021    1253
Name: year, dtype: int64
570 in 1823
2020    1155
Name: year, dtype: int64
571 in 1823
2020    163
Name: year, dtype: int64
572 in 1823
2020    798
Name: year, dtype: int64
573 in 1823
2020    1125
Name: year, dtype: int64
574 in 1823
2019    240
Name: year, dtype: int64
575 in 1823
2020    3178
Name: year, dtype: int64
576 in 1823
2020    2632
Name: year, dtype: int64
577 in 1823
2021    2119
Name: year, dtype: int64
578 in 1823
2020    360
Name: year, dtype: int64
579 in 1823
2021    28
Name: year, dtype: int64
580 in 1823
2019    841
Name: year, dtype: int64
581 in 1823
2021    2
Name: year, dtype: int64
582 in 1823
2020    302
Name: year, dtype: int64
583 in 1823
2020    3195
Name: year, dtype: int64
584 in 1823
2020    4038
Name: year, dtype: int64
585 in 1823
2020    415
Name: year, dtype: int64
586 in 1823
2021    60
Name: year, dtype: int64
587 in 1823
2019    2477
Name: year, dtype: int64
588 in 1823
2021    14
Name: year, dtype: int64
589 in 1823
2020    1174
Name: year, dtype: int64
590 in 1823
2020    14
Name: year, dtype: int64
591 in 1823
2020    1010
Name: year, dtype: int64
592 in 1823
2019    11
Name: year, dtype: int64
593 in 1823
2019    1115
Name: year, dtype: int64
594 in 1823
2019    1059
Name: year, dtype: int64
595 in 1823
2019    1982
Name: year, dtype: int64
596 in 1823
2020    3419
Name: year, dtype: int64
597 in 1823
2020    771
Name: year, dtype: int64
598 in 1823
2020    137
Name: year, dtype: int64
599 in 1823
2020    97
Name: year, dtype: int64
600 in 1823
2021    977
Name: year, dtype: int64
601 in 1823
2021    9889
Name: year, dtype: int64
602 in 1823
2020    6
Name: year, dtype: int64
603 in 1823
2020    4687
Name: year, dtype: int64
604 in 1823
2019    269
Name: year, dtype: int64
605 in 1823
2021    498
Name: year, dtype: int64
606 in 1823
2020    1770
Name: year, dtype: int64
607 in 1823
2021    1735
Name: year, dtype: int64
608 in 1823
2020    862
Name: year, dtype: int64
609 in 1823
2021    254
Name: year, dtype: int64
610 in 1823
2021    166
Name: year, dtype: int64
611 in 1823
2021    5344
Name: year, dtype: int64
612 in 1823
2020    1774
Name: year, dtype: int64
613 in 1823
2019    806
Name: year, dtype: int64
614 in 1823
2021    5
Name: year, dtype: int64
615 in 1823
2020    1537
Name: year, dtype: int64
616 in 1823
2019    355
Name: year, dtype: int64
617 in 1823
2020    2984
Name: year, dtype: int64
618 in 1823
2019    937
Name: year, dtype: int64
619 in 1823
2020    1126
Name: year, dtype: int64
620 in 1823
2020    6711
Name: year, dtype: int64
621 in 1823
2020    109
Name: year, dtype: int64
622 in 1823
2021    7
Name: year, dtype: int64
623 in 1823
2020    888
Name: year, dtype: int64
624 in 1823
2020    460
Name: year, dtype: int64
625 in 1823
2020    864
Name: year, dtype: int64
626 in 1823
2021    137
Name: year, dtype: int64
627 in 1823
2020    611
Name: year, dtype: int64
628 in 1823
2021    3567
Name: year, dtype: int64
629 in 1823
2020    526
Name: year, dtype: int64
630 in 1823
2021    442
Name: year, dtype: int64
631 in 1823
2020    2408
Name: year, dtype: int64
632 in 1823
2021    3233
Name: year, dtype: int64
633 in 1823
2021    4929
Name: year, dtype: int64
634 in 1823
2019    4013
Name: year, dtype: int64
635 in 1823
2021    36
Name: year, dtype: int64
636 in 1823
2019    1106
Name: year, dtype: int64
637 in 1823
2021    11
Name: year, dtype: int64
638 in 1823
2020    674
Name: year, dtype: int64
639 in 1823
2019    87
Name: year, dtype: int64
640 in 1823
2020    1944
Name: year, dtype: int64
641 in 1823
2020    310
Name: year, dtype: int64
642 in 1823
2019    689
Name: year, dtype: int64
643 in 1823
2020    1769
Name: year, dtype: int64
644 in 1823
2019    1713
Name: year, dtype: int64
645 in 1823
2020    3722
Name: year, dtype: int64
646 in 1823
2020    6292
Name: year, dtype: int64
647 in 1823
2019    5623
Name: year, dtype: int64
648 in 1823
2020    5932
Name: year, dtype: int64
649 in 1823
2019    1308
Name: year, dtype: int64
650 in 1823
2021    10
Name: year, dtype: int64
651 in 1823
2019    1
Name: year, dtype: int64
652 in 1823
2020    1459
Name: year, dtype: int64
653 in 1823
2020    477
Name: year, dtype: int64
654 in 1823
2020    174
Name: year, dtype: int64
655 in 1823
2020    2965
Name: year, dtype: int64
656 in 1823
2020    267
Name: year, dtype: int64
657 in 1823
2020    1456
Name: year, dtype: int64
658 in 1823
2019    2712
Name: year, dtype: int64
659 in 1823
2021    213
Name: year, dtype: int64
660 in 1823
2019    2736
Name: year, dtype: int64
661 in 1823
2020    73
Name: year, dtype: int64
662 in 1823
2020    485
Name: year, dtype: int64
663 in 1823
2021    588
Name: year, dtype: int64
664 in 1823
2019    724
Name: year, dtype: int64
665 in 1823
2021    570
Name: year, dtype: int64
666 in 1823
2020    1145
Name: year, dtype: int64
667 in 1823
2020    185
Name: year, dtype: int64
668 in 1823
2019    1252
Name: year, dtype: int64
669 in 1823
2021    2132
Name: year, dtype: int64
670 in 1823
2020    2
Name: year, dtype: int64

671 in 1823
2020    1946
Name: year, dtype: int64
672 in 1823
2021    5388
Name: year, dtype: int64
673 in 1823
2019    2766
Name: year, dtype: int64
674 in 1823
2020    70
Name: year, dtype: int64
675 in 1823
2021    5033
Name: year, dtype: int64
676 in 1823
2020    5817
Name: year, dtype: int64
677 in 1823
2020    1404
Name: year, dtype: int64
678 in 1823
2020    876
Name: year, dtype: int64
679 in 1823
2021    4665
Name: year, dtype: int64
680 in 1823
2021    2217
Name: year, dtype: int64
681 in 1823
2020    2958
Name: year, dtype: int64
682 in 1823
2021    2
Name: year, dtype: int64
683 in 1823
2020    1341
Name: year, dtype: int64
684 in 1823
2021    1136
Name: year, dtype: int64
685 in 1823
2020    378
Name: year, dtype: int64
686 in 1823
2021    1025
Name: year, dtype: int64
687 in 1823
2021    745
Name: year, dtype: int64
688 in 1823
2021    5874
Name: year, dtype: int64
689 in 1823
2020    1774
Name: year, dtype: int64
690 in 1823
2019    1252
Name: year, dtype: int64
691 in 1823
2021    262
Name: year, dtype: int64
692 in 1823
2021    372
Name: year, dtype: int64
693 in 1823
2019    531
Name: year, dtype: int64
694 in 1823
2019    2083
Name: year, dtype: int64
695 in 1823
2020    1156
Name: year, dtype: int64
696 in 1823
2021    2118
Name: year, dtype: int64
697 in 1823
2020    101
Name: year, dtype: int64
698 in 1823
2020    994
Name: year, dtype: int64
699 in 1823
2020    1319
Name: year, dtype: int64
700 in 1823
2021    1451
Name: year, dtype: int64
701 in 1823
2019    1545
Name: year, dtype: int64
702 in 1823
2021    24
Name: year, dtype: int64
703 in 1823
2020    2056
Name: year, dtype: int64
704 in 1823
2019    643
Name: year, dtype: int64
705 in 1823
2021    213
Name: year, dtype: int64
706 in 1823
2021    264
Name: year, dtype: int64
707 in 1823
2020    7003
Name: year, dtype: int64
708 in 1823
2019    238
Name: year, dtype: int64
709 in 1823
2021    1867
Name: year, dtype: int64
710 in 1823
2021    212
Name: year, dtype: int64
711 in 1823
2020    1335
Name: year, dtype: int64
712 in 1823
2021    2099
Name: year, dtype: int64
713 in 1823
2021    1045
Name: year, dtype: int64
714 in 1823
2019    47
Name: year, dtype: int64
715 in 1823
2021    301
Name: year, dtype: int64
716 in 1823
2020    3228
Name: year, dtype: int64
717 in 1823
2021    5639
Name: year, dtype: int64
718 in 1823
2021    1999
Name: year, dtype: int64
719 in 1823
2019    230
Name: year, dtype: int64
720 in 1823
2020    692
Name: year, dtype: int64
721 in 1823
2019    50
Name: year, dtype: int64
722 in 1823
2020    3355
Name: year, dtype: int64
723 in 1823
2019    795
Name: year, dtype: int64
724 in 1823
2021    426
Name: year, dtype: int64
725 in 1823
2020    737
Name: year, dtype: int64
726 in 1823
2020    2205
Name: year, dtype: int64
727 in 1823
2019    252
Name: year, dtype: int64
728 in 1823
2021    263
Name: year, dtype: int64
729 in 1823
2021    1490
Name: year, dtype: int64
730 in 1823
2021    1213
Name: year, dtype: int64
731 in 1823
2020    2559
Name: year, dtype: int64
732 in 1823
2021    1134
Name: year, dtype: int64
733 in 1823
2019    523
Name: year, dtype: int64
734 in 1823
2021    1423
Name: year, dtype: int64
735 in 1823
2020    2620
Name: year, dtype: int64
736 in 1823
2021    1095
Name: year, dtype: int64
737 in 1823
2019    316
Name: year, dtype: int64
738 in 1823
2020    1405
Name: year, dtype: int64
739 in 1823
2021    918
Name: year, dtype: int64
740 in 1823
2021    5239
Name: year, dtype: int64
741 in 1823
2019    1489
Name: year, dtype: int64
742 in 1823
2020    2301
Name: year, dtype: int64
743 in 1823
2019    428
Name: year, dtype: int64
744 in 1823
2019    5252
Name: year, dtype: int64
745 in 1823
2020    1385
Name: year, dtype: int64
746 in 1823
2021    856
Name: year, dtype: int64
747 in 1823
2021    454
Name: year, dtype: int64
748 in 1823
2020    547
Name: year, dtype: int64
749 in 1823
2019    444
Name: year, dtype: int64
750 in 1823
2020    2234
Name: year, dtype: int64
751 in 1823
2021    322
Name: year, dtype: int64
752 in 1823
2019    289
Name: year, dtype: int64
753 in 1823
2020    143
Name: year, dtype: int64
754 in 1823
2019    4717
Name: year, dtype: int64
755 in 1823
2021    728
Name: year, dtype: int64
756 in 1823
2019    1206
Name: year, dtype: int64
757 in 1823
2020    23
Name: year, dtype: int64
758 in 1823
2019    1955
Name: year, dtype: int64
759 in 1823
2019    1632
Name: year, dtype: int64
760 in 1823
2019    3082
Name: year, dtype: int64
761 in 1823
2021    711
Name: year, dtype: int64
762 in 1823
2020    674
Name: year, dtype: int64
763 in 1823
2019    2765
Name: year, dtype: int64
764 in 1823
2021    16
Name: year, dtype: int64
765 in 1823
2019    962
Name: year, dtype: int64
766 in 1823
2021    178
Name: year, dtype: int64
767 in 1823
2020    3411
Name: year, dtype: int64
768 in 1823
2020    1262
Name: year, dtype: int64
769 in 1823
2020    2482
Name: year, dtype: int64
770 in 1823
2021    76
Name: year, dtype: int64
771 in 1823
2021    601
Name: year, dtype: int64
772 in 1823
2020    1543
Name: year, dtype: int64
773 in 1823
2021    360
Name: year, dtype: int64
774 in 1823
2021    1174
Name: year, dtype: int64
775 in 1823
2020    2433
Name: year, dtype: int64
776 in 1823
2020    2669
Name: year, dtype: int64
777 in 1823
2020    530
Name: year, dtype: int64
778 in 1823
2021    565
Name: year, dtype: int64
779 in 1823
2021    1173
Name: year, dtype: int64
780 in 1823
2021    267
Name: year, dtype: int64
781 in 1823
2019    28
Name: year, dtype: int64
782 in 1823
2020    1388
Name: year, dtype: int64
783 in 1823
2020    2298
Name: year, dtype: int64
784 in 1823
2021    1420
Name: year, dtype: int64
785 in 1823
2021    3501
Name: year, dtype: int64
786 in 1823
2021    3
Name: year, dtype: int64
787 in 1823
2021    9773
Name: year, dtype: int64
788 in 1823
2020    616
Name: year, dtype: int64
789 in 1823
2021    3838
Name: year, dtype: int64
790 in 1823
2021    179
Name: year, dtype: int64
791 in 1823
2020    1553
Name: year, dtype: int64
792 in 1823
2019    2314
Name: year, dtype: int64
793 in 1823
2020    851
Name: year, dtype: int64
794 in 1823
2021    1838
Name: year, dtype: int64
795 in 1823
2020    2509
Name: year, dtype: int64
796 in 1823
2021    388
Name: year, dtype: int64
797 in 1823
2021    770
Name: year, dtype: int64
798 in 1823
2019    3404
Name: year, dtype: int64
799 in 1823
2020    237
Name: year, dtype: int64
800 in 1823
2020    1760
Name: year, dtype: int64
801 in 1823
2019    128
Name: year, dtype: int64
802 in 1823
2019    887
Name: year, dtype: int64
803 in 1823
2021    5
Name: year, dtype: int64
804 in 1823
2019    1893
Name: year, dtype: int64
805 in 1823
2020    3684
Name: year, dtype: int64
806 in 1823
2021    868
Name: year, dtype: int64
807 in 1823
2019    1308
Name: year, dtype: int64
808 in 1823
2021    1089
Name: year, dtype: int64
809 in 1823
2021    3
Name: year, dtype: int64
810 in 1823
2019    921
Name: year, dtype: int64
811 in 1823
2020    2487
Name: year, dtype: int64
812 in 1823
2021    1159
Name: year, dtype: int64
813 in 1823
2021    409
Name: year, dtype: int64
814 in 1823
2020    2477
Name: year, dtype: int64
815 in 1823
2021    3592
Name: year, dtype: int64
816 in 1823
2020    719
Name: year, dtype: int64
817 in 1823
2021    133
Name: year, dtype: int64
818 in 1823
2019    392
Name: year, dtype: int64
819 in 1823
2019    3195
Name: year, dtype: int64
820 in 1823
2020    60
Name: year, dtype: int64
821 in 1823
2020    2489
Name: year, dtype: int64
822 in 1823
2021    854
Name: year, dtype: int64
823 in 1823
2020    165
Name: year, dtype: int64
824 in 1823
2021    169
Name: year, dtype: int64
825 in 1823
2020    2288
Name: year, dtype: int64
826 in 1823
2019    174
Name: year, dtype: int64
827 in 1823
2020    390
Name: year, dtype: int64
828 in 1823
2020    355
Name: year, dtype: int64
829 in 1823
2019    1504
Name: year, dtype: int64
830 in 1823
2020    761
Name: year, dtype: int64
831 in 1823
2021    674
Name: year, dtype: int64
832 in 1823
2020    806
Name: year, dtype: int64
833 in 1823
2021    3649
Name: year, dtype: int64
834 in 1823
2020    1650
Name: year, dtype: int64
835 in 1823
2021    1113
Name: year, dtype: int64
836 in 1823
2021    498
Name: year, dtype: int64

837 in 1823
2021    851
Name: year, dtype: int64
838 in 1823
2019    159
Name: year, dtype: int64
839 in 1823
2020    2178
Name: year, dtype: int64
840 in 1823
2019    1795
Name: year, dtype: int64
841 in 1823
2020    573
Name: year, dtype: int64
842 in 1823
2020    226
Name: year, dtype: int64
843 in 1823
2019    1288
Name: year, dtype: int64
844 in 1823
2021    3897
Name: year, dtype: int64
845 in 1823
2021    316
Name: year, dtype: int64
846 in 1823
2021    308
Name: year, dtype: int64
847 in 1823
2019    8
Name: year, dtype: int64
848 in 1823
2020    714
Name: year, dtype: int64
849 in 1823
2021    21
Name: year, dtype: int64
850 in 1823
2021    165
Name: year, dtype: int64
851 in 1823
2021    289
Name: year, dtype: int64
852 in 1823
2020    3950
Name: year, dtype: int64
853 in 1823
2021    459
Name: year, dtype: int64
854 in 1823
2020    628
Name: year, dtype: int64
855 in 1823
2019    307
Name: year, dtype: int64
856 in 1823
2020    3151
Name: year, dtype: int64
857 in 1823
2021    3
Name: year, dtype: int64
858 in 1823
2020    1403
Name: year, dtype: int64
859 in 1823
2021    1565
Name: year, dtype: int64
860 in 1823
2021    769
Name: year, dtype: int64
861 in 1823
2021    1965
Name: year, dtype: int64
862 in 1823
2021    3916
Name: year, dtype: int64
863 in 1823
2021    1
Name: year, dtype: int64
864 in 1823
2020    227
Name: year, dtype: int64
865 in 1823
2021    1910
Name: year, dtype: int64
866 in 1823
2020    1209
Name: year, dtype: int64
867 in 1823
2021    226
Name: year, dtype: int64
868 in 1823
2021    95
Name: year, dtype: int64
869 in 1823
2020    3410
Name: year, dtype: int64
870 in 1823
2020    4189
Name: year, dtype: int64
871 in 1823
2019    1616
Name: year, dtype: int64
872 in 1823
2021    433
Name: year, dtype: int64
873 in 1823
2020    163
Name: year, dtype: int64
874 in 1823
2020    418
Name: year, dtype: int64
875 in 1823
2020    538
Name: year, dtype: int64
876 in 1823
2021    36
Name: year, dtype: int64
877 in 1823
2019    1788
Name: year, dtype: int64
878 in 1823
2021    1198
Name: year, dtype: int64
879 in 1823
2021    420
Name: year, dtype: int64
880 in 1823
2021    580
Name: year, dtype: int64
881 in 1823
2021    1234
Name: year, dtype: int64
882 in 1823
2020    649
Name: year, dtype: int64
883 in 1823
2020    106
Name: year, dtype: int64
884 in 1823
2019    797
Name: year, dtype: int64
885 in 1823
2020    1246
Name: year, dtype: int64
886 in 1823
2020    118
Name: year, dtype: int64
887 in 1823
2020    3
Name: year, dtype: int64
888 in 1823
2020    3490
Name: year, dtype: int64
889 in 1823
2019    2621
Name: year, dtype: int64
890 in 1823
2021    2923
Name: year, dtype: int64
891 in 1823
2021    671
Name: year, dtype: int64
892 in 1823
2021    467
Name: year, dtype: int64
893 in 1823
2021    504
Name: year, dtype: int64
894 in 1823
2021    2008
Name: year, dtype: int64
895 in 1823
2021    1
Name: year, dtype: int64
896 in 1823
2021    398
Name: year, dtype: int64
897 in 1823
2021    391
Name: year, dtype: int64
898 in 1823
2019    6247
Name: year, dtype: int64
899 in 1823
2020    3310
Name: year, dtype: int64
900 in 1823
2020    1382
Name: year, dtype: int64
901 in 1823
2020    501
Name: year, dtype: int64
902 in 1823
2020    1284
Name: year, dtype: int64
903 in 1823
2019    7572
Name: year, dtype: int64
904 in 1823
2019    1749
Name: year, dtype: int64
905 in 1823
2021    3123
Name: year, dtype: int64
906 in 1823
2021    1073
Name: year, dtype: int64
907 in 1823
2020    324
Name: year, dtype: int64
908 in 1823
2020    3194
Name: year, dtype: int64
909 in 1823
2020    722
Name: year, dtype: int64
910 in 1823
2019    620
Name: year, dtype: int64
911 in 1823
2019    1764
Name: year, dtype: int64
912 in 1823
2021    327
Name: year, dtype: int64
913 in 1823
2021    1785
Name: year, dtype: int64
914 in 1823
2020    2026
Name: year, dtype: int64
915 in 1823
2020    61
Name: year, dtype: int64
916 in 1823
2020    1990
Name: year, dtype: int64
917 in 1823
2020    2800
Name: year, dtype: int64
918 in 1823
2020    3181
Name: year, dtype: int64
919 in 1823
2020    405
Name: year, dtype: int64
920 in 1823
2020    2274
Name: year, dtype: int64
921 in 1823
2021    1836
Name: year, dtype: int64
922 in 1823
2020    3031
Name: year, dtype: int64
923 in 1823
2020    438
Name: year, dtype: int64
924 in 1823
2020    1678
Name: year, dtype: int64
925 in 1823
2021    3595
Name: year, dtype: int64
926 in 1823
2021    465
Name: year, dtype: int64
927 in 1823
2021    3974
Name: year, dtype: int64
928 in 1823
2019    996
Name: year, dtype: int64
929 in 1823
2021    33
Name: year, dtype: int64
930 in 1823
2020    574
Name: year, dtype: int64
931 in 1823
2020    2092
Name: year, dtype: int64
932 in 1823
2019    1705
Name: year, dtype: int64
933 in 1823
2020    25
Name: year, dtype: int64
934 in 1823
2021    378
Name: year, dtype: int64
935 in 1823
2019    2418
Name: year, dtype: int64
936 in 1823
2021    2525
Name: year, dtype: int64
937 in 1823
2021    1144
Name: year, dtype: int64
938 in 1823
2021    6
Name: year, dtype: int64
939 in 1823
2020    2017
Name: year, dtype: int64
940 in 1823
2021    3422
Name: year, dtype: int64
941 in 1823
2020    67
Name: year, dtype: int64
942 in 1823
2020    290
Name: year, dtype: int64
943 in 1823
2020    235
Name: year, dtype: int64
944 in 1823
2019    2
Name: year, dtype: int64
945 in 1823
2019    445
Name: year, dtype: int64
946 in 1823
2020    1648
Name: year, dtype: int64
947 in 1823
2021    389
Name: year, dtype: int64
948 in 1823
2020    955
Name: year, dtype: int64
949 in 1823
2020    885
Name: year, dtype: int64
950 in 1823
2021    151
Name: year, dtype: int64
951 in 1823
2020    2292
Name: year, dtype: int64
952 in 1823
2021    1444
Name: year, dtype: int64
953 in 1823
2020    134
Name: year, dtype: int64
954 in 1823
2021    73
Name: year, dtype: int64
955 in 1823
2020    415
Name: year, dtype: int64
956 in 1823
2021    1218
Name: year, dtype: int64
957 in 1823
2019    3150
Name: year, dtype: int64
958 in 1823
2021    4668
Name: year, dtype: int64
959 in 1823
2020    2301
Name: year, dtype: int64
960 in 1823
2020    1498
Name: year, dtype: int64
961 in 1823
2020    1000
Name: year, dtype: int64
962 in 1823
2020    684
Name: year, dtype: int64
963 in 1823
2020    1115
Name: year, dtype: int64
964 in 1823
2020    296
Name: year, dtype: int64
965 in 1823
2020    610
Name: year, dtype: int64
966 in 1823
2020    1460
Name: year, dtype: int64
967 in 1823
2019    2
Name: year, dtype: int64
968 in 1823
2020    89
Name: year, dtype: int64
969 in 1823
2019    123
Name: year, dtype: int64
970 in 1823
2021    92
Name: year, dtype: int64
971 in 1823
2020    397
Name: year, dtype: int64
972 in 1823
2019    262
Name: year, dtype: int64
973 in 1823
2021    3775
Name: year, dtype: int64
974 in 1823
2019    196
Name: year, dtype: int64
975 in 1823
2021    2517
Name: year, dtype: int64
976 in 1823
2020    1060
Name: year, dtype: int64
977 in 1823
2019    633
Name: year, dtype: int64
978 in 1823
2021    2707
Name: year, dtype: int64
979 in 1823
2019    2201
Name: year, dtype: int64
980 in 1823
2019    458
Name: year, dtype: int64
981 in 1823
2021    11
Name: year, dtype: int64
982 in 1823
2021    4004
Name: year, dtype: int64
983 in 1823
2020    307
Name: year, dtype: int64
984 in 1823
2020    131
Name: year, dtype: int64
985 in 1823
2020    459
Name: year, dtype: int64
986 in 1823
2019    1626
Name: year, dtype: int64
987 in 1823
2019    246
Name: year, dtype: int64
988 in 1823
2019    1646
Name: year, dtype: int64
989 in 1823
2020    1108
Name: year, dtype: int64
990 in 1823
2020    475
Name: year, dtype: int64
991 in 1823
2019    115
Name: year, dtype: int64
992 in 1823
2021    210
Name: year, dtype: int64
993 in 1823
2021    79
Name: year, dtype: int64
994 in 1823
2021    574
Name: year, dtype: int64
995 in 1823
2020    1512
Name: year, dtype: int64
996 in 1823
2019    3226
Name: year, dtype: int64
997 in 1823
2019    1816
Name: year, dtype: int64
998 in 1823
2021    1013
Name: year, dtype: int64
999 in 1823
2021    468
Name: year, dtype: int64
1000 in 1823
2021    4163
Name: year, dtype: int64
1001 in 1823
2021    34
Name: year, dtype: int64
1002 in 1823
2020    185
Name: year, dtype: int64
1003 in 1823
2021    70
Name: year, dtype: int64

1004 in 1823
2021    2390
Name: year, dtype: int64
1005 in 1823
2021    290
Name: year, dtype: int64
1006 in 1823
2021    341
Name: year, dtype: int64
1007 in 1823
2020    1409
Name: year, dtype: int64
1008 in 1823
2019    375
Name: year, dtype: int64
1009 in 1823
2019    4245
Name: year, dtype: int64
1010 in 1823
2021    59
Name: year, dtype: int64
1011 in 1823
2019    117
Name: year, dtype: int64
1012 in 1823
2019    591
Name: year, dtype: int64
1013 in 1823
2019    321
Name: year, dtype: int64
1014 in 1823
2021    828
Name: year, dtype: int64
1015 in 1823
2021    470
Name: year, dtype: int64
1016 in 1823
2021    430
Name: year, dtype: int64
1017 in 1823
2021    325
Name: year, dtype: int64
1018 in 1823
2019    5836
Name: year, dtype: int64
1019 in 1823
2021    2322
Name: year, dtype: int64
1020 in 1823
2020    6019
Name: year, dtype: int64
1021 in 1823
2019    146
Name: year, dtype: int64
1022 in 1823
2019    615
Name: year, dtype: int64
1023 in 1823
2020    106
Name: year, dtype: int64
1024 in 1823
2021    2377
Name: year, dtype: int64
1025 in 1823
2021    3
Name: year, dtype: int64
1026 in 1823
2020    395
Name: year, dtype: int64
1027 in 1823
2020    4726
Name: year, dtype: int64
1028 in 1823
2019    1957
Name: year, dtype: int64
1029 in 1823
2020    636
Name: year, dtype: int64
1030 in 1823
2021    881
Name: year, dtype: int64
1031 in 1823
2019    1480
Name: year, dtype: int64
1032 in 1823
2020    1379
Name: year, dtype: int64
1033 in 1823
2020    75
Name: year, dtype: int64
1034 in 1823
2019    131
Name: year, dtype: int64
1035 in 1823
2020    831
Name: year, dtype: int64
1036 in 1823
2020    193
Name: year, dtype: int64
1037 in 1823
2020    541
Name: year, dtype: int64
1038 in 1823
2021    1643
Name: year, dtype: int64
1039 in 1823
2021    2357
Name: year, dtype: int64
1040 in 1823
2020    5199
Name: year, dtype: int64
1041 in 1823
2019    116
Name: year, dtype: int64
1042 in 1823
2021    4422
Name: year, dtype: int64
1043 in 1823
2021    2127
Name: year, dtype: int64
1044 in 1823
2019    3244
Name: year, dtype: int64
1045 in 1823
2020    89
Name: year, dtype: int64
1046 in 1823
2020    7403
Name: year, dtype: int64
1047 in 1823
2020    1091
Name: year, dtype: int64
1048 in 1823
2020    98
Name: year, dtype: int64
1049 in 1823
2020    2276
Name: year, dtype: int64
1050 in 1823
2021    2
Name: year, dtype: int64
1051 in 1823
2021    4263
Name: year, dtype: int64
1052 in 1823
2021    53
Name: year, dtype: int64
1053 in 1823
2019    991
Name: year, dtype: int64
1054 in 1823
2020    1046
Name: year, dtype: int64
1055 in 1823
2019    464
Name: year, dtype: int64
1056 in 1823
2021    3382
Name: year, dtype: int64
1057 in 1823
2020    1402
Name: year, dtype: int64
1058 in 1823
2020    2087
Name: year, dtype: int64
1059 in 1823
2021    5021
Name: year, dtype: int64
1060 in 1823
2019    2088
Name: year, dtype: int64
1061 in 1823
2021    3850
Name: year, dtype: int64
1062 in 1823
2020    182
Name: year, dtype: int64
1063 in 1823
2021    231
Name: year, dtype: int64
1064 in 1823
2019    5723
Name: year, dtype: int64
1065 in 1823
2020    745
Name: year, dtype: int64
1066 in 1823
2020    298
Name: year, dtype: int64
1067 in 1823
2019    90
Name: year, dtype: int64
1068 in 1823
2021    1512
Name: year, dtype: int64
1069 in 1823
2019    2523
Name: year, dtype: int64
1070 in 1823
2020    1987
Name: year, dtype: int64
1071 in 1823
2020    1179
Name: year, dtype: int64
1072 in 1823
2019    19
Name: year, dtype: int64
1073 in 1823
2019    1624
Name: year, dtype: int64
1074 in 1823
2021    3817
Name: year, dtype: int64
1075 in 1823
2019    3160
Name: year, dtype: int64
1076 in 1823
2020    1210
Name: year, dtype: int64
1077 in 1823
2019    207
Name: year, dtype: int64
1078 in 1823
2019    1391
Name: year, dtype: int64
1079 in 1823
2019    1456
Name: year, dtype: int64
1080 in 1823
2021    986
Name: year, dtype: int64
1081 in 1823
2020    235
Name: year, dtype: int64
1082 in 1823
2019    13210
Name: year, dtype: int64
1083 in 1823
2021    4583
Name: year, dtype: int64
1084 in 1823
2019    40
Name: year, dtype: int64
1085 in 1823
2020    89
Name: year, dtype: int64
1086 in 1823
2019    14
Name: year, dtype: int64
1087 in 1823
2019    4664
Name: year, dtype: int64
1088 in 1823
2020    1344
Name: year, dtype: int64
1089 in 1823
2021    8043
Name: year, dtype: int64
1090 in 1823
2021    3044
Name: year, dtype: int64
1091 in 1823
2021    137
Name: year, dtype: int64
1092 in 1823
2021    505
Name: year, dtype: int64
1093 in 1823
2019    1543
Name: year, dtype: int64
1094 in 1823
2021    2579
Name: year, dtype: int64
1095 in 1823
2019    204
Name: year, dtype: int64
1096 in 1823
2021    1209
Name: year, dtype: int64
1097 in 1823
2019    1759
Name: year, dtype: int64
1098 in 1823
2020    2235
Name: year, dtype: int64
1099 in 1823
2021    2
Name: year, dtype: int64
1100 in 1823
2021    103
Name: year, dtype: int64
1101 in 1823
2020    711
Name: year, dtype: int64
1102 in 1823
2021    2170
Name: year, dtype: int64
1103 in 1823
2020    28
Name: year, dtype: int64
1104 in 1823
2021    193
Name: year, dtype: int64
1105 in 1823
2021    552
Name: year, dtype: int64
1106 in 1823
2021    820
Name: year, dtype: int64
1107 in 1823
2020    2408
Name: year, dtype: int64
1108 in 1823
2021    122
Name: year, dtype: int64
1109 in 1823
2020    1669
Name: year, dtype: int64
1110 in 1823
2019    235
Name: year, dtype: int64
1111 in 1823
2020    1052
Name: year, dtype: int64
1112 in 1823
2019    1362
Name: year, dtype: int64
1113 in 1823
2021    4424
Name: year, dtype: int64
1114 in 1823
2020    2033
Name: year, dtype: int64
1115 in 1823
2021    19
Name: year, dtype: int64
1116 in 1823
2021    3171
Name: year, dtype: int64
1117 in 1823
2021    2
Name: year, dtype: int64
1118 in 1823
2020    6
Name: year, dtype: int64
1119 in 1823
2020    37
Name: year, dtype: int64
1120 in 1823
2021    851
Name: year, dtype: int64
1121 in 1823
2019    608
Name: year, dtype: int64
1122 in 1823
2019    1417
Name: year, dtype: int64
1123 in 1823
2021    2456
Name: year, dtype: int64
1124 in 1823
2019    2330
Name: year, dtype: int64
1125 in 1823
2019    36
Name: year, dtype: int64
1126 in 1823
2019    1067
Name: year, dtype: int64
1127 in 1823
2019    1066
Name: year, dtype: int64
1128 in 1823
2019    2015
Name: year, dtype: int64
1129 in 1823
2021    3435
Name: year, dtype: int64
1130 in 1823
2020    698
Name: year, dtype: int64
1131 in 1823
2020    141
Name: year, dtype: int64
1132 in 1823
2021    311
Name: year, dtype: int64
1133 in 1823
2021    2147
Name: year, dtype: int64
1134 in 1823
2020    904
Name: year, dtype: int64
1135 in 1823
2021    2
Name: year, dtype: int64
1136 in 1823
2021    1839
Name: year, dtype: int64
1137 in 1823
2020    650
Name: year, dtype: int64
1138 in 1823
2019    910
Name: year, dtype: int64
1139 in 1823
2019    43
Name: year, dtype: int64
1140 in 1823
2020    254
Name: year, dtype: int64
1141 in 1823
2020    395
Name: year, dtype: int64
1142 in 1823
2021    870
Name: year, dtype: int64
1143 in 1823
2021    257
Name: year, dtype: int64
1144 in 1823
2020    48
Name: year, dtype: int64
1145 in 1823
2019    608
Name: year, dtype: int64
1146 in 1823
2020    283
Name: year, dtype: int64
1147 in 1823
2020    608
Name: year, dtype: int64
1148 in 1823
2020    1982
Name: year, dtype: int64
1149 in 1823
2020    596
Name: year, dtype: int64
1150 in 1823
2021    3071
Name: year, dtype: int64
1151 in 1823
2020    1966
Name: year, dtype: int64
1152 in 1823
2020    2311
Name: year, dtype: int64
1153 in 1823
2019    1099
Name: year, dtype: int64
1154 in 1823
2019    1067
Name: year, dtype: int64
1155 in 1823
2020    5653
Name: year, dtype: int64
1156 in 1823
2020    724
Name: year, dtype: int64
1157 in 1823
2021    344
Name: year, dtype: int64
1158 in 1823
2021    187
Name: year, dtype: int64
1159 in 1823
2020    1
Name: year, dtype: int64
1160 in 1823
2020    397
Name: year, dtype: int64
1161 in 1823
2020    2523
Name: year, dtype: int64
1162 in 1823
2021    64
Name: year, dtype: int64
1163 in 1823
2020    320
Name: year, dtype: int64
1164 in 1823
2021    352
Name: year, dtype: int64
1165 in 1823
2020    4197
Name: year, dtype: int64
1166 in 1823
2021    319
Name: year, dtype: int64

1167 in 1823
2021    189
Name: year, dtype: int64
1168 in 1823
2019    295
Name: year, dtype: int64
1169 in 1823
2020    4591
Name: year, dtype: int64
1170 in 1823
2020    3791
Name: year, dtype: int64
1171 in 1823
2020    1878
Name: year, dtype: int64
1172 in 1823
2021    153
Name: year, dtype: int64
1173 in 1823
2019    1637
Name: year, dtype: int64
1174 in 1823
2020    4785
Name: year, dtype: int64
1175 in 1823
2021    898
Name: year, dtype: int64
1176 in 1823
2021    128
Name: year, dtype: int64
1177 in 1823
2021    625
Name: year, dtype: int64
1178 in 1823
2020    2086
Name: year, dtype: int64
1179 in 1823
2020    24
Name: year, dtype: int64
1180 in 1823
2019    2114
Name: year, dtype: int64
1181 in 1823
2021    1018
Name: year, dtype: int64
1182 in 1823
2020    741
Name: year, dtype: int64
1183 in 1823
2019    3
Name: year, dtype: int64
1184 in 1823
2020    1836
Name: year, dtype: int64
1185 in 1823
2021    2050
Name: year, dtype: int64
1186 in 1823
2020    818
Name: year, dtype: int64
1187 in 1823
2019    6403
Name: year, dtype: int64
1188 in 1823
2020    97
Name: year, dtype: int64
1189 in 1823
2020    1782
Name: year, dtype: int64
1190 in 1823
2020    1492
Name: year, dtype: int64
1191 in 1823
2020    3010
Name: year, dtype: int64
1192 in 1823
2020    4408
Name: year, dtype: int64
1193 in 1823
2020    428
Name: year, dtype: int64
1194 in 1823
2020    3271
Name: year, dtype: int64
1195 in 1823
2020    630
Name: year, dtype: int64
1196 in 1823
2019    692
Name: year, dtype: int64
1197 in 1823
2019    2615
Name: year, dtype: int64
1198 in 1823
2020    74
Name: year, dtype: int64
1199 in 1823
2019    753
Name: year, dtype: int64
1200 in 1823
2020    400
Name: year, dtype: int64
1201 in 1823
2021    129
Name: year, dtype: int64
1202 in 1823
2020    3226
Name: year, dtype: int64
1203 in 1823
2021    1748
Name: year, dtype: int64
1204 in 1823
2019    104
Name: year, dtype: int64
1205 in 1823
2019    4271
Name: year, dtype: int64
1206 in 1823
2020    439
Name: year, dtype: int64
1207 in 1823
2019    829
Name: year, dtype: int64
1208 in 1823
2020    1320
Name: year, dtype: int64
1209 in 1823
2020    1098
Name: year, dtype: int64
1210 in 1823
2021    17
Name: year, dtype: int64
1211 in 1823
2021    2601
Name: year, dtype: int64
1212 in 1823
2021    2407
Name: year, dtype: int64
1213 in 1823
2021    1975
Name: year, dtype: int64
1214 in 1823
2019    1727
Name: year, dtype: int64
1215 in 1823
2021    3659
Name: year, dtype: int64
1216 in 1823
2021    854
Name: year, dtype: int64
1217 in 1823
2019    83
Name: year, dtype: int64
1218 in 1823
2020    2081
Name: year, dtype: int64
1219 in 1823
2019    33
Name: year, dtype: int64
1220 in 1823
2020    1310
Name: year, dtype: int64
1221 in 1823
2021    13
Name: year, dtype: int64
1222 in 1823
2021    145
Name: year, dtype: int64
1223 in 1823
2021    686
Name: year, dtype: int64
1224 in 1823
2020    658
Name: year, dtype: int64
1225 in 1823
2019    4
Name: year, dtype: int64
1226 in 1823
2021    1737
Name: year, dtype: int64
1227 in 1823
2020    6292
Name: year, dtype: int64
1228 in 1823
2021    694
Name: year, dtype: int64
1229 in 1823
2019    89
Name: year, dtype: int64
1230 in 1823
2019    697
Name: year, dtype: int64
1231 in 1823
2019    1211
Name: year, dtype: int64
1232 in 1823
2019    165
Name: year, dtype: int64
1233 in 1823
2019    1764
Name: year, dtype: int64
1234 in 1823
2021    672
Name: year, dtype: int64
1235 in 1823
2021    3444
Name: year, dtype: int64
1236 in 1823
2020    1328
Name: year, dtype: int64
1237 in 1823
2020    748
Name: year, dtype: int64
1238 in 1823
2020    787
Name: year, dtype: int64
1239 in 1823
2020    109
Name: year, dtype: int64
1240 in 1823
2021    1276
Name: year, dtype: int64
1241 in 1823
2020    50
Name: year, dtype: int64
1242 in 1823
2020    86
Name: year, dtype: int64
1243 in 1823
2021    5
Name: year, dtype: int64
1244 in 1823
2020    5098
Name: year, dtype: int64
1245 in 1823
2020    1683
Name: year, dtype: int64
1246 in 1823
2021    7124
Name: year, dtype: int64
1247 in 1823
2019    128
Name: year, dtype: int64
1248 in 1823
2020    4
Name: year, dtype: int64
1249 in 1823
2021    1
Name: year, dtype: int64
1250 in 1823
2019    825
Name: year, dtype: int64
1251 in 1823
2020    386
Name: year, dtype: int64
1252 in 1823
2020    741
Name: year, dtype: int64
1253 in 1823
2019    1537
Name: year, dtype: int64
1254 in 1823
2019    759
Name: year, dtype: int64
1255 in 1823
2019    77
Name: year, dtype: int64
1256 in 1823
2019    522
Name: year, dtype: int64
1257 in 1823
2021    460
Name: year, dtype: int64
1258 in 1823
2021    175
Name: year, dtype: int64
1259 in 1823
2020    1021
Name: year, dtype: int64
1260 in 1823
2019    1049
Name: year, dtype: int64
1261 in 1823
2020    16
Name: year, dtype: int64
1262 in 1823
2020    316
Name: year, dtype: int64
1263 in 1823
2021    795
Name: year, dtype: int64
1264 in 1823
2019    3237
Name: year, dtype: int64
1265 in 1823
2020    2142
Name: year, dtype: int64
1266 in 1823
2021    1346
Name: year, dtype: int64
1267 in 1823
2019    1081
Name: year, dtype: int64
1268 in 1823
2020    1362
Name: year, dtype: int64
1269 in 1823
2020    361
Name: year, dtype: int64
1270 in 1823
2020    1239
Name: year, dtype: int64
1271 in 1823
2021    6550
Name: year, dtype: int64
1272 in 1823
2021    22
Name: year, dtype: int64
1273 in 1823
2021    369
Name: year, dtype: int64
1274 in 1823
2020    619
Name: year, dtype: int64
1275 in 1823
2021    2453
Name: year, dtype: int64
1276 in 1823
2019    3
Name: year, dtype: int64
1277 in 1823
2020    675
Name: year, dtype: int64
1278 in 1823
2021    2
Name: year, dtype: int64
1279 in 1823
2021    2517
Name: year, dtype: int64
1280 in 1823
2020    1403
Name: year, dtype: int64
1281 in 1823
2021    1257
Name: year, dtype: int64
1282 in 1823
2019    2027
Name: year, dtype: int64
1283 in 1823
2019    7053
Name: year, dtype: int64
1284 in 1823
2021    4152
Name: year, dtype: int64
1285 in 1823
2020    2140
Name: year, dtype: int64
1286 in 1823
2020    1397
Name: year, dtype: int64
1287 in 1823
2020    4321
Name: year, dtype: int64
1288 in 1823
2020    5102
Name: year, dtype: int64
1289 in 1823
2021    1609
Name: year, dtype: int64
1290 in 1823
2020    2768
Name: year, dtype: int64
1291 in 1823
2021    176
Name: year, dtype: int64
1292 in 1823
2020    569
Name: year, dtype: int64
1293 in 1823
2021    9
Name: year, dtype: int64
1294 in 1823
2019    3707
Name: year, dtype: int64
1295 in 1823
2020    122
Name: year, dtype: int64
1296 in 1823
2020    976
Name: year, dtype: int64
1297 in 1823
2021    331
Name: year, dtype: int64
1298 in 1823
2020    2421
Name: year, dtype: int64
1299 in 1823
2020    61
Name: year, dtype: int64
1300 in 1823
2020    2105
Name: year, dtype: int64
1301 in 1823
2020    456
Name: year, dtype: int64
1302 in 1823
2019    1117
Name: year, dtype: int64
1303 in 1823
2020    688
Name: year, dtype: int64
1304 in 1823
2019    437
Name: year, dtype: int64
1305 in 1823
2021    933
Name: year, dtype: int64
1306 in 1823
2020    1571
Name: year, dtype: int64
1307 in 1823
2020    64
Name: year, dtype: int64
1308 in 1823
2021    267
Name: year, dtype: int64
1309 in 1823
2019    653
Name: year, dtype: int64
1310 in 1823
2019    2177
Name: year, dtype: int64
1311 in 1823
2019    763
Name: year, dtype: int64
1312 in 1823
2019    1737
Name: year, dtype: int64
1313 in 1823
2020    809
Name: year, dtype: int64
1314 in 1823
2021    1016
Name: year, dtype: int64
1315 in 1823
2020    407
Name: year, dtype: int64
1316 in 1823
2019    1072
Name: year, dtype: int64
1317 in 1823
2021    541
Name: year, dtype: int64
1318 in 1823
2021    524
Name: year, dtype: int64
1319 in 1823
2021    122
Name: year, dtype: int64
1320 in 1823
2020    6328
Name: year, dtype: int64
1321 in 1823
2019    1126
Name: year, dtype: int64
1322 in 1823
2019    1272
Name: year, dtype: int64
1323 in 1823
2019    453
Name: year, dtype: int64
1324 in 1823
2020    97
Name: year, dtype: int64
1325 in 1823
2020    1243
Name: year, dtype: int64
1326 in 1823
2020    105
Name: year, dtype: int64
1327 in 1823
2020    199
Name: year, dtype: int64
1328 in 1823
2021    1266
Name: year, dtype: int64
1329 in 1823
2020    4097
Name: year, dtype: int64

1330 in 1823
2021    759
Name: year, dtype: int64
1331 in 1823
2019    76
Name: year, dtype: int64
1332 in 1823
2021    257
Name: year, dtype: int64
1333 in 1823
2021    1835
Name: year, dtype: int64
1334 in 1823
2020    2710
Name: year, dtype: int64
1335 in 1823
2020    1433
Name: year, dtype: int64
1336 in 1823
2020    1325
Name: year, dtype: int64
1337 in 1823
2021    6213
Name: year, dtype: int64
1338 in 1823
2019    750
Name: year, dtype: int64
1339 in 1823
2020    3561
Name: year, dtype: int64
1340 in 1823
2021    1228
Name: year, dtype: int64
1341 in 1823
2020    1
Name: year, dtype: int64
1342 in 1823
2019    1465
Name: year, dtype: int64
1343 in 1823
2021    2772
Name: year, dtype: int64
1344 in 1823
2021    873
Name: year, dtype: int64
1345 in 1823
2021    643
Name: year, dtype: int64
1346 in 1823
2020    3600
Name: year, dtype: int64
1347 in 1823
2020    2380
Name: year, dtype: int64
1348 in 1823
2020    56
Name: year, dtype: int64
1349 in 1823
2020    2926
Name: year, dtype: int64
1350 in 1823
2020    1895
Name: year, dtype: int64
1351 in 1823
2021    437
Name: year, dtype: int64
1352 in 1823
2019    256
Name: year, dtype: int64
1353 in 1823
2020    176
Name: year, dtype: int64
1354 in 1823
2019    6277
Name: year, dtype: int64
1355 in 1823
2019    1265
Name: year, dtype: int64
1356 in 1823
2019    4808
Name: year, dtype: int64
1357 in 1823
2021    27
Name: year, dtype: int64
1358 in 1823
2021    4566
Name: year, dtype: int64
1359 in 1823
2021    857
Name: year, dtype: int64
1360 in 1823
2020    76
Name: year, dtype: int64
1361 in 1823
2019    63
Name: year, dtype: int64
1362 in 1823
2020    2745
Name: year, dtype: int64
1363 in 1823
2020    2340
Name: year, dtype: int64
1364 in 1823
2020    2251
Name: year, dtype: int64
1365 in 1823
2019    272
Name: year, dtype: int64
1366 in 1823
2020    2270
Name: year, dtype: int64
1367 in 1823
2019    555
Name: year, dtype: int64
1368 in 1823
2021    5111
Name: year, dtype: int64
1369 in 1823
2021    3737
Name: year, dtype: int64
1370 in 1823
2020    817
Name: year, dtype: int64
1371 in 1823
2019    1162
Name: year, dtype: int64
1372 in 1823
2020    4402
Name: year, dtype: int64
1373 in 1823
2019    313
Name: year, dtype: int64
1374 in 1823
2020    1090
Name: year, dtype: int64
1375 in 1823
2020    843
Name: year, dtype: int64
1376 in 1823
2019    4351
Name: year, dtype: int64
1377 in 1823
2019    1797
Name: year, dtype: int64
1378 in 1823
2020    336
Name: year, dtype: int64
1379 in 1823
2020    3674
Name: year, dtype: int64
1380 in 1823
2020    1688
Name: year, dtype: int64
1381 in 1823
2021    414
Name: year, dtype: int64
1382 in 1823
2020    55
Name: year, dtype: int64
1383 in 1823
2020    1610
Name: year, dtype: int64
1384 in 1823
2020    1892
Name: year, dtype: int64
1385 in 1823
2020    2466
Name: year, dtype: int64
1386 in 1823
2020    5
Name: year, dtype: int64
1387 in 1823
2021    1212
Name: year, dtype: int64
1388 in 1823
2021    1969
Name: year, dtype: int64
1389 in 1823
2019    70
Name: year, dtype: int64
1390 in 1823
2021    954
Name: year, dtype: int64
1391 in 1823
2021    4388
Name: year, dtype: int64
1392 in 1823
2019    8
Name: year, dtype: int64
1393 in 1823
2019    1145
Name: year, dtype: int64
1394 in 1823
2019    3572
Name: year, dtype: int64
1395 in 1823
2021    17
Name: year, dtype: int64
1396 in 1823
2020    1199
Name: year, dtype: int64
1397 in 1823
2021    1166
Name: year, dtype: int64
1398 in 1823
2020    646
Name: year, dtype: int64
1399 in 1823
2020    2102
Name: year, dtype: int64
1400 in 1823
2021    2643
Name: year, dtype: int64
1401 in 1823
2021    8139
Name: year, dtype: int64
1402 in 1823
2020    1540
Name: year, dtype: int64
1403 in 1823
2021    392
Name: year, dtype: int64
1404 in 1823
2019    2137
Name: year, dtype: int64
1405 in 1823
2021    2617
Name: year, dtype: int64
1406 in 1823
2019    1915
Name: year, dtype: int64
1407 in 1823
2020    35
Name: year, dtype: int64
1408 in 1823
2021    200
Name: year, dtype: int64
1409 in 1823
2020    1236
Name: year, dtype: int64
1410 in 1823
2020    317
Name: year, dtype: int64
1411 in 1823
2020    2
Name: year, dtype: int64
1412 in 1823
2020    2789
Name: year, dtype: int64
1413 in 1823
2020    1932
Name: year, dtype: int64
1414 in 1823
2020    4223
Name: year, dtype: int64
1415 in 1823
2021    440
Name: year, dtype: int64
1416 in 1823
2021    69
Name: year, dtype: int64
1417 in 1823
2020    479
Name: year, dtype: int64
1418 in 1823
2020    2186
Name: year, dtype: int64
1419 in 1823
2020    582
Name: year, dtype: int64
1420 in 1823
2019    206
Name: year, dtype: int64
1421 in 1823
2020    1534
Name: year, dtype: int64
1422 in 1823
2020    192
Name: year, dtype: int64
1423 in 1823
2019    991
Name: year, dtype: int64
1424 in 1823
2021    2542
Name: year, dtype: int64
1425 in 1823
2019    813
Name: year, dtype: int64
1426 in 1823
2020    59
Name: year, dtype: int64
1427 in 1823
2019    4485
Name: year, dtype: int64
1428 in 1823
2020    5
Name: year, dtype: int64
1429 in 1823
2021    586
Name: year, dtype: int64
1430 in 1823
2020    959
Name: year, dtype: int64
1431 in 1823
2020    4305
Name: year, dtype: int64
1432 in 1823
2020    649
Name: year, dtype: int64
1433 in 1823
2020    84
Name: year, dtype: int64
1434 in 1823
2021    652
Name: year, dtype: int64
1435 in 1823
2021    52
Name: year, dtype: int64
1436 in 1823
2019    831
Name: year, dtype: int64
1437 in 1823
2019    2483
Name: year, dtype: int64
1438 in 1823
2020    137
Name: year, dtype: int64
1439 in 1823
2019    1773
Name: year, dtype: int64
1440 in 1823
2021    437
Name: year, dtype: int64
1441 in 1823
2020    160
Name: year, dtype: int64
1442 in 1823
2019    354
Name: year, dtype: int64
1443 in 1823
2019    710
Name: year, dtype: int64
1444 in 1823
2021    33
Name: year, dtype: int64
1445 in 1823
2021    2896
Name: year, dtype: int64
1446 in 1823
2019    27
Name: year, dtype: int64
1447 in 1823
2021    2766
Name: year, dtype: int64
1448 in 1823
2019    2805
Name: year, dtype: int64
1449 in 1823
2019    212
Name: year, dtype: int64
1450 in 1823
2021    874
Name: year, dtype: int64
1451 in 1823
2019    281
Name: year, dtype: int64
1452 in 1823
2019    3076
Name: year, dtype: int64
1453 in 1823
2019    430
Name: year, dtype: int64
1454 in 1823
2021    375
Name: year, dtype: int64
1455 in 1823
2021    1014
Name: year, dtype: int64
1456 in 1823
2019    679
Name: year, dtype: int64
1457 in 1823
2020    140
Name: year, dtype: int64
1458 in 1823
2021    53
Name: year, dtype: int64
1459 in 1823
2020    793
Name: year, dtype: int64
1460 in 1823
2020    583
Name: year, dtype: int64
1461 in 1823
2019    134
Name: year, dtype: int64
1462 in 1823
2020    10
Name: year, dtype: int64
1463 in 1823
2020    969
Name: year, dtype: int64
1464 in 1823
2019    1796
Name: year, dtype: int64
1465 in 1823
2020    3726
Name: year, dtype: int64
1466 in 1823
2019    2523
Name: year, dtype: int64
1467 in 1823
2019    675
Name: year, dtype: int64
1468 in 1823
2020    3128
Name: year, dtype: int64
1469 in 1823
2021    778
Name: year, dtype: int64
1470 in 1823
2019    798
Name: year, dtype: int64
1471 in 1823
2021    3445
Name: year, dtype: int64
1472 in 1823
2020    316
Name: year, dtype: int64
1473 in 1823
2019    17
Name: year, dtype: int64
1474 in 1823
2020    156
Name: year, dtype: int64
1475 in 1823
2021    1273
Name: year, dtype: int64
1476 in 1823
2021    2279
Name: year, dtype: int64
1477 in 1823
2020    51
Name: year, dtype: int64
1478 in 1823
2021    4340
Name: year, dtype: int64
1479 in 1823
2020    429
Name: year, dtype: int64
1480 in 1823
2021    98
Name: year, dtype: int64
1481 in 1823
2020    689
Name: year, dtype: int64
1482 in 1823
2021    2406
Name: year, dtype: int64
1483 in 1823
2021    873
Name: year, dtype: int64
1484 in 1823
2020    1425
Name: year, dtype: int64
1485 in 1823
2021    42
Name: year, dtype: int64
1486 in 1823
2019    2055
Name: year, dtype: int64
1487 in 1823
2019    10
Name: year, dtype: int64
1488 in 1823
2021    2497
Name: year, dtype: int64
1489 in 1823
2021    209
Name: year, dtype: int64
1490 in 1823
2020    669
Name: year, dtype: int64
1491 in 1823
2020    1259
Name: year, dtype: int64
1492 in 1823
2020    4827
Name: year, dtype: int64

1493 in 1823
2020    383
Name: year, dtype: int64
1494 in 1823
2021    17
Name: year, dtype: int64
1495 in 1823
2021    1887
Name: year, dtype: int64
1496 in 1823
2021    1005
Name: year, dtype: int64
1497 in 1823
2019    876
Name: year, dtype: int64
1498 in 1823
2019    2333
Name: year, dtype: int64
1499 in 1823
2020    356
Name: year, dtype: int64
1500 in 1823
2019    7676
Name: year, dtype: int64
1501 in 1823
2019    5875
Name: year, dtype: int64
1502 in 1823
2020    3689
Name: year, dtype: int64
1503 in 1823
2020    148
Name: year, dtype: int64
1504 in 1823
2021    7628
Name: year, dtype: int64
1505 in 1823
2021    3810
Name: year, dtype: int64
1506 in 1823
2020    3534
Name: year, dtype: int64
1507 in 1823
2020    693
Name: year, dtype: int64
1508 in 1823
2019    5
Name: year, dtype: int64
1509 in 1823
2020    1289
Name: year, dtype: int64
1510 in 1823
2020    4717
Name: year, dtype: int64
1511 in 1823
2021    941
Name: year, dtype: int64
1512 in 1823
2020    1234
Name: year, dtype: int64
1513 in 1823
2020    499
Name: year, dtype: int64
1514 in 1823
2019    745
Name: year, dtype: int64
1515 in 1823
2020    608
Name: year, dtype: int64
1516 in 1823
2021    554
Name: year, dtype: int64
1517 in 1823
2019    42
Name: year, dtype: int64
1518 in 1823
2021    543
Name: year, dtype: int64
1519 in 1823
2020    206
Name: year, dtype: int64
1520 in 1823
2021    2509
Name: year, dtype: int64
1521 in 1823
2020    185
Name: year, dtype: int64
1522 in 1823
2020    5686
Name: year, dtype: int64
1523 in 1823
2021    196
Name: year, dtype: int64
1524 in 1823
2021    469
Name: year, dtype: int64
1525 in 1823
2020    366
Name: year, dtype: int64
1526 in 1823
2020    538
Name: year, dtype: int64
1527 in 1823
2021    86
Name: year, dtype: int64
1528 in 1823
2019    719
Name: year, dtype: int64
1529 in 1823
2019    3
Name: year, dtype: int64
1530 in 1823
2021    17
Name: year, dtype: int64
1531 in 1823
2020    58
Name: year, dtype: int64
1532 in 1823
2021    969
Name: year, dtype: int64
1533 in 1823
2019    58
Name: year, dtype: int64
1534 in 1823
2021    8287
Name: year, dtype: int64
1535 in 1823
2019    135
Name: year, dtype: int64
1536 in 1823
2020    876
Name: year, dtype: int64
1537 in 1823
2020    24
Name: year, dtype: int64
1538 in 1823
2019    3858
Name: year, dtype: int64
1539 in 1823
2020    427
Name: year, dtype: int64
1540 in 1823
2020    332
Name: year, dtype: int64
1541 in 1823
2020    406
Name: year, dtype: int64
1542 in 1823
2021    3007
Name: year, dtype: int64
1543 in 1823
2021    2196
Name: year, dtype: int64
1544 in 1823
2020    1414
Name: year, dtype: int64
1545 in 1823
2021    21
Name: year, dtype: int64
1546 in 1823
2021    468
Name: year, dtype: int64
1547 in 1823
2021    2398
Name: year, dtype: int64
1548 in 1823
2019    749
Name: year, dtype: int64
1549 in 1823
2019    2713
Name: year, dtype: int64
1550 in 1823
2019    596
Name: year, dtype: int64
1551 in 1823
2019    579
Name: year, dtype: int64
1552 in 1823
2020    33
Name: year, dtype: int64
1553 in 1823
2021    375
Name: year, dtype: int64
1554 in 1823
2020    110
Name: year, dtype: int64
1555 in 1823
2019    498
Name: year, dtype: int64
1556 in 1823
2020    650
Name: year, dtype: int64
1557 in 1823
2021    188
Name: year, dtype: int64
1558 in 1823
2021    2587
Name: year, dtype: int64
1559 in 1823
2019    3254
Name: year, dtype: int64
1560 in 1823
2021    1397
Name: year, dtype: int64
1561 in 1823
2019    223
Name: year, dtype: int64
1562 in 1823
2021    409
Name: year, dtype: int64
1563 in 1823
2021    161
Name: year, dtype: int64
1564 in 1823
2020    4662
Name: year, dtype: int64
1565 in 1823
2021    856
Name: year, dtype: int64
1566 in 1823
2021    1878
Name: year, dtype: int64
1567 in 1823
2019    2576
Name: year, dtype: int64
1568 in 1823
2021    448
Name: year, dtype: int64
1569 in 1823
2020    601
Name: year, dtype: int64
1570 in 1823
2019    145
Name: year, dtype: int64
1571 in 1823
2019    500
Name: year, dtype: int64
1572 in 1823
2020    6126
Name: year, dtype: int64
1573 in 1823
2019    39
Name: year, dtype: int64
1574 in 1823
2019    1649
Name: year, dtype: int64
1575 in 1823
2021    356
Name: year, dtype: int64
1576 in 1823
2021    3247
Name: year, dtype: int64
1577 in 1823
2019    904
Name: year, dtype: int64
1578 in 1823
2021    997
Name: year, dtype: int64
1579 in 1823
2021    2706
Name: year, dtype: int64
1580 in 1823
2021    622
Name: year, dtype: int64
1581 in 1823
2020    1020
Name: year, dtype: int64
1582 in 1823
2021    2641
Name: year, dtype: int64
1583 in 1823
2020    180
Name: year, dtype: int64
1584 in 1823
2020    58
Name: year, dtype: int64
1585 in 1823
2020    900
Name: year, dtype: int64
1586 in 1823
2021    585
Name: year, dtype: int64
1587 in 1823
2020    322
Name: year, dtype: int64
1588 in 1823
2019    2
Name: year, dtype: int64
1589 in 1823
2020    296
Name: year, dtype: int64
1590 in 1823
2021    2466
Name: year, dtype: int64
1591 in 1823
2020    2864
Name: year, dtype: int64
1592 in 1823
2019    1915
Name: year, dtype: int64
1593 in 1823
2019    2892
Name: year, dtype: int64
1594 in 1823
2020    3065
Name: year, dtype: int64
1595 in 1823
2019    619
Name: year, dtype: int64
1596 in 1823
2020    1818
Name: year, dtype: int64
1597 in 1823
2020    539
Name: year, dtype: int64
1598 in 1823
2020    1134
Name: year, dtype: int64
1599 in 1823
2019    1856
Name: year, dtype: int64
1600 in 1823
2020    9
Name: year, dtype: int64
1601 in 1823
2020    6748
Name: year, dtype: int64
1602 in 1823
2019    82
Name: year, dtype: int64
1603 in 1823
2021    2792
Name: year, dtype: int64
1604 in 1823
2021    1086
Name: year, dtype: int64
1605 in 1823
2021    64
Name: year, dtype: int64
1606 in 1823
2020    915
Name: year, dtype: int64
1607 in 1823
2021    3390
Name: year, dtype: int64
1608 in 1823
2021    776
Name: year, dtype: int64
1609 in 1823
2021    904
Name: year, dtype: int64
1610 in 1823
2020    2236
Name: year, dtype: int64
1611 in 1823
2020    968
Name: year, dtype: int64
1612 in 1823
2019    2038
Name: year, dtype: int64
1613 in 1823
2020    2400
Name: year, dtype: int64
1614 in 1823
2019    1559
Name: year, dtype: int64
1615 in 1823
2021    443
Name: year, dtype: int64
1616 in 1823
2019    5247
Name: year, dtype: int64
1617 in 1823
2021    1291
Name: year, dtype: int64
1618 in 1823
2021    1302
Name: year, dtype: int64
1619 in 1823
2020    890
Name: year, dtype: int64
1620 in 1823
2019    1196
Name: year, dtype: int64
1621 in 1823
2021    1634
Name: year, dtype: int64
1622 in 1823
2020    1235
Name: year, dtype: int64
1623 in 1823
2019    1696
Name: year, dtype: int64
1624 in 1823
2021    1910
Name: year, dtype: int64
1625 in 1823
2021    16
Name: year, dtype: int64
1626 in 1823
2020    129
Name: year, dtype: int64
1627 in 1823
2020    2240
Name: year, dtype: int64
1628 in 1823
2021    2468
Name: year, dtype: int64
1629 in 1823
2020    593
Name: year, dtype: int64
1630 in 1823
2020    427
Name: year, dtype: int64
1631 in 1823
2021    50
Name: year, dtype: int64
1632 in 1823
2020    933
Name: year, dtype: int64
1633 in 1823
2019    1832
Name: year, dtype: int64
1634 in 1823
2020    29
Name: year, dtype: int64
1635 in 1823
2021    154
Name: year, dtype: int64
1636 in 1823
2020    1089
Name: year, dtype: int64
1637 in 1823
2019    1221
Name: year, dtype: int64
1638 in 1823
2021    5
Name: year, dtype: int64
1639 in 1823
2019    2066
Name: year, dtype: int64
1640 in 1823
2020    300
Name: year, dtype: int64
1641 in 1823
2020    1180
Name: year, dtype: int64
1642 in 1823
2019    3438
Name: year, dtype: int64
1643 in 1823
2021    1371
Name: year, dtype: int64
1644 in 1823
2021    778
Name: year, dtype: int64
1645 in 1823
2019    1375
Name: year, dtype: int64
1646 in 1823
2021    7919
Name: year, dtype: int64
1647 in 1823
2020    3
Name: year, dtype: int64
1648 in 1823
2021    969
Name: year, dtype: int64
1649 in 1823
2021    2679
Name: year, dtype: int64
1650 in 1823
2020    39
Name: year, dtype: int64
1651 in 1823
2019    288
Name: year, dtype: int64
1652 in 1823
2019    1144
Name: year, dtype: int64
1653 in 1823
2021    1434
Name: year, dtype: int64
1654 in 1823
2019    1165
Name: year, dtype: int64
1655 in 1823
2021    1684
Name: year, dtype: int64

1656 in 1823
2021    409
Name: year, dtype: int64
1657 in 1823
2020    239
Name: year, dtype: int64
1658 in 1823
2019    118
Name: year, dtype: int64
1659 in 1823
2021    390
Name: year, dtype: int64
1660 in 1823
2019    2396
Name: year, dtype: int64
1661 in 1823
2019    1694
Name: year, dtype: int64
1662 in 1823
2020    2667
Name: year, dtype: int64
1663 in 1823
2021    105
Name: year, dtype: int64
1664 in 1823
2021    2489
Name: year, dtype: int64
1665 in 1823
2019    1858
Name: year, dtype: int64
1666 in 1823
2021    25
Name: year, dtype: int64
1667 in 1823
2020    3779
Name: year, dtype: int64
1668 in 1823
2020    733
Name: year, dtype: int64
1669 in 1823
2021    1458
Name: year, dtype: int64
1670 in 1823
2020    2302
Name: year, dtype: int64
1671 in 1823
2021    411
Name: year, dtype: int64
1672 in 1823
2019    2097
Name: year, dtype: int64
1673 in 1823
2019    1409
Name: year, dtype: int64
1674 in 1823
2020    1214
Name: year, dtype: int64
1675 in 1823
2020    1206
Name: year, dtype: int64
1676 in 1823
2021    1408
Name: year, dtype: int64
1677 in 1823
2021    33
Name: year, dtype: int64
1678 in 1823
2020    450
Name: year, dtype: int64
1679 in 1823
2019    1836
Name: year, dtype: int64
1680 in 1823
2019    346
Name: year, dtype: int64
1681 in 1823
2019    1305
Name: year, dtype: int64
1682 in 1823
2020    1520
Name: year, dtype: int64
1683 in 1823
2021    1237
Name: year, dtype: int64
1684 in 1823
2019    1727
Name: year, dtype: int64
1685 in 1823
2020    3138
Name: year, dtype: int64
1686 in 1823
2021    265
Name: year, dtype: int64
1687 in 1823
2019    828
Name: year, dtype: int64
1688 in 1823
2021    722
Name: year, dtype: int64
1689 in 1823
2021    381
Name: year, dtype: int64
1690 in 1823
2020    219
Name: year, dtype: int64
1691 in 1823
2020    1452
Name: year, dtype: int64
1692 in 1823
2021    518
Name: year, dtype: int64
1693 in 1823
2020    1282
Name: year, dtype: int64
1694 in 1823
2021    2557
Name: year, dtype: int64
1695 in 1823
2020    3853
Name: year, dtype: int64
1696 in 1823
2021    20
Name: year, dtype: int64
1697 in 1823
2020    706
Name: year, dtype: int64
1698 in 1823
2020    9
Name: year, dtype: int64
1699 in 1823
2019    2811
Name: year, dtype: int64
1700 in 1823
2020    817
Name: year, dtype: int64
1701 in 1823
2019    101
Name: year, dtype: int64
1702 in 1823
2019    301
Name: year, dtype: int64
1703 in 1823
2021    1848
Name: year, dtype: int64
1704 in 1823
2020    610
Name: year, dtype: int64
1705 in 1823
2020    472
Name: year, dtype: int64
1706 in 1823
2021    157
Name: year, dtype: int64
1707 in 1823
2020    280
Name: year, dtype: int64
1708 in 1823
2020    2386
Name: year, dtype: int64
1709 in 1823
2021    2707
Name: year, dtype: int64
1710 in 1823
2020    930
Name: year, dtype: int64
1711 in 1823
2021    62
Name: year, dtype: int64
1712 in 1823
2020    428
Name: year, dtype: int64
1713 in 1823
2021    1108
Name: year, dtype: int64
1714 in 1823
2021    1979
Name: year, dtype: int64
1715 in 1823
2020    1277
Name: year, dtype: int64
1716 in 1823
2021    183
Name: year, dtype: int64
1717 in 1823
2020    7409
Name: year, dtype: int64
1718 in 1823
2021    23
Name: year, dtype: int64
1719 in 1823
2021    2145
Name: year, dtype: int64
1720 in 1823
2019    243
Name: year, dtype: int64
1721 in 1823
2020    2425
Name: year, dtype: int64
1722 in 1823
2019    5
Name: year, dtype: int64
1723 in 1823
2019    397
Name: year, dtype: int64
1724 in 1823
2021    6167
Name: year, dtype: int64
1725 in 1823
2021    3576
Name: year, dtype: int64
1726 in 1823
2020    969
Name: year, dtype: int64
1727 in 1823
2020    921
Name: year, dtype: int64
1728 in 1823
2020    787
Name: year, dtype: int64
1729 in 1823
2021    122
Name: year, dtype: int64
1730 in 1823
2021    4099
Name: year, dtype: int64
1731 in 1823
2020    1262
Name: year, dtype: int64
1732 in 1823
2020    5315
Name: year, dtype: int64
1733 in 1823
2019    3254
Name: year, dtype: int64
1734 in 1823
2021    139
Name: year, dtype: int64
1735 in 1823
2020    1770
Name: year, dtype: int64
1736 in 1823
2021    3472
Name: year, dtype: int64
1737 in 1823
2021    3524
Name: year, dtype: int64
1738 in 1823
2021    101
Name: year, dtype: int64
1739 in 1823
2021    6
Name: year, dtype: int64
1740 in 1823
2020    1185
Name: year, dtype: int64
1741 in 1823
2019    1501
Name: year, dtype: int64
1742 in 1823
2020    163
Name: year, dtype: int64
1743 in 1823
2021    1526
Name: year, dtype: int64
1744 in 1823
2020    1170
Name: year, dtype: int64
1745 in 1823
2021    1651
Name: year, dtype: int64
1746 in 1823
2019    4
Name: year, dtype: int64
1747 in 1823
2021    658
Name: year, dtype: int64
1748 in 1823
2019    824
Name: year, dtype: int64
1749 in 1823
2021    923
Name: year, dtype: int64
1750 in 1823
2019    1100
Name: year, dtype: int64
1751 in 1823
2021    4645
Name: year, dtype: int64
1752 in 1823
2021    17
Name: year, dtype: int64
1753 in 1823
2020    435
Name: year, dtype: int64
1754 in 1823
2020    10
Name: year, dtype: int64
1755 in 1823
2020    2667
Name: year, dtype: int64
1756 in 1823
2020    2005
Name: year, dtype: int64
1757 in 1823
2020    125
Name: year, dtype: int64
1758 in 1823
2021    2441
Name: year, dtype: int64
1759 in 1823
2020    187
Name: year, dtype: int64
1760 in 1823
2019    1708
Name: year, dtype: int64
1761 in 1823
2021    557
Name: year, dtype: int64
1762 in 1823
2020    1924
Name: year, dtype: int64
1763 in 1823
2020    1588
Name: year, dtype: int64
1764 in 1823
2021    658
Name: year, dtype: int64
1765 in 1823
2021    2440
Name: year, dtype: int64
1766 in 1823
2019    1314
Name: year, dtype: int64
1767 in 1823
2020    4442
Name: year, dtype: int64
1768 in 1823
2019    259
Name: year, dtype: int64
1769 in 1823
2019    1051
Name: year, dtype: int64
1770 in 1823
2020    2402
Name: year, dtype: int64
1771 in 1823
2020    95
Name: year, dtype: int64
1772 in 1823
2019    228
Name: year, dtype: int64
1773 in 1823
2021    831
Name: year, dtype: int64
1774 in 1823
2020    4248
Name: year, dtype: int64
1775 in 1823
2019    972
Name: year, dtype: int64
1776 in 1823
2020    1643
Name: year, dtype: int64
1777 in 1823
2021    446
Name: year, dtype: int64
1778 in 1823
2019    6199
Name: year, dtype: int64
1779 in 1823
2020    761
Name: year, dtype: int64
1780 in 1823
2020    1912
Name: year, dtype: int64
1781 in 1823
2019    134
Name: year, dtype: int64
1782 in 1823
2019    1512
Name: year, dtype: int64
1783 in 1823
2020    22
Name: year, dtype: int64
1784 in 1823
2019    1925
Name: year, dtype: int64
1785 in 1823
2021    468
Name: year, dtype: int64
1786 in 1823
2021    111
Name: year, dtype: int64
1787 in 1823
2019    227
Name: year, dtype: int64
1788 in 1823
2019    544
Name: year, dtype: int64
1789 in 1823
2020    109
Name: year, dtype: int64
1790 in 1823
2020    1607
Name: year, dtype: int64
1791 in 1823
2020    1235
Name: year, dtype: int64
1792 in 1823
2021    626
Name: year, dtype: int64
1793 in 1823
2021    260
Name: year, dtype: int64
1794 in 1823
2021    6
Name: year, dtype: int64
1795 in 1823
2020    8
Name: year, dtype: int64
1796 in 1823
2019    3608
Name: year, dtype: int64
1797 in 1823
2021    1675
Name: year, dtype: int64
1798 in 1823
2021    1324
Name: year, dtype: int64
1799 in 1823
2020    67
Name: year, dtype: int64
1800 in 1823
2020    101
Name: year, dtype: int64
1801 in 1823
2020    1120
Name: year, dtype: int64
1802 in 1823
2020    598
Name: year, dtype: int64
1803 in 1823
2020    2206
Name: year, dtype: int64
1804 in 1823
2020    742
Name: year, dtype: int64
1805 in 1823
2019    1223
Name: year, dtype: int64
1806 in 1823
2019    892
Name: year, dtype: int64
1807 in 1823
2021    3830
Name: year, dtype: int64
1808 in 1823
2020    472
Name: year, dtype: int64
1809 in 1823
2019    2000
Name: year, dtype: int64
1810 in 1823
2020    3193
Name: year, dtype: int64
1811 in 1823
2021    52
Name: year, dtype: int64
1812 in 1823
2020    2246
Name: year, dtype: int64
1813 in 1823
2020    70
Name: year, dtype: int64
1814 in 1823
2021    78
Name: year, dtype: int64
1815 in 1823
2021    45
Name: year, dtype: int64
1816 in 1823
2019    1357
Name: year, dtype: int64
1817 in 1823
2021    5
Name: year, dtype: int64
1818 in 1823
2021    3178
Name: year, dtype: int64

1819 in 1823
2020    7832
Name: year, dtype: int64
1820 in 1823
2019    1760
Name: year, dtype: int64
1821 in 1823
2021    3992
Name: year, dtype: int64
1822 in 1823
2020    904
Name: year, dtype: int64
number of observtaions for 2019, 2020, 2021: 663268 999290 930799

In [80]:
##directly join the l2b metrics with the tile 173060 level l4a smaples 
tileEx= pd.read_csv('ls_ltr_training/biome1_l4a_topo_ls_lhs_nbr_33_dur8_highval.csv')
print(tileEx.shape)
tileEx['shot_number'].duplicated().value_counts()

data = [l2b_samps2019, l2b_samps2020, l2b_samps2021]
l2b_samps_all= pd.concat(data)

tileEx2 =tileEx.drop_duplicates()
tileEx2.shape

tileEx3= tileEx.drop_duplicates(subset=['shot_number'])
tileEx3.shape

tile_samps_l2bl4a = tileEx3.merge(l2b_samps_all,on='shot_number',how='left')
print(tile_samps_l2bl4a.shape)

(2432320, 234)

## Step 5 left join with the level 4a data to retrive the original l4a attributes

In [82]:
subSamps=[tileSamps, tileSamps2, tileSamps3]#pd.read_csv('samples/all_gedi_tile173060plus3.csv')
allSamps = pd.concat(subSamps)

print(allSamps.shape)
tt= allSamps[~allSamps['agbd'].isna()]  #822686
tt2= allSamps.loc[(allSamps['algorithm_run_flag']==1) & (allSamps['l2_quality_flag']==1) &
#                           (alldf['degrade_flag']==0) &
#                             (tileSamps['biome']==1)&
#                            (df['biome']!=13) & (df['biome']!=14) & (df['biome']!=0) &
                          (allSamps['l4_quality_flag']==1) & allSamps['agbd'].notnull()]
print(len(tt), len(tt2))

(2649875, 52)
2649875 2649875

In [83]:
tile_samps_l2bl4a_2 = tile_samps_l2bl4a.merge(tt2,on='shot_number',how='left')
print(tile_samps_l2bl4a_2.shape)

(2432320, 285)

In [84]:
#key quality filtre first applied here 
tile_samps_l2bl4a_2['agbd']  = tile_samps_l2bl4a_2['agbd_x']
tile_samps_l2bl4a_2=  tile_samps_l2bl4a_2.loc[(tile_samps_l2bl4a_2['l2a_quality_flag']==1) &
                                    (tile_samps_l2bl4a_2['l2b_quality_flag']==1) &
                                    (tile_samps_l2bl4a_2['geolocation_degrade_flag']==0) &
                          (tile_samps_l2bl4a_2['l4_quality_flag']==1) & tile_samps_l2bl4a_2['agbd'].notnull()]

print(tile_samps_l2bl4a_2.shape)

(1679042, 286)

In [85]:
tile_samps_l2bl4a_2.to_csv('ls_ltr_training/biome1_l4a_topo_ls_lhs_nbr_33_dur8_highval_filtered.csv')

## From now on go to step 8a and 8b (skip extraction and start w/ modelling step) for tile level model training and fitting